<div class="white-box" *ngIf="!isAddAlert">
  <div class="row p-b-30">
    <h3 class="box-title col-10">SMS ALERTS</h3>
    <button class="btn btn-warning col-2 pull-right" (click)="redirectAddSMSAlert()">Add SMS Alert</button>
  </div>
  <div class="table-responsive" style="text-align: center">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Sender ID</th>
          <th>Alert Type</th>
          <th>Alert Content</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngIf="!noAlerts">
        <tr *ngFor="let alert of smsAlerts ; let i = index">
          <td>{{(currentPage-1)*10+i+1}}</td>
          <td>
            <a routerLink="/settings/sms-alerts/add/{{alert._id}}/{{currentPage}}">{{alert.sender_id != undefined ? alert.sender_id : '--'}}</a>
          </td>
          <td>{{alert.alert_type != undefined ? alert.alert_type : '--'}}</td>
          <td>{{alert.alert_content != undefined ? alert.alert_content : '--'}}</td>
          <td>{{alert.status != undefined ? alert.status : '--'}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="noAlerts">
        <td colspan="5" style="padding-top: 50px"> SMS Alerts Not Found. </td>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="paginationStatus && !isAddAlert">
  <div class="text-center">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">First</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a *ngIf="page==currentPage" class= "page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
              <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(convertInt(pager.currentPage)+1)">Next</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
          </li>
      </ul>
  </div>
</div>

<div class="white-box" *ngIf="isAddAlert">
  <div class="row">
    <div class="col-6">
      <h3 class="box-title m-b-0">{{ editAlertId && editAlertId == 0 ? 'ADD SMS ALERT' : 'EDIT SMS ALERT'}}</h3>
    </div>
    <div class="col-6">
      <button class="btn btn-warning pull-right" (click)="backClicked()">Back</button>
    </div>
  </div>
  <form class="form" #addSMSForm="ngForm">
    <p class="text-muted m-b-30 font-13"> </p>
    <div class="form-group row">
      <label for="example-sender-id-input" class="col-2 col-form-label">Sender ID</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="addSMSAlert.sender_id" placeholder="Enter Sender ID" name="sender_id"
          id="example-sender-id-input" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="alert-type" class="col-2 col-form-label">Alert Type</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="addSMSAlert.alert_type" placeholder="Enter Alert Type" id="alert-type"
          name="alert_type" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-alert-content-input" class="col-2 col-form-label">Alert Content</label>
      <div class="col-10">
        <textarea class="form-control" name="alert_content" type="text" [(ngModel)]="addSMSAlert.alert_content" placeholder="Enter Alert Content"
          id="example-alert-content-input" required></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-status-input" class="col-2 col-form-label">Status</label>
      <div class="col-10">
        <select class="form-control" name="status" [(ngModel)]="addSMSAlert.status" id="example-status-input" required>
          <option selected value="active" hidden>
            {{addSMSAlert.status}}
          </option>
          <option *ngFor="let o of options">
            {{o.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <button *ngIf="editAlertId == 0" type="button" [disabled]="alertButtonStatus" class="btn btn-info col-2" (click)="onSubmitAddAlert()">Submit</button>
      <button *ngIf="editAlertId && editAlertId != 0" type="button" class="btn btn-info col-2" (click)="onSubmitUpdateAlert()">Update</button>
      <div class="col-10">
        <p *ngIf="errAddSMSAlert" class="text-danger">{{ errAddSMSAlertMessage }} </p>
      </div>
    </div>
  </form>
</div>
