<div>
  <form class="form" #removeSmsDataForm="ngForm">
    <p class="text-muted m-b-30 font-13"> </p>
    <div class="form-group row ">
      <label class="col-2 col-form-label" for="mid">Enter mid:</label>
      <div class="col-3">
        <input class="form-control" type="text" [(ngModel)]="mid" placeholder="Enter mid" name="midId"
          id="midId" required #midId="ngModel">
      </div>
      <button  class="btn btn-danger" (click)="removeSmsData()" type="button"> Delete Data
      </button>
    </div>
  </form>
  <div>
    {{message}}
  </div>
</div>
