<div class="white-box">
  <h3 class="box-title">Paynear Locations</h3>
  <div class="white-box" style="font-family: initial;">
    <div class="row">
      <div class="col-md-12">
        <label>From:&nbsp;&nbsp;</label>
        <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="from_date">&nbsp;&nbsp;
        <b>To:&nbsp;&nbsp;</b>
        <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="to_date"> &nbsp;&nbsp;

        <button type="button" class="btn btn-info" (click)="searchPaynearLocations(1)">
          <i class="fa fa-search"> Search</i>
        </button>&nbsp;&nbsp;
        <button type="button" class="btn btn-warning" (click)="onClickReset()">
          <i class="fa fa-recycle"> Reset</i>
        </button>
      </div>
    </div>
    <br>
    <div class="table-responsive" *ngIf='pagedItems.length >0'>
      <table class="table table-bordered mb-0" style="text-align:center">
        <thead class="thead-dark">
          <tr>
            <th>S.No</th>
            <th>Name&&Email<br>
              Mobile Number</th>
            <th>Date</th>
            <th>Saved Type</th>
            <th>Coordinates</th>
            <th>Formatted Address</th>
            <th>Locality</th>
            <th>District</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedItems;let i=index" class="w3-hover-blue">
            <td> {{pageStartIndex+i+1}}</td>
            <td>{{item.user_data[0].name}}<br>{{item.user_data[0].email}}<br>{{item.user_data[0].mobile_number}}</td>

            <td>{{item.clicked_on | date:'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>
              {{item.saved_type?item.saved_type:'--'}}
            </td>
            <td>
              {{item.coordinates?item.coordinates:'--'}}
            </td>
            <td>
              {{item.formatted_address?item.formatted_address:'--'}}
            </td>
            <td>
              {{item.company_address.locality?item.company_address.locality:'--'}}
            </td>
            <td>
              {{item.company_address.district?item.company_address.district:'--'}}
            </td>
            <td>
              {{item.company_address.state?item.company_address.state:'--'}}
            </td>

          </tr>
        </tbody>
      </table>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="searchPaynearLocations($event)"
        [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true"></ngb-pagination>
    </div>
  </div>

  <div class="white-box" *ngIf="pagedItems.length <= 0">
    No records found
  </div>

  <!-- <div class="container" *ngIf="paginationStatus">
    <div class="text-center">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
          <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(convertInt(pager.currentPage) + 1)">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div> -->