<div>
  <form class="form" #predictCreditForm="ngForm">
    <p class="text-muted m-b-30 font-13"> </p>
    <div class="form-group row ">
      <label class="col-2 col-form-label" for="mid">Enter mid:</label>
      <div class="col-3">
        <input class="form-control" type="text" [(ngModel)]="mid" placeholder="Enter mid" name="midId" id="midId"
          required #midId="ngModel">
      </div>
      <button class="btn btn-success" (click)="predictLimit()" type="button"> Submit
      </button>
    </div>
  </form>
  <div>
    <b>{{message}}</b>
  </div>
  <br/>
  <table *ngIf="gotPredictedData" class="table table-bordered table-striped table-responsive">
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let key of getKeys(predictData)">
      <td>{{key}}</td>
      <td>{{predictData[key]}}</td>
    </tr>
  </table>

</div>