<div class="white-box">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>404</h1>
      <h3 class="text-uppercase">Page Not Found !</h3>
      <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/starter']">Back to home</a>
    </div>
  </div>
</div>
