.input-append .btn.dropdown-toggle {
    float: none;
}
.modal-dialog {
    max-width: 1200px;
    max-height: 500px;
    margin: 1.75rem auto;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem;
}

div.ex1 {
    background-color: rgb(248, 248, 248);
    overflow: scroll;
}

button:disabled, button:disabled:hover{
    cursor:not-allowed
}
