<!-- <div>
    <ngx-toasta [position]="'top-right'"></ngx-toasta>
</div> -->
<div class="white-box">
    <h3 class="box-title">Users</h3>
    <div class="row input-group">
        <!-- Mobile filter -->
        <label value="mobile_number">Mobile</label>
        <br />
        <input type="text" class="form-control col-md-3" [value]="searchWithMobile" name="searchWithMobile" placeholder="Enter Mobile Number" (input)="searchWithMobile = $event.target.value"> &nbsp;&nbsp;
        <label value="mid">MID</label>
        <br />
        <input type="text" class="form-control col-md-3" [value]="searchWithMid" name="searchWithMid" placeholder="Enter MID" (input)="searchWithMid = $event.target.value"> &nbsp;&nbsp;
        <!-- Amount from -->
        <label>Amount From:</label>
        <br />
        <input type='number' class="form-control col-md-2" placeholder="Enter Amount" [(ngModel)]="searchWithFromAmount">&nbsp;&nbsp;
        <!-- Amount to -->
        <label>Amount To:</label>
        <input type='number' class="form-control col-md-2" placeholder="Enter Amount" [(ngModel)]="searchWithToAmount">&nbsp;&nbsp;
        <div class="input-group-btn">
            <label>
                <b>OS :</b>
            </label>
            <select class="form-control col-md-8" (click)="versionType(OS)" [(ngModel)]="OS">
                <option value="select" selected>select</option>
                <option value={{OS.value}} *ngFor="let OS of OSOptions">
                    {{OS.name}}</option>
            </select>
        </div>&nbsp;&nbsp;
        <label *ngIf="android || ios">
            <b>Select Version :</b>
        </label>
        <select *ngIf="android" class="form-control col-md-2" [(ngModel)]="searchWithAppVersion">
            <option value="ALL">ALL</option>
            <option value={{version.value}} *ngFor="let version of VersionOptionsAndroid">
                {{version.name}}</option>
        </select>
        <select *ngIf="ios" class="form-control col-md-2" [(ngModel)]="searchWithAppVersion">
            <option value="ALL">ALL</option>
            <option value={{version.value}} *ngFor="let version of VersionOptionsIos">
                {{version.name}}</option>
        </select>

    </div>
    <br />
    <div class="row input-group">
        <label>From:&nbsp;&nbsp;</label>
        <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="fromDate">&nbsp;&nbsp;
        <b>To:&nbsp;&nbsp;</b>
        <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="toDate"> &nbsp;&nbsp;
        <button type="button" class="btn btn-info form-control col-md-1" (click)="search()">
            <b><i class="fa fa-search"> Search</i></b>
        </button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default" (click)="reset()">
            <b><i class="fa fa-recycle"> Clear Filter</i></b>
        </button>&nbsp;&nbsp;&nbsp;
        <!-- <button type="button" class="btn btn-info" data-toggle="modal" data-target="#recalculate" >Recalculate all users</button> -->
    </div>
    <div class="col-md-12">
        <div class="input-group">
            <!-- Date filters -->
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <label>
                <b>Credit Limit[0] :</b>
            </label> {{count_0}}</div>
        <div class="col-sm-2">
            <label>
                <b>Credit Limit[0-500] :</b>
            </label> {{count_500}}</div>
        <div class="col-sm-2">
            <label>
                <b>Credit Limit[500-1000] :</b>
            </label> {{count_1000}}</div>
        <div class="col-sm-2">
            <label>
                <b>Credit Limit[1000-1500] :</b>
            </label> {{count_1500}}</div>
        <div class="col-sm-2">
            <label>
                <b>Credit Limit[3000] :</b>
            </label> {{count_3000}}</div>
        <div class="col-sm-2">
            <label>
                <b>Credit Limit[5000] :</b>
            </label> {{count_5000}}</div>
        <!-- <p class="text-center"> -->

        <!-- </p> -->




    </div>
    <div style="text-align: center">
        <label>
            <b>Records Found :</b>
        </label> {{usersLength}}</div>

    <div class="white-box" *ngIf="!findStatus">
        <h3 class="box-title" style="text-align: center"> No records found </h3>
    </div>
    <div class="table-responsive" style="text-align: center" *ngIf="findStatus">
        <table class="table color-table inverse-table">
            <thead>
                <tr>
                    <th>S.no</th>
                    <!-- <th>User_id</th> -->
                    <th>Mobile no</th>
                    <th>Name&Email
                        <br>mid</th>
                    <!-- <th>Password</th> -->
                    <th>Credit Available</th>
                    <th>Credit Due</th>
                    <th>Credit Limit</th>
                    <th>Convenience Fee
                        <i class="fa fa-percent"></i>
                    </th>
                    <th>Duplicate Account</th>
                    <th>Predicted Date</th>
                    <th>Profile Update</th>
                    <!-- <th>Mobile_pin</th> -->
                    <!-- <th>Register_merchant</th> -->
                    <th>Paid Once</th>
                    <th>User Status</th>
                    <th>Version & Register Date</th>
                    <th>Due Date</th>
                    <th>Recalculate</th>
                    <th>Pn Id</th>
                    <th>Predicted MSG</th>
                    <th>Check SmsCounts</th>
                    <th>View Events</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userDetails ; let i = index">
                    <td *ngIf="superAdmin">
                        <i style="cursor: pointer" (click)="edit(user)" data-toggle="modal" data-target="#updateUser">
                            {{(currentPageValue-1)*10+i+1}}</i>
                    </td>
                    <td *ngIf="!superAdmin">{{(currentPageValue-1)*10+i+1}}</td>
                    <td [ngStyle]="{'color':user.login_status == 'login' ? 'green' : 'red' }">
                        <a class="link" color="blue" (click)=getUserInformation(user.mobile_number) data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo">{{user.mobile_number != undefined ? user.mobile_number : '--'}}</a>
                    </td>
                    <td>{{user.name != undefined ? user.name:'---'}}
                        <br>{{user.email != undefined ? user.email : '--'}}
                        <br>{{user.mid!= undefined ?user.mid:'---'}}</td>
                    <!-- <td>{{user.password != undefined?user.password : "--"}}</td> -->
                    <td>{{user.credit_available != undefined ? (user.credit_available | number : '1.2-2') : 0}}</td>
                    <td>{{user.credit_due != undefined ? (user.credit_due| number : '1.2-2' ): 0}}</td>
                    <td>{{user.credit_limit != undefined ? (user.credit_limit | number : '1.2-2') : 0}}</td>
                    <td>

                        App: {{user.con_fee != undefined ? (user.con_fee| number : '1.2-2') : 0 }}
                        <br> Sdk: {{user.sdk_con_fee != undefined ? (user.sdk_con_fee| number : '1.2-2') : 0 }}
                        <br> Web: {{user.web_con_fee != undefined ? (user.web_con_fee| number : '1.2-2') : 0 }}</td>
                    <td>{{user.duplicate_account != undefined ?user.duplicate_account == true?'yes':'No':'---'}}</td>
                    <td>{{user.predicted_date != undefined ?(user.predicted_date|date: 'dd-MM-yyyy HH:mm:ss'):"Not Predicted"}}
                    </td>
                    <td>{{user.is_profile_update!= undefined ?user.is_profile_update:'---'}}</td>
                    <!-- <td>{{user.mobile_pin != undefined ? user.mobile_pin : '--'}}</td> -->
                    <!-- <td>{{user.register_merchant != undefined ? user.register_merchant : '--'}}</td> -->
                    <td>{{user.is_paid_once != undefined ? user.is_paid_once == 1 ? 'Yes' : 'No' : '--'}}</td>
                    <td>{{user.user_status != undefined ? user.user_status == 1 ? 'Active' : 'InActive' : '--'}}</td>
                    <td>Version: {{user.app_version != undefined?user.app_version:'--'}}
                        <br>{{user.register_date != undefined ? (user.register_date |date: 'dd-MM-yyyy HH:mm:ss') : "--"}}</td>
                    <td>{{(user.due_date != undefined && user.due_date > 0) ? (user.due_date |date: 'dd-MM-yyyy HH:mm:ss') :
                        "--"}}
                    </td>
                    <td>
                        <button *ngIf="user.is_predict_value || user.predicted_date" type="button" class="btn btn-info" [disabled]="buttonActive"
                            (click)="recalculate(user)">recalculate</button>
                        <!-- <p *ngIf="!user.is_predict_value && !user.predicted_date">---</p> -->
                        <button *ngIf="!user.is_predict_value && !user.predicted_date" type="button" class="btn btn-success" [disabled]="!user.last_repredicted_check"
                            (click)="rePredictCheck(user)">RePredict & Sms</button>
                    </td>
                    <!-- <td> <a href="{{user.pn_id}}"><i class="fa fa-link"></i></a> </td> -->
                    <!-- <td><a href="{{user.pn_id}}"><i class="fa fa-link"></i></a></td>  -->
                    <td>
                        <button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="{{user.pn_id != undefined?user.pn_id:'---'}}"
                            (click)="PnIdpopup(user.pn_id)" data-toggle="modal" data-target="#PopUp">
                            Pn Id
                        </button>
                    </td>
                    <td> {{ (user.PredictedAmounts[user.PredictedAmounts.length-1] && user.PredictedAmounts[user.PredictedAmounts.length-1].message
                        != undefined) ? user.PredictedAmounts[user.PredictedAmounts.length-1].message : '---' }}
                        <sup *ngIf="user.PredictedAmounts[0] && user.PredictedAmounts[0].user_id != undefined">
                            <i style="cursor: pointer" class="fa fa-edit" (click)="displyDetails(user.PredictedAmounts[user.PredictedAmounts.length-1].user_id )"
                                data-toggle="modal" data-target="#predictedAmountModel">
                            </i>
                        </sup>
                    </td>
                    <!-- <td> <img src='./assets/Copy.gif' (click)="copyToClipboard()" ngxClipboard [cbContent]="textToCopy" /></td> -->
                    <td>
                        <button type="button" class="btn btn-info" (click)="SmsCounts(user)" data-toggle="modal" data-target="#showsmsCounts">counts</button>
                    </td>
                    <td>
                        <button class="btn btn-info m-t-10" (click)="getEvents(user._id)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <div class="container" *ngIf="paginationStatus">
    <div class="text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
                <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(convertInt(pager.currentPage)+1)">Next</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div> -->

<div *ngIf="usersLength > 10">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="usersLength" [maxSize]="8" [(page)]="currentPageValue" [boundaryLinks]="true" (pageChange)="pageChange(searchFilterObj)"></ngb-pagination>

    <!-- <button (click)="showSuccess()">Add Toast</button> -->
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Authenticate Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="white-box">
                    <div class="table-responsive" style="text-align: center">
                        <table class="table color-table inverse-table" *ngIf="authenticateStatus && authenticateInfo">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Mobile Number</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Status Code</th>
                                    <th>Device Details</th>
                                    <th>OS version</th>
                                    <th>Source</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="authenticateStatus && authenticateInfo">
                                <tr>
                                    <td>{{authenticateInfo.user_id != undefined ?authenticateInfo.user_id : "--"}}</td>
                                    <td>{{authenticateInfo.mobile_number ? authenticateInfo.mobile_number : "--"}}</td>
                                    <td>{{authenticateInfo.date != undefined ? (authenticateInfo.date |date: 'dd-MM-yyyy HH:mm:ss')
                                        : "--"}}</td>
                                    <td>{{authenticateInfo.status != undefined ? authenticateInfo.status : "--"}}</td>
                                    <td>{{authenticateInfo.status_code != undefined ? authenticateInfo.status_code : "--"}}
                                    </td>
                                    <td>{{authenticateInfo.device_details != undefined ? (authenticateInfo.device_details | json)
                                        :"--"}}
                                    </td>
                                    <td>{{authenticateInfo.device_details != undefined && authenticateInfo.device_details.os_version
                                        != undefined ? authenticateInfo.device_details.os_version :"--"}}</td>
                                    <td>{{authenticateInfo.source != undefined ? authenticateInfo.source :"--"}}</td>
                                    <td>{{authenticateInfo.type !=undefined ? authenticateInfo.type : "--"}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div *ngIf="authenticateStatus == false">
                            <!-- <tr> -->
                            No Authentication data found...
                            <!-- </tr> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showmodal" style="padding-top: 80px;" class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update UserDetails</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="Name">Name</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter name" [value]="Name" (input)="Name = $event.target.value">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="Email">Email</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter emailId" [value]="EmailId" (input)="EmailId = $event.target.value">
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="col-md-4">
                                <label for="app_con">App Convenience Fee</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Enter App Convenience Fee" [value]="app_con_fee" (input)="app_con_fee = $event.target.value">
                            </div>
                        </div>
                        <div class="form-group row">
                                <div class="col-md-4">
                                    <label for="web_con">Web Convenience Fee</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Enter Web Convenience Fee" [value]="web_con_fee" (input)="web_con_fee = $event.target.value">
                                </div>
                            </div>
                            <div class="form-group row">
                                    <div class="col-md-4">
                                        <label for="sdk_con">Sdk Convenience Fee</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Enter Sdk Convenience Fee" [value]="sdk_con_fee" (input)="sdk_con_fee = $event.target.value">
                                    </div>
                                </div>
                    <!-- </form> -->
                    <!-- <div class="form-group row">
                        <div class="col-md-4">
                            <label>CreditDue</label>
                        </div> -->
                    <!-- <div class="col-md-8"> -->
                    <!-- <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter CreditDue" [value]="CreditDue"
                                (input)="CreditDue = $event.target.value">
                        </div> -->
                    <!-- </div> -->
                    <!-- </div> -->
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Creditimit</label>
                        </div>
                        <!-- <div class="col-md-8"> -->
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter Creditimit" [value]="CreditLimit" (input)="CreditLimit = $event.target.value">
                        </div>
                        <!-- </div> -->
                    </div>
                </form>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label>Status</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="status">
                                <!-- <option value="" selected disabled hidden>active</option> -->
                                <option value="1">active</option>
                                <option value="0">inactive</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <!-- <button class="btn btn-primary" data-dismiss="modal">Save</button> -->
                    <button class="btn btn-primary" data-dismiss="modal" (click)="Update()">Update</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="PnIdbutton" style="padding-top: 80px;" class="modal fade" id="PopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Push Notification ID</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ex1">
                {{pnId != undefined ? pnId: "---"}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="showsmsCounts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">smssync and smsprocess counts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="smsCountsModelClose()" #close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="showsmscountsModal">
                <div class="white-box">
                    <div class="table-responsive" style="text-align: center">
                        <table class="table color-table inverse-table">
                            <thead>
                                <tr>
                                    <th>total smssync count</th>
                                    <th>sms processed count</th>
                                    <th>transaction smscounts</th>
                                    <th>transaction unidentified smscounts</th>
                                    <th>transaction un useful smscounts</th>
                                    <th>monthly processedcount</th>
                                    <th>savings account smscounts</th>
                                    <th>loan account smscounts</th>
                                    <th>credit card smscounts</th>
                                    <th>policy smscounts</th>
                                    <th>fixed deposit smscounts</th>
                                    <!-- <th>fin profilecount</th> -->
                                    <th>unidentified smscounts</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{this.Totalsmscountsobj.totalsmssync_count != undefined ? this.Totalsmscountsobj.totalsmssync_count
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.total_smsprocessed_count != undefined ? this.Totalsmscountsobj.total_smsprocessed_count
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.transaction_sms_counts != undefined ? this.Totalsmscountsobj.transaction_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.transaction_unidentified_sms_counts != undefined ? this.Totalsmscountsobj.transaction_unidentified_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.transaction_un_useful_sms_counts != undefined ? this.Totalsmscountsobj.transaction_un_useful_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.monthly_processed_count != undefined ? this.Totalsmscountsobj.monthly_processed_count
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.savings_account_sms_counts != undefined ? this.Totalsmscountsobj.savings_account_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.loan_account_sms_counts != undefined ? this.Totalsmscountsobj.loan_account_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.credit_card_sms_counts != undefined ? this.Totalsmscountsobj.credit_card_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.policy_sms_counts != undefined ? this.Totalsmscountsobj.policy_sms_counts
                                        : '--'}}</td>
                                    <td>{{this.Totalsmscountsobj.fixed_deposit_sms_counts != undefined ? this.Totalsmscountsobj.fixed_deposit_sms_counts
                                        : '--'}}</td>
                                    <!-- <td>{{fin_profile_count != unidentified ? fin_profile_count : '--'}}</td> -->
                                    <td>{{this.Totalsmscountsobj.unidentified_sms_counts != undefined ?this.Totalsmscountsobj.unidentified_sms_counts
                                        : '--' }}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="smsCountsModelClose()">Close</button>
            </div>
        </div>
    </div>
</div>











<div class="modal fade bd-example-modal-lg" id="predictedAmountModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">PredictedAmount Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="PredictedAmountClose()" #close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="predictedAmountModel">
                <div class="white-box">
                    <div class="table-responsive" style="text-align: center">
                        <table class="table color-table inverse-table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>mid</th>
                                    <th>old amount</th>
                                    <th>new amount</th>
                                    <th>is amount change</th>
                                    <th>updated_date</th>
                                    <th>status</th>
                                    <th>message</th>
                                    <th>spendings</th>
                                    <th>earnings</th>
                                    <th>main cluster</th>
                                    <th>sub cluster</th>
                                    <th>salary account</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let details of PredictreResult;let i=index">
                                    <td> {{(currentPage-1)*10+i+1}}</td>
                                    <td>{{details.mid != undefined ? details.mid : '---' }}</td>
                                    <td>{{details.old_amount != undefined ? details.old_amount : '---'}}</td>
                                    <td>{{details.new_amount != undefined ? details.new_amount : '---'}}</td>
                                    <td>{{details.is_amount_change != undefined ? details.is_amount_change : '---'}}</td>
                                    <td>{{details.updated_date != undefined ? (details.updated_date | date: 'dd-MM-yyyy HH:mm:ss')
                                        : '---'}}</td>
                                    <td>{{details.status != undefined ? details.status : '---'}}</td>
                                    <td>{{details.message != undefined ? details.message : '---' }}</td>
                                    <td>{{details.spendings != undefined ? details.spendings : '---'}}</td>
                                    <td>{{details.earnings != undefined ? details.earnings : '---'}}</td>
                                    <td>{{details.main_cluster != undefined ? details.main_cluster : '---'}}</td>
                                    <td>{{details.sub_cluster != undefined ? details.sub_cluster : '---'}}</td>
                                    <td>{{details.salary_account != undefined ? details.salary_account : '---'}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="PredictedAmountClose()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"  id="recalculate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:500px" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Recalculate</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="recalculate(2)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <p>Do you want to Recalculate?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="recalculate(2)">No</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="recalculate(1)">Yes</button>
        </div>
      </div>
    </div>
  </div>