<div *ngIf="isview == true; then dataViewBlock else NoDataBlock"></div>
<ng-template #dataViewBlock>
  <div class="row">
    <div>
      <form class="form-inline mb-3">
        <div class="form-group">
          <div class="input-group datepicker-input">
            <label>
              <b>From : </b>&nbsp; </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="from_date" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
        &nbsp; &nbsp;
        <div class="form-group">
          <div class="input-group datepicker-input">
            <label>
              <b>To :</b>&nbsp; </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="to_date" ngbDatepicker #b="ngbDatepicker">
            <button class="input-group-addon" (click)="b.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
          &nbsp; &nbsp;
          <button class="btn btn-success" (click)="onClickSubmit(1)">Submit</button>
          &nbsp; &nbsp;
          <button class="btn btn-danger" (click)="onClickReset()">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="date_info" class="alert alert-{{alert_error_message_type}} text-center">
    <b>{{date_info}}</b>
  </div>

  <div *ngIf="datafound == true; then thenBlock else elseBlock"></div>
  <div class="rm-min-height">
    <ng-template #thenBlock>
      <div class="alert alert-{{alert_error_message_type}} text-center">
        <!--<b>{{data_alert_info}}</b>-->
        <b>{{total_smscounts}}</b>
      </div>
      <div class="table-responsive">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered mb-0">
              <thead class="thead-dark">
                <tr>
                  <th>S.No</th>
                  <th>SMS SEND DATES</th>
                  <th>SMS SENT COUNTS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let getsmscount of getsmscount_details; let i=index">
                  <td>{{pageStartIndex+i+1}}</td>
                  <td>{{getsmscount.created_at != undefined ? (getsmscount.created_at | date: 'fullDate') : '---'}}</td>
                  <td>{{getsmscount.sent_count}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="onClickSubmit($event)"
        [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
        [directionLinks]="true"></ngb-pagination>
    </ng-template>
  </div>
  <ng-template #elseBlock>
    <h1 align="middle"></h1>
    <div class="alert alert-{{alert_error_message_type}} text-center">
      <!--<b>{{data_alert_info}}</b>-->
      <b>{{total_smscounts}}</b>
    </div>
  </ng-template>
</ng-template>
<ng-template #NoDataBlock>
  <h2 align="middle">
    <img src="assets/images/users/nodatafound.png" alt="nodatafound">
  </h2>
</ng-template>