<div class="white-box">
  <div class="container">
    <!-- <form> -->
      <div class="row">
        <div class="form-group col-md-6">
          <label>Clear User::</label>
          <input type="text" placeholder="Enter Mobile Number..." style="width: 250px;" class="form-control" name="user_mobile"
            (change)="user_mobile=$event.target.value">
          <button class="btn btn-info" (click)="clearUser()">Clear</button>
        </div>
        <div class="form-group col-md-6">
          <label>Clear Merchant::</label>
          <input type="text" placeholder="Enter Mobile Number..." style="width: 250px;" class="form-control" name="merchant_mobile"
            (change)="merchant_mobile=$event.target.value">
          <button class="btn btn-success" (click)="clearMerchant()">Clear</button>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>