<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <div class="col-4">
          <h3 class="box-title m-b-0">Add Permission</h3>
          <br>
        </div>
        <ngb-tabset>
          <ngb-tab title="Permission Title">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="container form-padding">
                  <div class="col-lg-12">
                    <form class="form-horizontal" role="form" name="settingForm" #settingForm="ngForm">
                      <div class="form-group">
                        <label for="name" class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                          <input class="form-control" type="text" [(ngModel)]="permission.permission_type" name="permission.permission_type"
                            minlength=4 #name="ngModel" required>
                        </div>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)">
                          <span *ngIf="name?.errors.required" class="text-danger">
                            *required.
                          </span>
                          <span *ngIf="name?.errors.minlength" class="text-danger">
                            Name must be at least 4 characters long.
                          </span>
                          <span *ngIf="!name.errors.minlength && name?.errors?.pattern" class="text-danger">
                            Name is not valid
                          </span>
                        </div>
                      </div>
                      <div class="text-left">
                        <button class="btn btn-info col-md-3" (click)="AddPermissions()" [disabled]="settingForm.invalid">Submit</button>
                      </div>
                    </form>
                    {{message}}
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="getPermissions()">User Permissions</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="container form-padding">
                  <div class="col-lg-12">
                    <form class="form-horizontal" role="form" name="settingForm" #settingForm="ngForm">
                      <div class="form-group ">
                        <div>
                          <label>Permission Type:</label>
                          <select class="form-control" [(ngModel)]="userpermission.permission_details_id" name="permission_details_id">
                            <!-- <option value="all_permissions">Select Permission Type</option> -->
                            <option *ngFor="let type of permissions" value="{{type._id}}">{{type.permission_title}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                          <label for="name">Permission Name:</label>
                        </div>
                        <div class="col-xs-12">
                          <input class="form-control" type="text" [(ngModel)]="userpermission.permission_name" name="permission.permission_name"
                            #title="ngModel" minlength=4 required>
                        </div>
                        <div *ngIf="title.invalid && (title.dirty || title.touched)">
                          <span *ngIf="title?.errors.required" class="text-danger">
                            *required.
                          </span>
                          <span *ngIf="title?.errors.minlength" class="text-danger">
                            Permission Name must be at least 4 characters long.
                          </span>
                          <span *ngIf="!title.errors.minlength && title?.errors?.pattern" class="text-danger">
                            Permission Name is not valid
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                          <label for="name">User Types:</label>
                        </div>
                        <div class="col-xs-12">
                          <angular2-multiselect name="user_types" [data]="user_types" [(ngModel)]="selected_user_type" [settings]="user_type_settings">
                          </angular2-multiselect>
                        </div>
                        <span class="default-error" *ngIf="selected_user_type.length == 0">
                          Please select user type.
                        </span>
                      </div>
                      <div class="form-group ">
                        <div>
                          <label for="name">Permission Description:</label>
                        </div>
                        <div class="col-xs-12">
                          <textarea class="form-control" rows='5' minlength=4 [(ngModel)]="userpermission.permission_description"
                            required name="userpermission.permission_description" id="permission_description"></textarea>
                        </div>
                      </div>
                      <div class="text-left">
                        <button class="btn btn-info col-md-3" (click)="AddUserPermissions()" [disabled]="settingForm.invalid">Submit</button>
                      </div>
                    </form>
                    {{message}}
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>