<div *ngIf="isview == true; then dataViewBlock else NoDataBlock"></div>
<ng-template #dataViewBlock>
  <div class="row">
    <div>
      <form class="form-inline mb-3">
        <div class="form-group">
          <div class="input-group datepicker-input">
            <label value="mobile_number">Mobile</label>
            <br />
            <input type="text" class="form-control col-md-3" [value]="searchString" name="searchString" placeholder="Enter Mobile Number"
              (input)="searchString = $event.target.value"> &nbsp;&nbsp;
            <label>
              <b>From : </b>&nbsp; </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="from_date" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
        &nbsp; &nbsp;
        <div class="form-group">
          <div class="input-group datepicker-input">
            <label>
              <b>To :</b>&nbsp; </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="to_date" ngbDatepicker #b="ngbDatepicker">
            <button class="input-group-addon" (click)="b.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
          &nbsp; &nbsp;
          <button class="btn btn-success" (click)="onClickSubmit(1)">Submit</button>
          &nbsp; &nbsp;
          <button class="btn btn-danger" (click)="onClickReset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="date_info" class="alert alert-{{alert_error_message_type}} text-center">
    <b>{{date_info}}</b>
  </div>
  <div *ngIf="datafound == true; then thenBlock else elseBlock"></div>
  <div class="rm-min-height">
    <ng-template #thenBlock>
      <div class="table-responsive">
        <div class="card">
          <div class="card-body">
            <table class="table table-bordered mb-0">
              <thead class="thead-dark">
                <tr>
                  <th>S.No</th>
                  <th>Mobile no</th>
                  <th>Name&Email</th>
                  <th>Credit Due</th>
                  <th>Credit Available</th>
                  <th>Credit Limit</th>
                  <th>DUE-DATES</th>
                  <th>Add-Note</th>
                  <th>View-Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dueCount of dueCount_details; let i=index">
                  <td>{{pageStartIndex+i+1}}</td>
                  <td [ngStyle]="{'color':dueCount.login_status == 'login' ? 'green' : 'red' }">
                    <a class="link" color="blue" data-whatever="@mdo">{{dueCount.mobile_number != undefined ?
                      dueCount.mobile_number : '--'}}</a>
                  </td>
                  <td>{{dueCount.name != undefined ? dueCount.name:'---'}}
                    <br>{{dueCount.email != undefined ? dueCount.email : '--'}}</td>
                  <td>{{dueCount.credit_due != undefined ? (dueCount.credit_due| number : '1.2-2' ): 0}}</td>
                  <td>{{dueCount.credit_available != undefined ? (dueCount.credit_available | number : '1.2-2') : 0}}</td>
                  <td>{{dueCount.credit_limit != undefined ? (dueCount.credit_limit | number : '1.2-2') : 0}}</td>
                  <td>{{dueCount.due_date != undefined ? (dueCount.due_date | date: 'fullDate') : '---'}}</td>
                  <td>
                    {{dueCount.last_contacted_date != undefined ? (dueCount.last_contacted_date | date: 'fullDate'):
                    '--'}}
                    <br>
                    <ng-template #usercomment let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h4 class="modal-title">Add-Comments</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal" role="form" name="settingForm" #settingForm="ngForm">
                          <div class="form-group ">
                            <div>
                              <label for="name">Enter Comment:</label>
                            </div>
                            <div class="col-xs-12">
                              <textarea class="form-control" rows='5' minlength="1" [(ngModel)]="addcomment.comment"
                                required name="addcomment.comment" id="comment"></textarea>
                            </div>
                          </div>
                          <div class="text-left">
                            <button class="btn btn-info col-md-3" (click)="EnterComment()" [disabled]="settingForm.invalid">Submit</button>
                          </div>
                        </form>
                        {{message}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                      </div>
                    </ng-template>
                    <button class="btn btn btn-info" (click)="TemplateEdit(usercomment,dueCount)">Add-Note</button>
                  </td>
                  <td>
                    <a (click)="getUserComments(dueCount)" data-toggle="modal" data-target="#transModel" style="text-decoration: underline; color:blue">
                      <i class="fa fa-external-link"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="onClickSubmit($event)"
              [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
              [directionLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #elseBlock>
    <h1 align="middle"></h1>
    <div class="alert alert-{{alert_error_message_type}} text-center">
      <!--<b>{{data_alert_info}}</b>-->
      <b>{{total_smscounts}}</b>
    </div>
  </ng-template>
</ng-template>
<ng-template #NoDataBlock>
  <h2 align="middle">
    <img src="assets/images/users/nodatafound.png" alt="nodatafound">
  </h2>
</ng-template>

<div style="padding-top: 80px;" class="modal fade" id="transModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Comments List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isViewData">
          <div class="table-responsive">
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered mb-0">
                  <thead class="thead-dark">
                    <tr>
                      <th>S.No</th>
                      <th>Comment</th>
                      <th>Last Contacted Date</th>
                      <th>Last Contacted By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let comment of comment_details; let i=index">
                      <td>{{pageStartIndex+i+1}}</td>
                      <td>{{comment.response}}</td>
                      <td>{{comment.contacted_on != undefined ? (comment.contacted_on | date: 'fullDate') : '---'}}</td>
                      <td>{{comment.admin_user_data.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collection" (pageChange)="getComments('pagination',$event )"
            [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
            [directionLinks]="true"></ngb-pagination>
        </div>
        <div *ngIf=!isViewData>
          <h3>
            Comments Not Found this user
          </h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Close</button>
      </div>
    </div>
  </div>