<div class="white-box" style="font-family: initial;">
  <h3 class="box-title">User Events</h3>
  <div class="row">
    <div class="col-md-12">

      <label>From:&nbsp;&nbsp;</label>
      <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="from_date">&nbsp;&nbsp;
      <b>To:&nbsp;&nbsp;</b>
      <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="to_date"> &nbsp;&nbsp;

      <button type="button" class="btn btn-info" (click)="searchEvents()">
        <i class="fa fa-search"> Search</i>
      </button>&nbsp;&nbsp; 
      <button type="button" class="btn btn-warning" (click)="onClickReset()">
        <i class="fa fa-recycle"> Reset</i>
      </button>
    </div>
  </div>
  <br>

  <div class="table-responsive" *ngIf="showData">
    <table class="table table-bordered mb-0" style="text-align:center">
      <thead class="thead-dark">
        <tr>
          <th>S.No</th>
          <th>Mobile Number</th>
          <th>App Version</th>
          <th>Used Date</th>
          <th>App Opens Count</th>
          <th>PayLater Opens Count</th>
          <th>Payment Sucesss</th>
          <th>Payment Cancel</th>
          <th>Payment Failed</th>
          <th>Transaction Sucess</th>
          <th>Location Sucess</th>
          <th>Location Error</th>
          <th>Credit Line</th>
          <th>Expense Manager</th>
          <th>Loans Open</th>
          <th>Loans Applied</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedItems;let i=index" class="w3-hover-blue">
          <td> {{i+1}} </td>
          <td>{{item.mobile_number}}</td>
          <td>{{item.App_Version}}</td>
          <td>{{item.used_date | date:'dd-MM-yyyy' }}</td>
          <td>
            {{item.total_opens?item.total_opens:'--'}}
          </td>
          <td>
            {{item.paylater_opens?item.paylater_opens:'--'}}
          </td>
          <td>
            {{item.payment_success?item.payment_success:'--'}}
          </td>
          <td>
            {{item.payment_cancel?item.payment_cancel:'--'}}
          </td>
          <td>
              {{item.payment_failed?item.payment_failed:'--'}}
          </td>
          <td>
            {{item.transaction_success?item.transaction_success:'--'}}
          </td>
          <td>
            {{item.location_ok?item.location_ok:'--'}}
          </td>
          <td>
            {{item.location_cancel?item.location_cancel:'--'}}
          </td>
          <td>
            {{item.credit_line_opens?item.credit_line_opens:'--'}}
          </td>
          <td>
            {{item.expense_manager_opens?item.expense_manager_opens:'--'}}
          </td>
          <td>
            {{item.loan_opens?item.loan_opens:'--'}}
          </td>
          <td>
            <table>
              <tr>
                  Personal Loan: {{item.personal_loan_applied?item.personal_loan_applied:'--'}}
              </tr>
              <tr>
                  Business Loan: {{item.business_loan_applied?item.business_loan_applied:'--'}}
              </tr>
            </table>
            
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="white-box" *ngIf="errMsg">
  No records found
</div>