<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <h3 class="box-title m-b-0">Default Settings For Way2Pay</h3><br>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Initial Amout</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.init_amount"   placeholder="Enter the initial amount" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Convenience Fee</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.con_fee"  placeholder="Enter the Convenience Fee" required>
            </div>
          </div>
          <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Sdk Convenience Fee</label>
              <div class="col-10">
                <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.sdk_con_fee"  placeholder="Enter the Sdk Convenience Fee" required>
              </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Web Convenience Fee</label>
                <div class="col-10">
                  <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.web_con_fee"  placeholder="Enter the Web Convenience Fee" required>
                </div>
              </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Refund Period</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.refund_period"  placeholder="Enter the Refund Perid" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Due Period</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.due_period"  placeholder="Enter the Due Period" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Penality Amount</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.penality_amount"  placeholder="Enter the Penality Amount" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Payment Lifecycle</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.payment_cycle"  placeholder="Enter the Payment Lifecycle" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Token Validity</label>
            <div class="col-10">
              <input class="form-control" inputmode="numeric" type="number" [(ngModel)]="paySettingsObj.token_validity"  placeholder="Enter the Token Validity" required>
            </div>
          </div>
          <div class="form-group row">
              <div class="col-2"></div>
            <div class="col-2">
              <button type="submit" [disabled]="settingsStatus" (click)="addSettings()" class="btn btn-block btn-info waves-effect">Update</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>