.login-register {
  height: 100%;
  position: fixed;
}

.login-box {
  background: #fff;
  width: 400px;
  border-radius: 0px;
  margin: 5% auto 0;
}

.login-box .footer {
  width: 100%;
  left: 0;
  right: 0
}

.login-box .social {
  display: block;
  margin-bottom: 30px
}

#recoverform {
  display: none
}
