<div class="login-register">
  <div class="login-box card">
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="onLoggedin(loginForm)" class="form-horizontal form-material" id="loginform">
        <h3 class="box-title m-b-20">Sign In</h3>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" ngModel name="email" type="text" required="" placeholder="Email"> </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" ngModel name="password" type="password" required="" placeholder="Password"> </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 font-14">
            <p *ngIf="invalid_user" class="text-danger pull-left">{{message}}
            </p>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-info btn-block text-uppercase waves-effect waves-light">Log In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
