.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
}

.btn-info,
.btn-info.disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: not-allowed;
}