<div>
  <button class="btn btn-info m-t-10 pull-right" (click)="addVersion()" data-toggle="modal" data-target="#addVersion">Add</button>
  <br>
  <br>
  <div class="table-responsive card" *ngIf="isDataFound" style="padding-top: 10px;">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Version</th>
          <th>Force Update</th>
          <th>Mobile Type</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data;let i=index" class="w3-hover-blue">
          <td>{{i+1}}</td>
          <td>
            {{item.version}}
          </td>
          <td>
            <label class="switch">
              <input type="checkbox" [checked]="item.force_update" (change)="updateVersion(item)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
            <!-- <label class="switch" *ngIf="!item.force_update">
                  <input type="checkbox" (change)="updateVersion(item)">
                  <span class="slider" style="border-radius: 14px;"></span>
                </label> -->
          </td>
          <td>{{item.mobile_type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="padding-top: 80px;" class="modal fade" id="addVersion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Version</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" #close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="newMobile">New Version</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enter Version" [value]="newVersion" (input)="newVersion = $event.target.value">
              </div>
            </div>
          </form>
          <div class="form-group row">
            <div class="col-md-4">
              <label for="update">Force Update</label>
            </div>
            <div class="col-md-8">
              <label class="switch">
                <input type="checkbox" [value]="force_update" [(ngModel)]="isChecked" (change)="checkValue(isChecked?'true':'false')">
                <span class="slider" style="border-radius: 14px;"></span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label>Mobile Type</label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <select class="form-control" [(ngModel)]="mobile">
                  <option value="">android</option>
                  <option value="ios">ios</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
            <button class="btn btn-primary" (click)="add(close)" [disabled]="newVersion==''">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>