.col-in {
  padding: 20px;
}

.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.panel,
.white-box {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 2px;
}

.white-box {
  background: #fff;
  padding: 25px;
  margin-bottom: 15px;
}

.col-in h3 {
  font-size: 48px;
  font-weight: 100;
}

.progress {
  -webkit-box-shadow: none !important;
  background-color: rgba(120, 130, 140, .13);
  box-shadow: none !important;
  height: 4px;
  border-radius: 2px;
  margin-bottom: 18px;
  overflow: hidden
}

.progress-bar {
  box-shadow: none;
  font-size: 8px;
  font-weight: 600;
  line-height: 12px
}

.progress.progress-sm {
  height: 8px !important
}

.progress.progress-sm .progress-bar {
  font-size: 8px;
  line-height: 5px
}

.progress.progress-md {
  height: 15px !important
}

.progress.progress-md .progress-bar {
  font-size: 10.8px;
  line-height: 14.4px
}

.progress.progress-lg {
  height: 20px !important
}

.progress.progress-lg .progress-bar {
  font-size: 12px;
  line-height: 20px
}

.progress-bar-primary {
  background-color: #ab8ce4
}

.progress-bar-success {
  background-color: #00c292
}

.progress-bar-info {
  background-color: #03a9f3
}

.progress-bar-megna {
  background-color: #01c0c8
}

.progress-bar-warning {
  background-color: #fec107
}

.progress-bar-danger {
  background-color: #fb9678
}

.progress-bar-inverse {
  background-color: #4c5667
}

.progress-bar-purple {
  background-color: #9675ce
}

.progress-bar-custom {
  background-color: #03a9f3
}

.progress-animated {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: myanimation;
  -webkit-transition: 5s all;
  animation-duration: 5s;
  animation-name: myanimation;
  transition: 5s all
}

@-webkit-keyframes myanimation {
  from {
    width: 0
  }
}

@keyframes myanimation {
  from {
    width: 0
  }
}

.progress-vertical {
  min-height: 250px;
  height: 250px;
  width: 4px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 20px
}

.progress-vertical .progress-bar {
  width: 100%
}

.progress-vertical-bottom {
  min-height: 250px;
  height: 250px;
  position: relative;
  width: 4px;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 20px
}

.progress-vertical-bottom .progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0
}

.progress-vertical-bottom.progress-sm,
.progress-vertical.progress-sm {
  width: 8px !important
}

.progress-vertical-bottom.progress-sm .progress-bar,
.progress-vertical.progress-sm .progress-bar {
  font-size: 8px;
  line-height: 5px
}

.progress-vertical-bottom.progress-md,
.progress-vertical.progress-md {
  width: 15px !important
}

.progress-vertical-bottom.progress-md .progress-bar,
.progress-vertical.progress-md .progress-bar {
  font-size: 10.8px;
  line-height: 14.4px
}

.progress-vertical-bottom.progress-lg,
.progress-vertical.progress-lg {
  width: 20px !important
}

.progress-vertical-bottom.progress-lg .progress-bar,
.progress-vertical.progress-lg .progress-bar {
  font-size: 12px;
  line-height: 20px
}

.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto
}

.fontSize35 {
  font-size: 35px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 34px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
