<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">

      <div class="row white-box">
        <div class="col-sm-3">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5 class="text-muted vb">Total Merchants</h5>
          <h2><a data-toggle="tooltip" title="{{active_merchant_count}} Total:{{merchants_count}}">{{active_merchant_count
              | numberFormat}}(Total:
              {{merchants_count | numberFormat}})</a></h2>
          <!-- <div class="pull-right">48%
                <i class="fa fa-level-up text-success"></i>
              </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Total Users</h5>
          <h2><a data-toggle="tooltip" title="{{total_users}}">{{total_users | numberFormat}}</a>
          </h2>
          <!-- <div class="pull-right">48%
                  <i class="fa fa-level-up text-success"></i>
                </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Users (Today)</h5>
          <h2>{{today_users}}</h2>
          <!-- <div class="pull-right">48%
                    <i class="fa fa-level-up text-success"></i>
                  </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Users (Yesterday)</h5>
          <h2>{{yesterday_users}}</h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row white-box">
        <div class="col-sm-3">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5 class="text-muted vb">Pending Payments</h5>
          <h2>{{pending_payments}}</h2>
          <!-- <div class="pull-right">48%
                <i class="fa fa-level-up text-success"></i>
              </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Pending Payments(>20)</h5>
          <h2>{{above_due_details}}</h2>
          <!-- <div class="pull-right">48%
                  <i class="fa fa-level-up text-success"></i>
                </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Pending Amount</h5>
          <h2><a data-toggle="tooltip" title="{{pending_amount}}">{{pending_amount| numberFormat}}</a></h2>
          <!-- <div class="pull-right">48%
                    <i class="fa fa-level-up text-success"></i>
                  </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Paid Amount</h5>
          <h2><a data-toggle="tooltip" title="{{paid_amount}}">{{paid_amount | numberFormat}}</a></h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>



      <div class="row white-box">
        <div class="col-sm-4">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5> <a style="cursor: pointer" href="{{domain}}#/user/transactions/1">Transactions</a></h5>
          <!-- <h5 class="text-muted vb">Total Transactions</h5> -->
          <h2>{{total_transactions}}</h2>
          <!-- <div class="pull-right">48%
                  <i class="fa fa-level-up text-success"></i>
                </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>

          <h5> <a [ngStyle]="{'color': 'orange'}" style="cursor: pointer" (click)="today()">Transactions(Today)</a></h5>
          <!-- <h5 class="text-muted vb">Transactions (Today)</h5> -->
          <h2>{{today_transactions}}</h2>
          <!-- <div class="pull-right">48%
                    <i class="fa fa-level-up text-success"></i>
                  </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>
          <h5><a [ngStyle]="{'color': 'orange'}" style="cursor: pointer" (click)="yesterdy()">Transactions(Yesterday)</a></h5>
          <!-- <h5 class="text-muted vb">Transactions (Yesterday)</h5> -->
          <h2>{{yesterday_transactions}}</h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row white-box">
        <div class="col-sm-4">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5 class="text-muted vb">Total Transaction amount</h5>
          <h2>
            <a href="#" data-toggle="tooltip" title="{{total_transactions_amt}}"><i class="fa fa-rupee">
                {{total_transactions_amt | numberFormat}}</i>
            </a></h2>
          <!-- <div class="pull-right">48%
                    <i class="fa fa-level-up text-success"></i>
                  </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Transactions amount (Today)</h5>
          <h2>
            <a data-toggle="tooltip" title="{{today_transactions_amt}}"><i class="fa fa-rupee">
                {{today_transactions_amt | numberFormat}}</i>

            </a> </h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Transactions amount (Yesterday)</h5>
          <h2>
            <i class="fa fa-rupee"> {{yesterday_transactions_amt}}</i>
          </h2>
          <!-- <div class="pull-right">48%
                        <i class="fa fa-level-up text-success"></i>
                      </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="row white-box">
            <div class="col-sm-6">
              <table>
                <tr>
                  <td>
                    <h2>Live payments &nbsp;</h2>
                  </td>
                  <td>
                    <span >
                      <label class="switch" data-toggle="modal" data-target="#livePaymentStatus">
                        <input type="checkbox" [checked]="live_payment_status == 'active'" [(ngModel)]="live_paymentStatus">
                        <span class="slider" style="border-radius: 14px;"></span>
                      </label>
                    </span>
                    <!-- <span *ngIf="live_payment_status!='active'">
                      <label class="switch" data-toggle="modal" data-target="#livePaymentStatus">
                        <input type="checkbox" [(ngModel)]="live_paymentStatus" (change)="updatePaymentStatus('live_payment_status')">
                        <span class="slider" style="border-radius: 14px;"></span>
                      </label>
                    </span> -->
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-sm-6">
              <table>
                <tr>
                  <td>
                    <h2>Staging payments &nbsp;</h2>
                  </td>
                  <td>
                    <span *ngIf="staging_payment_status=='active'">
                      <label class="switch">
                        <input type="checkbox" checked [(ngModel)]="staging_paymentStatus" (change)="updatePaymentStatus('staging_payment_status')">
                        <span class="slider" style="border-radius: 14px;"></span>
                      </label>
                    </span>
                    <span *ngIf="staging_payment_status!='active'">
                      <label class="switch">
                        <input type="checkbox" [(ngModel)]="staging_paymentStatus" (change)="updatePaymentStatus('staging_payment_status')">
                        <span class="slider" style="border-radius: 14px;"></span>
                      </label>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-sm-6 row-in-br white-box">
          <form #days="ngForm" (ngSubmit)="filter(days)">
            <div class="row white-box">
              <div class="col-sm-10">
                <select [(ngModel)]="days_select" name="days" class="custom-select col-12" id="inlineFormCustomSelect">
                  <option selected hidden>{{days_select}}</option>
                  <option value="30">Last 30 days</option>
                  <option value="15">Last 15 days</option>
                  <option value="7">Last 7 days</option>
                </select>
              </div>
              <div class="col-sm-2">
                <button type="submit" [disabled]="showButtonStatus" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
              </div>
            </div>
          </form>
          <div class="row white-box">
            <canvas class="col-sm-12" id="barChart" class="chartjs-render-monitor"></canvas>
          </div>
        </div>
        <div class="col-lg-4 ">
          <div class="row">
            <div>
              <form class="form-inline mb-3">
                <div class="form-group">
                  <div class="input-group datepicker-input">
                    <label>
                      <b>Date : </b>&nbsp; </label>
                    <input class="form-control" name="dp1" [(ngModel)]="from_date" ngbDatepicker #d="ngbDatepicker">
                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
                &nbsp; &nbsp;
                <div class="form-group">
                  &nbsp; &nbsp;
                  <button class="btn btn-success" (click)="onSubmit(from_date)">Submit</button>
                  &nbsp; &nbsp;
                  <button class="btn btn-danger" (click)="onReset()">Reset</button>
                </div>
              </form>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Android</th>
                <th scope="col">Ios</th>
                <!-- <th scope="col">Handle</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Unique Opens</th>
                <td>{{Android.unique_opens != undefined ? Android.unique_opens : '--'}}</td>
                <td>{{Ios.unique_opens!= undefined?Ios.unique_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Total Opens</th>
                <td>{{Android.total_opens?Android.total_opens:'--'}}</td>
                <td>{{Ios.total_opens!= undefined?Ios.total_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Loan Opens</th>
                <td>{{Android.loan_opens?Android.loan_opens:'--'}}</td>
                <td>{{Ios.loan_opens!= undefined?Ios.loan_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Credit Line Opens</th>
                <td>{{Android.credit_line_opens?Android.credit_line_opens:'--'}}</td>
                <td>{{Ios.credit_line_opens!= undefined?Ios.credit_line_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Expense Manager Opens</th>
                <td>{{Android.expense_manager_opens?Android.expense_manager_opens:'--'}}</td>
                <td>{{Ios.expense_manager_opens!= undefined?Ios.expense_manager_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Paylater Opens</th>
                <td>{{Android.paylater_opens?Android.paylater_opens:'--'}}</td>
                <td>{{Ios.paylater_opens!= undefined?Ios.paylater_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Qrcode Scan Opens</th>
                <td>{{Android.qrcode_scan_opens?Android.qrcode_scan_opens:'--'}}</td>
                <td>{{Ios.qrcode_scan_opens!= undefined?Ios.qrcode_scan_opens:'--'}}</td>
              </tr>

              <tr>
                <th scope="row">Transaction Page By Qrscan</th>
                <td>{{Android.qrscan_paymentpage?Android.qrscan_paymentpage:'--'}}</td>
                <td>{{Ios.qrscan_paymentpage!= undefined?Ios.qrscan_paymentpage:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Paynear Opens</th>
                <td>{{Android.paynear_opens?Android.paynear_opens:'--'}}</td>
                <td>{{Ios.paynear_opens!= undefined?Ios.paynear_opens:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Transaction Page By NearBy</th>
                <td>{{Android.nearby_paymentpage?Android.nearby_paymentpage:'--'}}</td>
                <td>{{Ios.nearby_paymentpage!= undefined?Ios.nearby_paymentpage:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Transaction Success</th>
                <td>{{Android.transaction_success?Android.transaction_success:'--'}}</td>
                <td>{{Ios.transaction_success!= undefined?Ios.transaction_success:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Payment Success</th>
                <td>{{Android.payment_success?Android.payment_success:'--'}}</td>
                <td>{{Ios.payment_success!= undefined?Ios.payment_success:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Payment Failed</th>
                <td>{{Android.payment_failed?Android.payment_failed:'--'}}</td>
                <td>{{Ios.payment_failed!= undefined?Ios.payment_failed:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Payment Cancel</th>
                <td>{{Android.payment_cancel?Android.payment_cancel:'--'}}</td>
                <td>{{Ios.payment_cancel!= undefined?Ios.payment_cancel:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Personal Loan Applied</th>
                <td>{{Android.personal_loan_applied?Android.personal_loan_applied:'--'}}</td>
                <td>{{Ios.personal_loan_applied!= undefined?Ios.personal_loan_applied:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Business Loan Applied</th>
                <td>{{Android.business_loan_applied?Android.business_loan_applied:'--'}}</td>
                <td>{{Ios.business_loan_applied!= undefined?Ios.business_loan_applied:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Documents Uploaded</th>
                <td>{{Android.all_documents_uploaded?Android.all_documents_uploaded:'--'}}</td>
                <td>{{Ios.all_documents_uploaded!= undefined?Ios.all_documents_uploaded:'--'}}</td>
              </tr>
              <tr>
                <th scope="row">Logout Users</th>
                <td>{{Android.logout_users?Android.logout_users:'--'}}</td>
                <td>{{Ios.logout_users!= undefined?Ios.logout_users:'--'}}</td>
              </tr>
              <!-- <tr>
                    <th scope="row">logout_users</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                  </tr> -->
            </tbody>
          </table>

        </div>

        <!-- <div class="col-lg-4 col-sm-6 row-in-br white-box">
          <h3 class="box-title">Total Payment History</h3>
          <ul class="country-state">
            <li class="white-box">
              <h4 class="text-muted vb">Paid to Merchants</h4>
              <h2>
                <i class="ti-wallet text-success"></i> {{merchants_amount | numberFormat}}</h2>
           
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                  style="width:50%;">
                  <span class="sr-only">48% Complete</span>
                </div>
              </div>
            </li>
            <li class="white-box">
              <h4 class="text-muted vb">Given to Users</h4>
              <h2>
                <i class="ti-wallet text-success"></i> {{amount_given | numberFormat}}</h2>
          
              <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                  style="width:50%;">
                  <span class="sr-only">98% Complete</span>
                </div>
              </div>
            </li>
            <li class="white-box">
              <h4 class="text-muted vb">Earnings by Merchants Commissions</h4>
              <h2>
                <i class="ti-wallet text-success"></i> {{commission | numberFormat}}</h2>
       
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                  style="width:50%;">
                  <span class="sr-only">75% Complete</span>
                </div>
              </div>
            </li>
            <li class="white-box">
              <h4 class="text-muted vb">Earnings by Convenience</h4>
              <h2>
                <i class="ti-wallet text-success"></i> {{convenience | numberFormat}}</h2>
           
              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%;">
                  <span class="sr-only">48% Complete</span>
                </div>
              </div>
            </li>
            <li class="white-box">
              <h4 class="text-muted vb">Payments by Users</h4>
              <h2>
                <i class="ti-wallet text-success"></i> {{user_payments | numberFormat}}</h2>
            
              <div class="progress">
                <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                  style="width:50%;">
                  <span class="sr-only">48% Complete</span>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>  -->

      </div>
    </div>
  </div>
</div>

<div class="modal fade" *ngIf="showModel" id="livePaymentStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Live Payment Status</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="updatePaymentStatus('no_update')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Do you want to update the status?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="updatePaymentStatus('no_update')">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updatePaymentStatus('live_payment_status')">Yes</button>
      </div>
    </div>
  </div>
</div>