<div class="white-box">
  <div class="row">
    <table class="table table-bordered mb-0">
      <thead class="thead-dark">
        <tr>
          <th>S.No</th>
          <th>User Type</th>
          <th>Permission Name</th>
          <th>Permission Type</th>
          <th>Permission Description</th>
          <th>Edit</th>
          <th>Status</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of permissions_list; let i = index">
          <td>{{i+1}}</td>
          <td>{{permission.user_type}}
            <ol type="i">
              <li *ngFor="let permission_type_name of permission.user_types">
                {{permission_type_name}}
              </li>
            </ol>
          </td>
          <td>{{permission.permission_name}}</td>
          <td>{{permission.permission_types.permission_title}}</td>
          <td>{{permission.permission_description}}</td>
          <td>
            <ng-template #userpermissionupdate let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" role="form" name="settingForm" #settingForm="ngForm">
                  <div class="form-group ">
                    <div>
                      <label>Permission Type:</label>
                      <select class="form-control" [(ngModel)]="userpermissions.permission_details_id" name="userpermissions.permission_details_id">
                        <option *ngFor="let type of permissions" value="{{type._id}}">{{type.permission_title}}
                        </option>
                      </select>
                      <!-- <div class="text-danger" *ngIf="settingForm.touched && permissiontype.touched && permissiontype.invalid && permissiontype.hasError('required')">Title is required*</div> -->
                    </div>
                  </div>
                  <div class="form-group ">
                    <div>
                      <label for="name">Permission Name:</label>
                    </div>
                    <div class="col-xs-12">
                      <input class="form-control" type="text" [(ngModel)]="userpermissions.permission_name" name="permission.permission_name"
                        #title="ngModel" required>
                    </div>
                    <div class="text-danger" *ngIf="settingForm.touched && title.touched && title.invalid && title.hasError('required')">Title
                      is required*</div>
                  </div>
                  <div class="form-group">
                    <div>
                      <label for="name">User Types:</label>
                    </div>
                    <div class="col-xs-12">
                      <angular2-multiselect name="user_types" [data]="user_types" [(ngModel)]="selected_user_type"
                        [settings]="user_type_settings">
                      </angular2-multiselect>
                    </div>
                    <span class="default-error" *ngIf="selected_user_type.length == 0">
                      Please select user type.
                    </span>
                  </div>
                  <div class="form-group ">
                    <div>
                      <label for="name">Permission Description:</label>
                    </div>
                    <div class="col-xs-12">
                      <textarea class="form-control" rows='5' minlength="1" [(ngModel)]="userpermissions.permission_description"
                        required name="userpermissions.permission_description" id="permission_description"></textarea>
                    </div>
                  </div>
                  <div class="text-left">
                    <button class="btn btn-info col-md-3" (click)="EditUserPermissions()" [disabled]="settingForm.invalid">Submit</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>
            <button class="btn btn btn-info" (click)="TemplateEdit(userpermissionupdate,permission)">Edit</button>
          </td>
          <!-- <td> -->
          <!-- <button class="btn btn btn-danger" (click)="DeletePermission(permission._id)">Delete</button> -->
          <!-- </td> -->
          <td>
            <label class="switch">
              <input type="checkbox" [checked]="permission.hidden_status == 1" (click)=(DeletePermission($event.target.checked,permission._id))>
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>