<div class="row gutter">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="simple-widget">
      <div data-icon="E" class="growth linea-icon linea-basic"></div>
      <h3 class="text-white">{{active_merchant_count}}(Total: {{merchants_count}})</h3>

      <p class="text-white">Total Merchants</p>
      <div class="progress sm">
        <div class="progress-bar" role="progressbar" style="width: 37%;" aria-valuenow="37" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="simple-widget">
      <div class="growth fa fa-users"></div>
      <h3 class="text-white">{{total_users}}</h3>
      <p class="text-white">Total Users</p>
      <div class="progress sm">
        <div class="progress-bar" role="progressbar" style="width: 37%;" aria-valuenow="37" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="simple-widget">
      <div class="growth fa fa-users"></div>
      <h3 class="text-white">{{today_users}}</h3>
      <p class="text-white">Users (Today)</p>
      <div class="progress sm">
        <div class="progress-bar" role="progressbar" style="width: 37%;" aria-valuenow="37" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="simple-widget">
      <div class="growth fa fa-users"></div>
      <h3 class="text-white">{{yesterday_users}}</h3>
      <p class="text-white">Users (Yesterday)</p>
      <div class="progress sm">
        <div class="progress-bar" role="progressbar" style="width: 37%;" aria-valuenow="37" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>

<div class="row sm-gutter">
  <div class="col-lg-8 col-sm-6 row-in-br white-box">
    <form #days="ngForm" (ngSubmit)="filter(days)">
      <div class="row white-box">
        <div class="col-sm-10">
          <select [(ngModel)]="days_select" name="days" class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected hidden>{{days_select}}</option>
            <option value="30">Last 30 days</option>
            <option value="15">Last 15 days</option>
            <option value="7">Last 7 days</option>
          </select>
        </div>
        <div class="col-sm-2">
          <button type="submit" [disabled]="showButtonStatus" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
        </div>
      </div>
    </form>
    <div class="row white-box">
      <canvas class="col-sm-12" id="barChart" class="chartjs-render-monitor"></canvas>
    </div>
  </div>

  <div class="col-md-4 col-vlg-3 col-sm-5">
    <div class="tiles green m-b-10">
      <div class="tiles-body">
        <div class="tiles-title text-black">TRANSACTIONS</div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title"><a style="cursor: pointer" href="{{domain}}#/user/transactions/1">Total</a></span>
            <span class="item-count animate-number semi-bold" data-value="2415" data-animation-duration="700">{{total_transactions}}</span>
          </div>
        </div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title"><a [ngStyle]="{'color': 'orange'}" style="cursor: pointer" (click)="today()">Today's</a></span>
            <span class="item-count animate-number semi-bold" data-value="751" data-animation-duration="700">{{today_transactions}}</span>
          </div>
        </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-title"><a [ngStyle]="{'color': 'orange'}" style="cursor: pointer" (click)="yesterdy()">Yesterday's</a></span>
            <span class="item-count animate-number semi-bold" data-value="1547" data-animation-duration="700">{{yesterday_transactions}}</span>
          </div>
        </div>
        <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
          <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
        </div>
        <!-- <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last
                  month</span></span>
            </div> -->
      </div>
    </div>

    <div class="tiles green m-b-10">
      <div class="tiles-body">
        <div class="tiles-title text-black">TRANSACTIONS AMOUNT</div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title">Total Amount</span> <span class="item-count animate-number semi-bold" data-value="2415"
              data-animation-duration="700"><i class="fa fa-rupee"> {{total_transactions_amt | numberFormat}}</i></span>
          </div>
        </div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title">Today's</span> <span class="item-count animate-number semi-bold" data-value="751"
              data-animation-duration="700"> <i class="fa fa-rupee"> {{today_transactions_amt | numberFormat}}</i></span>
          </div>
        </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-title">Yesterday's</span> <span class="item-count animate-number semi-bold" data-value="1547"
              data-animation-duration="700"> <i class="fa fa-rupee"> {{yesterday_transactions_amt | numberFormat}}</i></span>
          </div>
        </div>
        <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
          <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
        </div>
        <!-- <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last
                    month</span></span>
              </div> -->
      </div>
    </div>

    <div class="tiles green m-b-10">
      <div class="tiles-body">
        <div class="tiles-title text-black">PENDING PAYMENTS</div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title">Payments</span> <span class="item-count animate-number semi-bold" data-value="2415"
              data-animation-duration="700">{{pending_payments}}</span>
          </div>
        </div>
        <div class="widget-stats">
          <div class="wrapper transparent">
            <span class="item-title">Payments</span> <span class="item-count animate-number semi-bold" data-value="751"
              data-animation-duration="700">{{above_due_details}}</span>
          </div>
        </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-title">Amount</span> <span class="item-count animate-number semi-bold" data-value="1547"
              data-animation-duration="700"><i class="fa fa-rupee">{{pending_amount| numberFormat}}</i></span>
          </div>
        </div>
        <div class="widget-stats ">
          <div class="wrapper last">
            <span class="item-title">Paid Amount</span> <span class="item-count animate-number semi-bold" data-value="1547"
              data-animation-duration="700"><i class="fa fa-rupee">{{paid_amount| numberFormat}}</i></span>
          </div>
        </div>
        <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
          <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%" style="width: 64.8%;"></div>
        </div>
        <!-- <div class="description"> <span class="text-white mini-description ">4% higher <span class="blend">than last
                  month</span></span>
            </div> -->
      </div>
    </div>

  </div>
</div>

<!--<div class="row sm-gutter">
  <div class="col-md-4 col-vlg-3 col-sm-6">
    
  </div>

  <div class="col-md-4 col-vlg-3 col-sm-6">
   
  </div>
</div>-->