.col-lg-3 {
    width: 25%;
}
.col-sm-6 {
    width: 50%;
}
.col-xs-12 {
    width: 100%;
}
.simple-widget {
    position: relative;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #121313;
    background: -moz-linear-gradient(45deg,#2698e2 0,#197cbc 100%);
    background: -webkit-linear-gradient(45deg,#2698e2 0,#197cbc 100%);
    background: linear-gradient(45deg,#4f5468 0,#4f5468 100%)
}
.simple-widget .growth {
    position: absolute;
    right: 15px;
    top: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: #7b8084;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
.text-white {
    color: rgb(8, 0, 0);
}
.simple-widget .progress {
    height: 5px;
    margin: 0;
    border-radius: 0;
    background: rgba(255,255,255,.2);
}
.progress {
    background-color: #ededed;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.simple-widget .progress .progress-bar {
    background: #fff;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.gutter.row {
    margin-right: -7px;
    margin-left: -7px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/*new dashboard css*/
.sm-gutter{
    padding-right: 70px;
    padding-left: 5px;
}

.col-md-4 {
    width: 33.33333333%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.col-sm-6 {
    width: 28%;
}
.tiles.green {
    background:linear-gradient(45deg,#4f5468 0,#4f5468 100%);
}
.tiles {
    background-color: #bcbcbc;
    color: #fff;
    position: relative;
}
.m-b-10 {
    margin-bottom: 10px!important;
}

.tiles .tiles-body {
    padding: 10px 18px 15px 18px;
}
.tiles .tiles-title {
    font-size: 11px;
    font-family: roboto;
    letter-spacing: .7px;
    font-weight: 500;
}
.tiles {
    background-color: #bcbcbc;
    color: #fff;
    position: relative;
}.widget-stats {
    padding-left: 0;
    display: inline-block;
}.widget-stats .wrapper.transparent {
    border-right: 1px solid rgba(0,0,0,.14);
}
.widget-stats .wrapper {
    margin: 5px 0;
    border-right: 1px solid #363a41;
    margin-right: 7px;
    padding-right: 7px;
}
.widget-stats .item-title {
    font-size: 13px;
    letter-spacing: .01em;
}.widget-stats .item-count {
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 500;
}.semi-bold {
    font-weight: 400;
}
.tiles .progress {
    width: 70%;
    margin-bottom: 13px;
}
.progress.progress-small {
    height: 2px;
}
.progress.transparent {
    background-color: rgba(0,0,0,.28);
}
.progress.no-radius {
    border-radius: 0;
}
.progress {
    height: 3px;
    background-color: #e9ecee;
    background-image: none;
    box-shadow: none;
    filter: none;
}
.m-t-20 {
    margin-top: 20px!important;
}.progress.no-radius .progress-bar {
    border-radius: 0;
}
.progress-bar-white {
    background-color: #fff;
    background-image: none;
}.description {
    font-size: 13px;
    display: block;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}



