<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <div class="row">
          <div class="col-4">
            <h3 class="box-title m-b-0">{{ merchantId == undefined ? 'ADD MERCHANT' : 'EDIT MERCHANT' }}</h3>
            <br>
          </div>
          <div class="col-8">
            <div class="pull-right">
              <div class="row" *ngIf="merchantId">
                <div class="col-sm-2">Bank Verify</div>
                <div class="col-sm-2">
                  <label class="switch" *ngIf="bank_details_show">
                    <input type="checkbox" (change)="bankVerify()" [(checked)]="bank_verify">
                    <span class="slider" style="border-radius: 34px;"></span>
                  </label>
                  <label class="switch" *ngIf="bank_details_hide" (click)="alertverify(1)">
                    <input type="checkbox" disabled>
                    <span class="slider" style="border-radius: 34px;"></span>
                  </label>
                </div>
                <div *ngIf="is_admin_verified" class="col-sm-3">Pan Verify</div>
                <div *ngIf="!is_admin_verified" class="col-sm-1">Pan Verify</div>
                <div class="col-sm-2">
                  <label class="switch" *ngIf="pan_details_show">
                    <input type="checkbox" (change)="panVerify()" [checked]="pan_verify">
                    <span class="slider" style="border-radius: 34px;"></span>
                  </label>
                  <label class="switch" *ngIf="pan_details_hide" (click)="alertverify(2)">
                    <input type="checkbox" disabled>
                    <span class="slider" style="border-radius: 34px;"></span>
                  </label>
                </div>
                <div *ngIf="!is_admin_verified" class="col-sm-1">Verify</div>
                <div class="col-sm-2" *ngIf="!is_admin_verified">
                  <label class="switch">
                    <input type="checkbox" (change)="verifyMerchant()" [checked]="is_admin_verified">
                    <span class="slider" style="border-radius: 34px;"></span>
                  </label>
                </div>
                <div class="col-sm-1">
                  <button *ngIf="merchantId" class="btn btn-warning" (click)="backClicked()">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right">
          <span style="text-align: right; color: red" *ngIf="verificationErr">
            {{verificationErr}}
          </span>
        </div>
        <div *ngIf="merchantId && admin_verified">
          <div class="form-group row">
            <label class="col-2">Merchant</label>
            <div class="col-10 row pb20">
              <div class="col-3">
                <i class="fa fa-check text-success" aria-hidden="true"> Verified</i>
              </div>
            </div>
          </div>
        </div>

        <form class="form" #regMerchantForm="ngForm">
          <p class="text-muted m-b-30 font-13"> </p>
          <!-- <form class="form" #regMerchantForm="ngForm" (ngSubmit)="onSubmit(regMerchantForm.value)"> -->
          <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Name</label>
            <div class="col-10">
              <!-- {{updateMerchant.name}} -->
              <input class="form-control" type="text" [(ngModel)]="updateMerchant.name" [pattern]="namePattern"
                minlength=4 placeholder="Enter Name" id="name" name="name" #name="ngModel" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <span *ngIf="name?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="name?.errors.minlength" class="text-danger">
                  Name must be at least 4 characters long.
                </span>
                <span *ngIf="!name.errors.minlength && name?.errors?.pattern" class="text-danger">
                  Name is not valid
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" minlength=4 type="email" [pattern]="emailPattern"
                [(ngModel)]="updateMerchant.email" placeholder="Enter Email" name="email" id="example-email-input"
                #email="ngModel" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="email?.errors.minlength" class="text-danger">
                  Email must be at least 4 characters long.
                </span>
                <span *ngIf="!email.errors.minlength && email?.errors?.pattern" class="text-danger">
                  Email is not valid
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-mobile-input" class="col-2 col-form-label">Mobile</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" [readonly]="merchantId" [pattern]="mobilePattern" name="mobile"
                type="number" [(ngModel)]="updateMerchant.mobile" placeholder="Enter Mobile Number" id="example-mobile-input"
                required minlength=4 #mobile="ngModel">
              <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                <span *ngIf="mobile?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="mobile?.errors.minlength" class="text-danger">
                  Mobile Number must be at least 4 characters long.
                </span>
                <span *ngIf="!mobile.errors.minlength && mobile?.errors?.pattern" class="text-danger">
                  Mobile is not valid
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="merchantId" class="form-group row">
            <label for="example-status-input" class="col-2 col-form-label">Merchant Status</label>
            <div class="col-10">
              <select class="form-control" name="category" [(ngModel)]="updateMerchant.merchant_status" id="example-status-input">
                <option selected value="active" hidden>
                  {{updateMerchant.merchant_status}}
                </option>
                <option *ngFor="let stat of statusOptions">
                  {{stat.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-display_status-input" class="col-2 col-form-label">Display Status</label>
            <div class="col-10">
              <select class="form-control" name="display_status" [(ngModel)]="DisplayStatusSelected" required>
                <option selected hidden>
                  {{DisplayStatusSelected}}
                </option>
                <option *ngFor="let stat of statusOptions">
                  {{stat.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-ifsc-input" class="col-2 col-form-label">IFSC Code</label>
            <div class="col-10">
              <input type="text" name="ifsc" class="form-control" id="example-ifsc-input" [(ngModel)]="updateMerchant.ifsc_code"
                placeholder="Enter IFSC code" (change)="changeValue()" autocomplete="off" (keyup)="getBankIfsc($event, updateMerchant.ifsc_code, null)"
                #ifsc="ngModel">
              <auto-complete (close)="bank_ifsc_data.length = 0" [dataSets]="bank_ifsc_data" dataName="ifsc_code-@bank_name-@branch_name"
                type="default" (select)="ifscSelect($event)" dataSplit='-'></auto-complete>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-bank-input" class="col-2 col-form-label">Bank</label>
            <div class="col-10">
              <input class="form-control" type="text" name="bank" [(ngModel)]="updateMerchant.bank_name" placeholder="Enter Bank Name"
                id="example-bank-input" #bank="ngModel">
              <!-- <select class="form-control" name="bank">
                <option selected hidden>
                  {{BankCategorySelected}}
                </option>
                <option value={{bankObj._id}} *ngFor="let bankObj of BankOptions">
                  {{bankObj.bank}}
                </option>
              </select> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-branch-input" class="col-2 col-form-label">Bank Branch</label>
            <div class="col-10">
              <input class="form-control" type="text" name="branch" [(ngModel)]="updateMerchant.branch" placeholder="Enter Branch Name"
                id="example-branch-input" #branch="ngModel">
              <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="example-ifsc-input" class="col-2 col-form-label">IFSC Code</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="ifsc" [(ngModel)]="updateMerchant.ifsc_code" placeholder="Enter IFSC Code"
                id="example-ifsc-input" #ifsc="ngModel">
               <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
          <!-- </div>
          </div> -->

          <div class="form-group row">
            <label for="example-acno-input" class="col-2 col-form-label">Account Number</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="accountNumber" [(ngModel)]="updateMerchant.account_no"
                placeholder="Enter Account Number" id="example-acno-input" #accountNumber="ngModel">
              <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-namebank-input" class="col-2 col-form-label">Name on Bank</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="namebank" [(ngModel)]="updateMerchant.name_on_bank"
                placeholder="Enter Name on Bank" id="example-namebank-input" #namebank="ngModel">
              <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                    <span *ngIf="tin.errors.required" class="text-danger">
                      *required.
                    </span>
                  </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-panno-input" class="col-2 col-form-label">PAN Number</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="panno" [pattern]="panPattern"
                [(ngModel)]="updateMerchant.pan_number" placeholder="Enter Pan Card Number" id="example-panno-input"
                #panno="ngModel">
              <!-- <div *ngIf="panno?.invalid && (panno?.dirty || panno?.touched)">
                <span *ngIf="panno?.errors?.pattern" class="text-danger">
                  PAN is should be in correct form.
                </span>
              </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-panname-input" class="col-2 col-form-label">Name On Pan Card</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="panname" [(ngModel)]="updateMerchant.pan_name"
                placeholder="Enter Name on Pan card" id="example-panname-input" #panname="ngModel">
              <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-tin-input" class="col-2 col-form-label">TIN</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="tin" [pattern]="tinPattern" [(ngModel)]="updateMerchant.tin"
                placeholder="Enter TIN Number" id="example-tin-input" #tin="ngModel">
              <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-tid-input" class="col-2 col-form-label">TID</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="tid" [(ngModel)]="updateMerchant.tid"
                placeholder="Enter TID Number" id="example-tid-input" #tid="ngModel">
              <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="example-company-input" class="col-2 col-form-label">Company</label>
            <div class="col-10">
              <input autocomplete="imageChangedEventoff"  class="form-control" type="text" name="company" [(ngModel)]="updateMerchant.compimageChangedEventany" placeholder="Enter Company Name"
                id="example-companyimageChangedEvent-input" required #company="ngModel">
              <div *ngIf="company.iimageChangedEventnvalid && (company.dirty || company.touched)">

                <span *ngIf="company.errors.required" class="text-danger">
                  *required.
                </span>
                <!-- <span *ngIf="!company.errors.minlength && company?.errors?.pattern" class="text-danger">
                  Company Name must start with Upper case letter
              </span> -->
          <!-- </div>
            </div>
          </div> -->

          <!-- File upload starts -->

          <div class="form-group row">
            <label for="example-logo-input" class="col-2 col-form-label">Logo</label>
            <div class="col-10 row">
              <div class="form-group col-sm-6">
                <form enctype="multipart/form-data">
                  <input type="file" name="logo_url" accept="image/x-png, image/gif, image/jpeg" (change)="fileChangeEvent($event, 'logo_url')"
                    data-toggle="modal" data-target="#cropImageModel" />

                  <!-- <button class="btn btn-info m-t-10" (click)="changeMobileNo(merchant._id,merchant.mobile)" data-toggle="modal" data-target="#submerchantMobile">Add</button> -->
                </form>
              </div>
              <div *ngIf="updateMerchant.logo_url != undefined" class="form-group col-sm-4">
                <img class="thumbnail zoom" src="{{updateMerchant.logo_url}}" alt="logo_img" style="width: 100px; height: 100px">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-pan-input" class="col-2 col-form-label">Pan Card</label>
            <div class="col-10 row">
              <div class="form-group col-sm-6">
                <form enctype="multipart/form-data">
                  <input type="file" name="pan_card" accept="image/x-png, image/gif, image/jpeg" (change)="uploadLogo($event.target.files, 'pan_card')">


                  <!-- (change)="uploadImage($event.target.files, 'pan_card')"-->

                </form>
              </div>
              <div *ngIf="updateMerchant.pan_card != undefined" class="form-group col-sm-4">
                <img class="thumbnail zoom" src="{{updateMerchant.pan_card}}" alt="pan_card" style="width: 100px; height: 100px">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-check-input" class="col-2 col-form-label">Check Leaf</label>
            <div class="col-10 row">
              <div class="form-group col-sm-6">
                <form enctype="multipart/form-data">
                  <input type="file" name="check_leaf" accept="image/x-png, image/gif, image/jpeg" (change)="uploadLogo($event.target.files, 'check_leaf')" />
                  <!-- (change)="fileChangeEvent($event, 'check_leaf')" data-toggle="modal" data-target="#cropImageModel" /> -->


                </form>
              </div>
              <div *ngIf="updateMerchant.check_leaf != undefined" class="form-group col-sm-4">
                <img class="thumbnail zoom" src="{{updateMerchant.check_leaf}}" alt="check_leaf" style="width: 100px; height: 100px">
              </div>
            </div>
          </div>

          <!-- File upload ends -->

          <div class="form-group row">
            <label for="example-brand-input" class="col-2 col-form-label">Company/Brand Name</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="brand" [(ngModel)]="updateMerchant.brand_name"
                placeholder="Enter Brand Name" id="example-brand-input" required #brand="ngModel">
              <div *ngIf="brand.invalid && (brand.dirty || brand.touched)">
                <span *ngIf="brand?.errors.required" class="text-danger">
                  *required.
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="example-category-input" class="col-2 col-form-label">Merchant Category</label>
            <div class="col-10">
              <input autocomplete="off"  class="form-control" type="text" name="category" [(ngModel)]="updateMerchant.merchant_category" placeholder="Enter Merchant Category"
                id="example-category-input" required #category="ngModel">
              <div *ngIf="category.invalid && (category.dirty || category.touched)">
                <span *ngIf="category.errors.required" class="text-danger">
                  *required.
                </span>
              </div>
            </div>
          </div> -->
          <div class="form-group row">
            <label for="example-open-time-input" class="col-2 col-form-label">Opening Time</label>
            <div class="col-5">
              <ngb-timepicker [(ngModel)]="updateMerchant.open_time" [meridian]="true" [spinners]="false" name="opentime"
                #opentime="ngModel"></ngb-timepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-close-time-input" class="col-2 col-form-label">Closing Time</label>
            <div class="col-5">
              <ngb-timepicker [(ngModel)]="updateMerchant.close_time" [meridian]="true" [spinners]="false" name="closetime"
                #closetime="ngModel"></ngb-timepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-category-input" class="col-2 col-form-label">Merchant Category</label>
            <div class="col-10">
              <select class="form-control" name="cat" [(ngModel)]="MerchantCategorySelected" required>
                <option selected hidden>
                  {{MerchantCategorySelected}}
                </option>
                <option *ngFor="let o of MerchantOptions">
                  {{o}}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="MerchantCategorySelected == 'Other'" class="form-group row">
            <label for="example-cate-input" class="col-2 col-form-label"> </label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="cate" [(ngModel)]="updateMerchant.merchant_category"
                id="example-cate-input" #cate="ngModel">
              <!-- <div *ngIf="accesstoken.invalid && (accesstoken.dirty || accesstoken.touched)">
                <span *ngIf="accesstoken.errors.required" class="text-danger">
                  *required.
                </span>
              </div> -->
            </div>
          </div>
          <div *ngIf="merchantId" class="form-group row">
            <label for="example-access-token-input" class="col-2 col-form-label">Web Access Token</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="accesstoken" [readonly]="merchantId"
                [(ngModel)]="updateMerchant.web_access_token" id="example-access-token-input" #accesstoken="ngModel">
              <!-- <div *ngIf="accesstoken.invalid && (accesstoken.dirty || accesstoken.touched)">
                <span *ngIf="accesstoken.errors.required" class="text-danger">
                  *required.
                </span>
              </div> -->
            </div>
          </div>
          <div *ngIf="merchantId" class="form-group row">
            <label for="example-secretkey-input" class="col-2 col-form-label">Secret Key</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" [readonly]="merchantId" name="secretkey"
                [(ngModel)]="updateMerchant.secret_key" id="example-secret-key-input" #secretkey="ngModel">
              <!-- <div *ngIf="secretkey.invalid && (secretkey.dirty || secretkey.touched)">
                <span *ngIf="secretkey.errors.required" class="text-danger">
                  *required.
                </span>
              </div> -->
            </div>
          </div>
          <div *ngIf="merchantId" class="form-group row">
            <label for="example-secret-key-input" class="col-2 col-form-label">Web Secret Key</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" [readonly]="merchantId" name="websecretkey"
                [(ngModel)]="updateMerchant.web_secret_key" id="example-secret-key-input" #websecretkey="ngModel">
              <!-- <div *ngIf="secretkey.invalid && (secretkey.dirty || secretkey.touched)">
                <span *ngIf="secretkey.errors.required" class="text-danger">
                  *required.
                </span>
              </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-web-domains-input" class="col-2 col-form-label">Web Domains</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="text" name="domains" placeholder="Entre domains with , separate"
                [(ngModel)]="updateMerchant.web_domains" id="example-web-domains-input" #domains="ngModel">
              <!-- <div *ngIf="domains.invalid && (domains.dirty || domains.touched)">
                <span *ngIf="domains.errors.required" class="text-danger">
                  *required.
                </span>
              </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="example-token-validity-input" class="col-2 col-form-label">Token Validity</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="number" name="validity" [(ngModel)]="updateMerchant.token_validity"
                placeholder="Enter No of Days" id="example-token-validity-input" required #validity="ngModel">
              <div *ngIf="validity.invalid && (validity.dirty || validity.touched)">

                <span *ngIf="validity?.errors.required" class="text-danger">
                  *required.
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-token-validity-input" class="col-2 col-form-label">Payment cycle mode</label>
            <div class="col-10">
              <select class="form-control" name="pay_cycle_mode" [(ngModel)]="PaymentLifeCycleSelected">
                <option selected hidden>
                  {{PaymentLifeCycleSelected}}
                </option>
                <option *ngFor="let options of PaymentLifeCycleOptions">
                  {{options}}
                </option>
              </select>
              <!-- Payment life cycle -->
              <br />
              <br />
              <div *ngIf="PaymentLifeCycleSelected=='Weekly'" class="form-group row">
                <label class="col-4 col-form-label">Payment cycle mode</label>
                <div class="col-8">
                  <label class="payment_input">Sun
                    <input type="checkbox" name="sun" value="sun" disabled>
                    <span class="checkmark"></span>
                  </label>
                  <label class="payment_input">Mon
                    <input type="checkbox" name="mon" value="mon" [(ngModel)]="payment_mode_mon">
                    <span class="checkmark"></span>
                  </label>
                  <label class="payment_input">Tue
                    <input type="checkbox" name="tue" value="tue" [(ngModel)]="payment_mode_tue">
                    <span class="checkmark"></span>
                  </label>
                  <label class="payment_input">Wed
                    <input type="checkbox" name="wed" value="wed" [(ngModel)]="payment_mode_wed">
                    <span class="checkmark"></span>
                  </label>
                  <label class="payment_input">Thu
                    <input type="checkbox" name="thu" value="thu" [(ngModel)]="payment_mode_thu">
                    <span class="checkmark"></span>
                  </label>
                  <label class="payment_input">Fri
                    <input type="checkbox" name="fri" value="fri" [(ngModel)]="payment_mode_fri">
                    <span class="checkmark"></span>
                  </label>
                  <label class="payment_input">Sat
                    <input type="checkbox" name="sat" value="sat" [(ngModel)]="payment_mode_sat">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div *ngIf="PaymentLifeCycleSelected=='No. of days'" class="form-group row">
                <label class="col-4 col-form-label">Payment cycle mode</label>
                <div class="col-8">
                  <input class="form-control" type="number" name="payment_cycle" [(ngModel)]="payment_cycle"
                    placeholder="Enter number of days" #PayError="ngModel" required pattern="^$|^([1-9]|[1-5][0-9]|60)?">
                  <div *ngIf="PayError.errors && (PayError.dirty || PayError.touched)">
                    <div [hidden]="!PayError.errors.pattern" class="text-danger">
                      Pay cycle should not be greater than 60 days
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="example-tin-input" class="col-2 col-form-label">TIN</label>
            <div class="col-10">
              <input autocomplete="off"  class="form-control" type="text" name="tin" [(ngModel)]="updateMerchant.tin" placeholder="Enter TIN" id="example-tin-input"
                required #tin="ngModel">
              <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">

                <span *ngIf="tin.errors.required" class="text-danger">
                  *required.
                </span>
              </div>
            </div>
          </div> -->
          <div *ngIf="!merchantId" class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Password</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" type="password" name="password" [(ngModel)]="updateMerchant.password"
                placeholder="Enter Password" id="example-password-input" required #password="ngModel" minlength=8>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">

                <span *ngIf="password?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="password?.errors.minlength" class="text-danger">
                  password must be at least 8 characters long.
                </span>
                <!-- <span *ngIf="!password.errors.minlength && password?.errors?.pattern" class="text-danger">
                  Password must contain atleast one Upper case letter, one Lower case letter, one Number and one Special character
              </span> -->
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-2" for="email">
              Company address :
            </label>
            <div class="input-group col-10">
              <input [(ngModel)]="updateMerchant.formatted_address" name="company_search_one" placeholder="search Company Address"
                autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #companySearch
                #companyValidation="ngModel">

              <!-- <div class="input-group-addon">
                <i class="zmdi zmdi-gps-dot" (click)="ModalToggle()"></i>
              </div> -->
            </div>
            <!-- <field-error *ngIf="!validation_errors.company_add_error" [field]="companyValidation" fieldName="Company address" [validationError]="validation_errors.form_error">
    
            </field-error> -->
            <!-- <span *ngIf="validation_errors.company_add_error" class="default-error">
              {{validation_errors.company_add_error}}
            </span> -->
          </div>
          <form *ngIf="!merchantId" class="form" #commissions="ngForm" (ngSubmit)="onSubmitCommissions(commissions.value)">
            <div class="form-group row">
              <label class="col-2 col-form-label">Commission</label>
              <div class="col-10">
                <div *ngFor="let num of numbers; let i=index" class="row">
                  <div class="col-10 row pb20">
                    <div class="col-3">
                      <input autocomplete="off" class="form-control" type="number" ngModel name='{{ "min_amount" + i }}'
                        placeholder="Enter Minimum Cost">
                    </div>
                    <div class="col-3">
                      <input autocomplete="off" class="form-control" type="number" ngModel name='{{ "max_amount" + i }}'
                        placeholder="Enter Maximum Cost">
                    </div>
                    <div class="col-3">
                      <input autocomplete="off" class="form-control" type="number" ngModel name='{{ "commission_rate" + i }}'
                        placeholder="Enter Commission Rate">
                    </div>
                    <div class="col-3">
                      <button *ngIf="i==length-1" class="btn btn-success" (click)="addCommissionField()" type="button">
                        +
                      </button>&nbsp;&nbsp;&nbsp;
                      <button *ngIf="i==length-1 && i!=0" class="btn btn-danger" (click)="removeCommissionField()" type="button">x</button>&nbsp;&nbsp;&nbsp;
                      <!-- <button *ngIf="i==length-1 && !updateCommissionSubmit" type="submit" class="btn btn-info">Submit</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-2"></div>
              <div class="col-10">
                <button *ngIf="!merchantId" type="submit" class="btn btn-info">Register</button>
                <br>
                <!-- <p *ngIf="regMerchantResponse.success" class="text-success">{{ regMerchantResponse.message }} </p> -->
                <p *ngIf="!regMerchantResponse.success" class="text-danger">{{ regMerchantResponse.message }} </p>
              </div>
            </div>
          </form>
          <div *ngIf="merchantId">
            <div *ngFor="let commission of getKeys(updateCommissionsArray); let i=index">
              <!-- {{ commission }} -->
              <!-- {{updateCommissionsArray[commission]['min_amount']}} -->
              <div class="form-group row">
                <label class="col-2 col-form-label">Commission</label>
                <div class="col-10 row pb20">
                  <div class="col-3">
                    <input autocomplete="off" class="form-control" type="number" name="{{ 'min_amount' + i }}"
                      [(ngModel)]='updateCommissionsArray[commission]["min_amount"]' placeholder="Enter Minimum Cost">
                  </div>
                  <div class="col-3">
                    <input autocomplete="off" class="form-control" type="number" name="{{ 'max_amount' + i }}"
                      [(ngModel)]='updateCommissionsArray[commission]["max_amount"]' placeholder="Enter Maximum Cost">
                  </div>
                  <div class="col-3">
                    <input autocomplete="off" class="form-control" type="number" name="{{ 'commission_rate' + i }}"
                      [(ngModel)]='updateCommissionsArray[commission]["commission_rate"]' placeholder="Enter Commission Rate">
                  </div>
                  <div class="col-3">
                    <!-- <button *ngIf="i==length-1 && i!=0" class="btn btn-danger" (click)="removeCommissionField()" type="button">x</button>&nbsp;&nbsp;&nbsp; -->
                    <button *ngIf="i == updateCommissionsArray.length-1 && addButtonOnceOnEdit" class="btn btn-success"
                      (click)="addCommissionField()" type="button"> + </button>&nbsp;&nbsp;&nbsp;
                    <!-- <button *ngIf="i==length-1 && !updateCommissionSubmit" type="submit" class="btn btn-info">Submit</button> -->
                  </div>
                </div>
              </div>
            </div>
            <form class="form" #updateCommissions="ngForm" (ngSubmit)="onSubmitCommissionsUpdate(updateCommissions.value)">
              <div *ngFor="let num of numbers; let i=index">
                <div class="form-group row">
                  <label class="col-2 col-form-label">Commission</label>
                  <div class="col-10 row pb20">
                    <div class="col-3">
                      <input autocomplete="off" class="form-control" type="number" ngModel name='{{ "min_amount" + i }}'
                        placeholder="Enter Minimum Cost">
                    </div>
                    <div class="col-3">
                      <input autocomplete="off" class="form-control" type="number" ngModel name='{{ "max_amount" + i }}'
                        placeholder="Enter Maximum Cost">
                    </div>
                    <div class="col-3">
                      <input autocomplete="off" class="form-control" type="number" ngModel name='{{ "commission_rate" + i }}'
                        placeholder="Enter Commission Rate">
                    </div>
                    <div class="col-3">
                      <button *ngIf="i==length-1" class="btn btn-success" (click)="addCommissionField()" type="button">
                        + </button>&nbsp;&nbsp;&nbsp;
                      <button *ngIf="i==length-1 && i!=0 && updateCommissionsArray.length == 0" class="btn btn-danger"
                        (click)="removeCommissionField()" type="button">x</button>&nbsp;&nbsp;&nbsp;
                      <button *ngIf="i==length-1 && updateCommissionsArray.length > 0" class="btn btn-danger" (click)="removeCommissionField()"
                        type="button">x</button>&nbsp;&nbsp;&nbsp;
                      <!-- <button *ngIf="i==length-1" type="submit" class="btn btn-info">Submit</button> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">On-Borad Date</label>
                <div class="col-10">
                  <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="OnbrardDate"
                    [(ngModel)]="OnbrardDate" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-10">
                  <button *ngIf="merchantId" type="submit" class="btn btn-info" [disabled]="regMerchantForm.invalid">Update</button>
                  <!-- <p *ngIf="regMerchantResponse.success" class="text-success">{{ regMerchantResponse.message }} </p> -->
                  <ng-container *ngIf="name.invalid else elseEmail">
                    <span style="color: red">
                      Name is invalid. It should be minimum 4 characters.
                    </span>
                  </ng-container>
                  <ng-template #elseEmail>
                    <ng-container *ngIf="email.invalid else elseMobile">
                      <span style="color: red">cropImageModel Email is Invalid. It shcropImageModeln correct form.
                      </span>
                    </ng-container>
                  </ng-template>
                  <ng-template #elseMobile>
                    <ng-container *ngIf="mobile.invalid else elseValidity">
                      <span style="color: red">
                        Mobile Number is required.
                      </span>
                    </ng-container>
                  </ng-template>
                  <ng-template #elseValidity>
                    <ng-container *ngIf="validity.invalid else elseTin">
                      <span style="color: red">
                        Token validity is required.
                      </span>
                    </ng-container>
                  </ng-template>
                  <ng-template #elseTin>
                    <ng-container *ngIf="tin.invalid else elseBrand">
                      <span style="color: red">
                        TIN Number is invalid. It should be in correct form.
                      </span>
                    </ng-container>
                  </ng-template>
                  <ng-template #elseBrand>
                    <ng-container *ngIf="brand.invalid else elsePan">
                      <span style="color: red">
                        Brand name is required.
                      </span>
                    </ng-container>
                  </ng-template>
                  <ng-template #elsePan>
                    <ng-container *ngIf="panno.invalid">
                      <span style="color: red">
                        PAN Number is invalid. It should be in correct form.
                      </span>
                    </ng-container>
                  </ng-template>
                  <p *ngIf="!regMerchantResponse.success" class="text-danger">{{ regMerchantResponse.message }} </p>
                </div>
              </div>
            </form>

          </div>
        </form>
        <div style="padding-top: 80px;" class="modal fade" id="cropImageModel" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" *ngIf="cropModelShow">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cropimage</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" #close>
                    <span aria-hidden="true">&times;</span>
                  </button> -->
              </div>
              <div class="modal-body">
                <div>
                  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" format="png"
                    (imageCroppedFile)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                  <!-- <img [src]="croppedImage" /> -->
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" data-dismiss="modal" (click)="uploadImage()">Save</button>
                  </div>
                </div>

                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
                    <button class="btn btn-primary" [disabled]="changeButton" (click)="addSubmerchant(close)" (mouseover)="checkMobileNumber()"
                      [disabled]="newMobile==''">Add</button>
                  </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>