<!-- <div class="title">
  <h4>Add Member</h4>
</div>
<div class="row">
  <div class="col-lg-12">
    <form role="form" class="form-padding" name="userForm" #userForm="ngForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group ">
            <div>
              <label for="name">User Name:</label>
            </div>
            <div class="col-xs-12 input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <input autocomplete="off" class="form-control" type="text" [(ngModel)]="user_details.name" name="user_name"
                #name="ngModel" required>
            </div>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <span *ngIf="name?.errors.required" class="text-danger">
                *required.
              </span>
              <span *ngIf="name?.errors.minlength" class="text-danger">
                Name must be at least 4 characters long.
              </span>
              <span *ngIf="!name.errors.minlength && name?.errors?.pattern" class="text-danger">
                Name is not valid
              </span>
            </div>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div>
              <label for="name">Email:</label>
            </div>
            <div class="col-xs-12 input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" type="text" [(ngModel)]="user_details.email" name="emial" #Email="ngModel"
                required pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <div>
            <label for="name">Mobile:</label>
          </div>
          <div class="col-xs-12 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-phone" uria-hidden="true"></i>
              </span>
            </div>
            <input InputText InputType="number" inputmode="numeric" class="form-control" type="text" [(ngModel)]="user_details.mobile"
              name="mobile" #Mobile="ngModel" required pattern='\d{10}'>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <div>
            <label for="name">Password:</label>
          </div>
          <div class="col-xs-12 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </span>
            </div>
            <input type="{{password_type}}" class="form-control" [(ngModel)]="user_details.current_password" name="password"
              #Password="ngModel" required>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div>
            <label for="name">Confirm Password:</label>
          </div>
          <div class="col-xs-12 input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </span>
            </div>
            <input type="{{password_type}}" class="form-control" [(ngModel)]="user_details.confirm_password" name="confirm_password"
              #ConfirmPassword="ngModel" required>
          </div>
          <span class="default-error" *ngIf="user_details.current_password && user_details.confirm_password && user_details.current_password != user_details.confirm_password">
            Password and Confirm password mis match.
          </span>
        </div>
        <div class="form-group col-md-1">
          <div>
            <label for="name"> </label>
          </div>
          <div class="col-xs-12">
            <i class="fa fa-eye-slash password-show-icon" *ngIf="password_type == 'text'" (click)="clickPasswordShow('password')"></i>
            <i class="fa fa-eye password-show-icon" *ngIf="password_type == 'password'" (click)="clickPasswordShow('text')"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <div>
            <label for="name">User Types:</label>
          </div>
          <div class="col-xs-12">
            <angular2-multiselect (onSelect)="changeUserType()" name="user_type" [data]="user_types" [(ngModel)]="selected_user_type"
              [settings]="user_type_settings">
            </angular2-multiselect>
          </div>
          <span class="default-error" *ngIf="selected_user_type == false && validation_errors.form_error">
            Please select user type.
          </span>
        </div>
        <div class="form-group col-md-4" *ngIf="login_user_details.type == 'super_admin'">
          <div>
            <label for="name">select parent:</label>
          </div>
          <angular2-multiselect name="parent_selection" *ngIf="!page_loading" [data]="all_admins" [(ngModel)]="selected_parent"
            [settings]="parent_select_settings">
          </angular2-multiselect>
          <span class="default-error" *ngIf="selected_parent.length == 0 && validation_errors.form_error">
            Please select user type.
          </span>
        </div>
      </div>
    </form>
  </div>
</div> -->