.default-error {
    color: #e84e4f;
    position: relative !important;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  
  
  .password-show-icon {
    position: relative;
    top: 33px;
    cursor: pointer;
  }
  
  .select-permissions {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .select-permission-label {
    padding: 4px;
    background: #0079fe;
    color: white;
    min-width: 100px;
    max-width: 200px;
    border-radius: 3px;
    margin-left: 5px;
  }
  
  .my-model .model-content {
    width: 1400px !important;
  }
  
  td,
  th {
    border: 1px solid lightgrey !important;
  }
  
  .select-permission-note {
    font-size: 10px;
    margin-left: 5px;
  }
  
  label.btn span {
    font-size: 1.5em;
  }
  
  label input[type="radio"]~i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
  }
  
  label input[type="radio"]~i.fa.fa-dot-circle-o {
    display: none;
  }
  
  label input[type="radio"]:checked~i.fa.fa-circle-o {
    display: none;
  }
  
  label input[type="radio"]:checked~i.fa.fa-dot-circle-o {
    color: #7AA3CC;
    display: inline;
  }
  
  label:hover input[type="radio"]~i.fa {
    color: #7AA3CC;
  }
  
  label input[type="checkbox"]~i.fa.fa-square-o {
    color: #c8c8c8;
    display: inline;
  }
  
  label input[type="checkbox"]~i.fa.fa-check-square-o {
    display: none;
  }
  
  label input[type="checkbox"]:checked~i.fa.fa-square-o {
    display: none;
  }
  
  label input[type="checkbox"]:checked~i.fa.fa-check-square-o {
    color: #7AA3CC;
    display: inline;
  }
  
  label:hover input[type="checkbox"]~i.fa {
    color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label.active {
    color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  div[data-toggle="buttons"] label:hover {
    color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label:active,
  div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .permission-title {
    background: #5a5959;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 20px;
  }
  
  .big-checkbox {
    width: 20px;
    height: 30px;
    position: relative;
    top: 6px
  }
  
  .fa-plus-style {
    font-size: 37px;
    /* height: 31px; */
    top: 6px;
    position: relative;
  }
  
  ::ng-deep .my-model .modal-dialog {
    max-width: 90%;
    width: 90%;
  }
  
  
  
  