<div class="white-box">
    <h3 class="box-title">Logs</h3><p></p>

    <div class= "white-box" *ngIf="!findStatus">
        <h3 class="box-title" style="text-align: center">  No records found </h3>
     </div>
    <div class="table-responsive" style="text-align:center" *ngIf="findStatus">
        <table class="table color-table inverse-table" style="text-align:center">
            <thead>
                <tr>
                    <th>S.no</th>
                    <!-- <th>User_id</th> -->
                    <th>Date</th>
                    <th>Message</th>
                    <!-- <th>Password</th> -->
                    <th>Type</th>
                    <th>Code</th>
                    <th>Error data</th>
                    <th>File name</th>
                    <!-- <th>Mobile_pin</th> -->
                    <!-- <th>Register_merchant</th> -->
                    <th>Function name</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of pagedItems ; let i = index">
                    <td>{{(currentPage-1)*10+i+1}}</td>
                    <!-- <td>{{user._id != undefined ? user._id : '--'}}</td> -->
                    <td>{{user.date != undefined ? (user.date |date: 'dd-MM-yyyy HH:mm:ss') : '--'}}</td>
                    <td>{{user.message != undefined ? user.message : '--'}}</td>
                    <!-- <td>{{user.password != undefined?user.password : "--"}}</td> -->
                    <td>{{user.type != undefined ? user.type  : '--'}}</td>
                    <td>{{user.code != undefined ? user.code: '--'}}</td>
                    <td>{{user.error_data != undefined ? user.error_data :' --'}}</td>
                    <td>{{user.file_name != undefined ? user.file_name:'--'}}</td>
                    <!-- <td>{{user.mobile_pin != undefined ? user.mobile_pin : '--'}}</td> -->
                    <!-- <td>{{user.register_merchant != undefined ? user.register_merchant : '--'}}</td> -->
                    <td>{{user.function_name != undefined ? user.function_name:'--'}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paginationStatus && !errMsg" class="container">
        <div class="text-center">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
              <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(convertInt(pager.currentPage + 1))">Next</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div>
<div *ngIf="errMsg">
No error Logs Found
</div>