<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User profile -->
    <div class="user-profile">
      <!-- User profile image -->
      <div class="profile-img">
        <img src="assets/images/users/user.png" alt="user" />
        <!-- this is blinking heartbit-->
        <!-- <div class="notify setpos">
          <span class="heartbit"></span>
          <span class="point"></span>
        </div> -->
      </div>
      <!-- User profile text-->
      <div class="profile-text">
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="true">{{userName}}
          <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu animated flipInY">
          <!-- text-->
          <!-- <a href="#" class="dropdown-item">
            <i class="ti-user"></i> My Profile</a> -->
          <!-- text-->
          <!-- <a href="#" class="dropdown-item">
            <i class="ti-wallet"></i> My Balance</a> -->
          <!-- text-->
          <!-- <a href="#" class="dropdown-item">
            <i class="ti-email"></i> Inbox</a> -->
          <!-- text-->
          <!-- <div class="dropdown-divider"></div> -->
          <!-- text-->
          <!-- <a href="#" class="dropdown-item">
            <i class="ti-settings"></i> Account Setting</a> -->
          <!-- text-->
          <!-- <div class="dropdown-divider"></div> -->
          <!-- text-->
          <a (click)="logout()" class="dropdown-item">
            <i class="fa fa-power-off"></i> Logout</a>
          <!-- text-->
        </div>
      </div>
    </div>
    <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <!-- <li class="nav-small-cap">PERSONAL</li> -->
        <li [class.active]="showMenu === 'start'">
          <a *ngIf="userType  || userPermissions.indexOf('dashboard') != -1 || userPermissions.indexOf('all') != -1"
            routerLink="/dashboard" (click)="addExpandClass('start')" [routerLinkActive]="['router-link-active']">
            <i class="icon-speedometer"></i>
            <span class="hide-menu">Dash Board</span>
          </a>
        </li>
        <!-- <li [class.active]="showMenu === 'component'">
          <a 
            class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" routerLink="/npa-details" [routerLinkActive]="['router-link-active']" aria-expanded="false">
            <i class="icon-bulb"></i>
            <span class="hide-menu">NPA Details</span>
          </a>
        </li> -->
        <li>
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('npa-details') != -1" routerLink="/npa-details"
            [routerLinkActive]="['router-link-active']">
            <i class="icon-list"></i>NPA Details</a>
        </li>
        <!-- <li class="nav-small-cap">UI COMPONENTS</li> -->
        <!-- <li [class.active]="showMenu === 'component'">
            <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false"><i class="icon-bulb"></i><span class="hide-menu">Component</span></a>
            <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
                <li><a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Accordion</a></li>
                <li><a routerLink="/alert" [routerLinkActive]="['router-link-active']">Alert</a></li>
                <li><a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Carousel</a></li>
                <li><a routerLink="/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a></li>
                <li><a routerLink="/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a></li>
                <li><a routerLink="/modal" [routerLinkActive]="['router-link-active']">Modal</a></li>
                <li><a routerLink="/pagination" [routerLinkActive]="['router-link-active']">Pagination</a></li>
                <li><a routerLink="/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a></li>
                <li><a routerLink="/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a></li>
                <li><a routerLink="/rating" [routerLinkActive]="['router-link-active']">Ratings</a></li>
                <li><a routerLink="/tabs" [routerLinkActive]="['router-link-active']">Tabs</a></li>
                <li><a routerLink="/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a></li>
                <li><a routerLink="/typehead" [routerLinkActive]="['router-link-active']">Typehead</a></li>
            </ul>
        </li> -->
        <li [class.active]="showMenu === 'component'">
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('add_merchant') != -1  || userPermissions.indexOf('view_merchant') != -1 || userPermissions.indexOf('view_offers') != -1"
            class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false">
            <i class="icon-bulb"></i>
            <span class="hide-menu">Merchant</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
            <li>
              <a routerLink="/merchant/add-merchant" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 ||userPermissions.indexOf('add_merchant') != -1">Add
                Merchant
              </a>
            </li>
            <li>
              <a routerLink="/merchant/view-merchant/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 ||userPermissions.indexOf('view_merchant') != -1">View
                Merchant
              </a>
            </li>
            <li>
              <a routerLink="/offer/view-offers/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 ||userPermissions.indexOf('view_offers') != -1">View
                Offers
              </a>
            </li>
          </ul>
        </li>
        <li [class.active]="showMenu === 'user'">
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('view_user') != -1  || userPermissions.indexOf('user_transactions') != -1 || userPermissions.indexOf('user_payments') != -1"
            class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('user')" aria-expanded="false">
            <i class="icon-user"></i>
            <span class="hide-menu">User</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'user'">
            <li>
              <a routerLink="/user/view-user/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('view_user') != -1">View
                User
              </a>
            </li>
            <li>
              <a routerLink="/user/transactions/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('user_transactions') != -1">Transactions</a>
            </li>
            <li>
              <a routerLink="/user/payments/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('user_payments') != -1">Payments</a>
            </li>
            <li>
              <a routerLink="/user/paynear-locations/1" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('paynear_locations') != -1"
                [routerLinkActive]="['router-link-active']">Paynear Locations</a>
            </li>
            <li>
              <a routerLink="/user/due-users/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('due-users') != -1">Due
                Users</a>
            </li>
          </ul>
        </li>
        <li [class.active]="showMenu === 'permissions'">
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('permissions') != -1" class="has-arrow"
            href="javascript:void(0)" (click)="addExpandClass('permissions')" aria-expanded="false">
            <i class="icon-lock"></i>
            <span class="hide-menu">Permissions</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'permissions'">
            <li>
              <a routerLink="/permissions/add-permissions" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1  || userPermissions.indexOf('permissions') != -1">Add
                Permissions
              </a>
            </li>
            <li>
              <a routerLink="/permissions/view-permissions/1" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1  || userPermissions.indexOf('permissions') != -1">View
                Permissions
              </a>
            </li>
          </ul>
        </li>

        <li [class.active]="showMenu === 'admin-users'">
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('admin-users') != -1" class="has-arrow"
            href="javascript:void(0)" (click)="addExpandClass('admin-users')" aria-expanded="false">
            <i class="icon-user"></i>
            <span class="hide-menu">Admin Users</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'admin-users'">
            <li>
              <a routerLink="/admin-users/add-users" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('admin-users') != -1">Add
                Users
              </a>
            </li>
            <!-- <li>
              <a routerLink="/admin-users/add-new-users" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('admin-users') != -1">Add New
                Users
              </a>
            </li> -->
            <li>
              <a routerLink="/admin-users/view-users" [routerLinkActive]="['router-link-active']" *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('admin-users') != -1">View
                Users
              </a>
            </li>
          </ul>
        </li>

        <li [class.active]="showMenu === 'settings'">
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" class="has-arrow"
            href="javascript:void(0)" (click)="addExpandClass('settings')" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <span class="hide-menu">Settings</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'settings'">
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/add-settings"
                [routerLinkActive]="['router-link-active']">View Settings
              </a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/sms-alerts/1"
                [routerLinkActive]="['router-link-active']">SMS-Alerts</a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/email-alerts/1"
                [routerLinkActive]="['router-link-active']">Email-Alerts</a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/push-alerts/1"
                [routerLinkActive]="['router-link-active']">Push-Alerts</a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/force-update"
                [routerLinkActive]="['router-link-active']">Force-Update</a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/payment-sms/1"
                [routerLinkActive]="['router-link-active']">Payment-by-SMS</a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/user-credits"
                [routerLinkActive]="['router-link-active']">User-credits</a>

            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/push-notifications"
                [routerLinkActive]="['router-link-active']">Send Alerts</a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('settings') != -1" routerLink="/settings/way2money-sms-counts"
                [routerLinkActive]="['router-link-active']">Way2Money-Sms-Counts</a>
            </li>
          </ul>
        </li>
        <li>
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('error_logs') != -1" routerLink="/error-logs/1"
            [routerLinkActive]="['router-link-active']">
            <i class="fa fa-warning"></i>Error Logs</a>
        </li>
        <!-- <li>
          <a  routerLink="/claim-requests/1" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-reply"></i>Claim Requests</a>
        </li> -->
        <li>
          <a *ngIf="userPermissions.indexOf('merchant_payment_cycles') != -1 || userPermissions.indexOf('all') != -1"
            routerLink="/view-claims/1" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-google-wallet"></i>Merchant payment cycles</a>
        </li>
        <li [class.active]="showMenu === 'data'">
          <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('data') != -1" class="has-arrow"
            href="javascript:void(0)" (click)="addExpandClass('data')" aria-expanded="false">
            <i class="fa fa-cog"></i>
            <span class="hide-menu">Data</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'data'">
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('predict-credit-limit') != -1"
                routerLink="/data/predict-credit-limit" [routerLinkActive]="['router-link-active']">Predict Credit
                Limit
              </a>
            </li>
            <li>
              <a *ngIf="userPermissions.indexOf('all') != -1 || userPermissions.indexOf('remove-sms-data') != -1"
                routerLink="/data/remove-sms-data" [routerLinkActive]="['router-link-active']">Remove Sms Data
              </a>
            </li>

          </ul>
        </li>
        <!-- <li [class.active]="showMenu === 'component'">
          <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false">
            <i class="icon-bulb"></i>
            <span class="hide-menu">Offers</span>
          </a>
          <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
            <li>
              <a routerLink="/offer/add-offer" [routerLinkActive]="['router-link-active']">Add
                Offer
              </a>
            </li>
            <li>
              <a routerLink="/offer/view-offers/1" [routerLinkActive]="['router-link-active']">View
                Offers
              </a>
            </li>
          </ul>
        </li> -->
        <!-- <li>
          <a routerLink="/clear-users" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-remove"></i>Clear Users</a>
        </li> -->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->