<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <p style="padding-top: 10px;color: #ECF1F4">
          <span style="font-weight: 500">Way2Money</span> Pay</p>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto mt-md-0">
        <!-- This is  -->
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
            <i class="icon-arrow-left-circle ti-menu"></i>
          </a>
        </li>

        <!-- <li>
          <form role="search" class="app-search hidden-sm-down">
            <input type="text" placeholder="Search..." class="form-control">
            <a href="">
              <i class="fa fa-search"></i>
            </a>
          </form>
        </li> -->
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- <li class="nav-item"> <a href="https://wrappixel.com/templates/elite-angular-admin/" target="_blank" class="btn btn-info text-white">Upgrade To Pro</a> </li> -->
      </ul>
    </div>
  </nav>
</header>


<!-- Original Configuration -->
<!-- <div class="navbar-header">
  <a class="navbar-brand" href="index.html"> -->
<!-- Logo icon -->
<!-- <b> -->
<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
<!-- Dark Logo icon -->
<!-- <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" /> -->
<!-- Light Logo icon -->
<!-- <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
<!-- </b> -->
<!--End Logo icon -->
<!-- Logo text -->
<!-- <span> -->
<!-- dark Logo text -->
<!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
<!-- Light Logo text -->
<!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
    </span>
  </a>
</div> -->
