<!--<div class="container form-padding">
  <div class="card">
    <form class="form-horizontal" style="padding-top: 20px;" role="form" name="settingForm" #settingForm="ngForm">
      <div class="form-group row">
        <label for="mobile" class="col-sm-1" style="padding-left: 22px;">Mobile</label>
        <div class="col-sm-4">
          <input class="form-control" [pattern]="mobilePattern" name="mobile" type="number" [(ngModel)]="sendsmsAlerts.mobile_number"
            placeholder="Enter Mobile Number" id="mobile" required minlength=10 #mobile="ngModel">
        </div>
        <div class="text-left col-sm-2">
          <button class="btn btn-success" (click)="SendPaymentlinkBySms()" [disabled]="settingForm.invalid">Submit</button>
        </div>
        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
          <span *ngIf="mobile?.errors.required" class="text-danger">
            *required.
          </span>
          <span *ngIf="mobile?.errors.minlength" class="text-danger">
            Mobile Number must 10 numbers.
          </span>
          <span *ngIf="!mobile.errors.minlength && mobile?.errors?.pattern" class="text-danger">
            Mobile is not valid
          </span>
        </div>
      </div>
    </form>
    <p class="text-danger">{{message}}</p>
  </div>
</div>-->
<div class="white-box">
  <h3 class="box-title">Payment By Links</h3>
  <div class="col-md-12">
    <div class="input-group">
      <!--<label value="mobile_number">Mobile</label>-->
      <input type="text" class="form-control col-md-4" [value]="searchString" name="searchString" placeholder="Enter Mobile Number"
        (input)="searchString = $event.target.value"> &nbsp;&nbsp;
      <label>From:&nbsp;&nbsp;</label>
      <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="fromDate">&nbsp;&nbsp;
      <b>To:&nbsp;&nbsp;</b>
      <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="toDate"> &nbsp;&nbsp;
      <button type="button" class="btn btn-info" [disabled]="responseStatus" (click)="search()">
        <i class="fa fa-search"> Search</i>
      </button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-warning" [disabled]="resetButtonShowStatus" (click)="reset()">
        <i class="fa fa-recycle"> Reset</i>
      </button>
    </div>
  </div>
  <p></p>
  <div class="white-box" *ngIf="!findStatus">
    <h3 class="box-title" style="text-align: center"> No records found </h3>
  </div>
  <div class="table-responsive" style="text-align:center" *ngIf="findStatus">
    <table class="table color-table inverse-table" style="text-align:center">
      <thead>
        <tr>
          <th>S.no</th>
          <th>UserDetails</th>
          <th>Short Id</th>
          <th>Short Url</th>
          <th>Sent Count</th>
          <th>Clicks</th>
          <th>Created At</th>
          <th>Last Sent Date</th>
          <th>Long Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of pagedItems ; let i = index">
          <td>{{(currentPage-1)*10+i+1}}</td>
          <td>{{user.name ? user.name : '---'}}<br>{{user.email ? user.email : '---'}}<br>{{user.mobile_number ?
            user.mobile_number : '---'}}</td>
          <td>{{user.short_id}}</td>
          <td>{{user.short_url}}</td>
          <td>{{user.sent_count}}</td>
          <td>{{user.clicks}}</td>
          <td>{{user.created_at != undefined ? (user.created_at | date: 'fullDate') : '---'}}</td>
          <td *ngIf="user.last_sent && user.last_sent > 0">{{user.last_sent != undefined ? (user.last_sent | date:
            'fullDate') : '---'}}</td>
          <td *ngIf="!user.last_sent || user.last_sent <= 0">{{ '---' }}</td>
          <td> <a href="{{user.long_url}}"><i class="fa fa-link"></i></a> </td>
          <!-- {{user.long_url}} -->
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="paginationStatus && !errMsg" class="container">
    <div class="text-center">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
          <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(convertInt(pager.currentPage + 1))">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="errMsg">
    No Paymemt By Links Data Found
  </div>