.pb20 {
    padding-bottom: 20px !important;
  }
  .btn-info:disabled {
    cursor: not-allowed;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
} 
  .ng-valid[required],
  .ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
  }
  
  .ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 34px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #2196F3;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  
  .zoom:hover,
  .zoom:active,
  .zoom:focus {
    /**adjust scale to desired size, 
  add browser prefixes**/
    -ms-transform: scale(4);
    -moz-transform: scale(4);
    -webkit-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
    position: relative;
    z-index: 100;
  }
  
  
  .payment_input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .payment_input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .payment_input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .payment_input input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .payment_input input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .payment_input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .default-error {
    color: #e84e4f;
    position: relative !important;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
    .password-show-icon {
    position: relative;
    top: 33px;
    cursor: pointer;
  }
  
  .select-permissions {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .select-permission-label {
    padding: 4px;
    background: #0079fe;
    color: white;
    min-width: 100px;
    max-width: 200px;
    border-radius: 3px;
    margin-left: 5px;
  }
  
  .my-model .model-content {
    width: 1400px !important;
  }
  
  td,
  th {
    border: 1px solid lightgrey !important;
  }
  
  .select-permission-note {
    font-size: 10px;
    margin-left: 5px;
  }
  
  label.btn span {
    font-size: 1.5em;
  }
  
  label input[type="radio"]~i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
  }
  
  label input[type="radio"]~i.fa.fa-dot-circle-o {
    display: none;
  }
  
  label input[type="radio"]:checked~i.fa.fa-circle-o {
    display: none;
  }
  
  label input[type="radio"]:checked~i.fa.fa-dot-circle-o {
    color: #7AA3CC;
    display: inline;
  }
  
  label:hover input[type="radio"]~i.fa {
    color: #7AA3CC;
  }
  
  label input[type="checkbox"]~i.fa.fa-square-o {
    color: #c8c8c8;
    display: inline;
  }
  
  label input[type="checkbox"]~i.fa.fa-check-square-o {
    display: none;
  }
  
  label input[type="checkbox"]:checked~i.fa.fa-square-o {
    display: none;
  }
  
  label input[type="checkbox"]:checked~i.fa.fa-check-square-o {
    color: #7AA3CC;
    display: inline;
  }
  
  label:hover input[type="checkbox"]~i.fa {
    color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label.active {
    color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  div[data-toggle="buttons"] label:hover {
    color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label:active,
  div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .permission-title {
    background: #5a5959;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 20px;
  }
  
  .big-checkbox {
    width: 20px;
    height: 30px;
    position: relative;
    top: 6px
  }
  
  .fa-plus-style {
    font-size: 37px;
    /* height: 31px; */
    top: 6px;
    position: relative;
  }
  
  ::ng-deep .my-model .modal-dialog {
    max-width: 90%;
    width: 90%;
  }
  
  
  
  