<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <div class="col-4">
          <h3 class="box-title m-b-0">Add Admin Users</h3>
          <br>
        </div>
        <form class="form" #regadminuserForm="ngForm">
          <p class="text-muted m-b-30 font-13"> </p>
          <div class="form-group row">
            <label for="name" class="col-2 col-form-label">Name</label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)]="updateAdminuser.name" [pattern]="namePattern"
                minlength=4 placeholder="Enter Name" id="name" name="name" #name="ngModel" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <span *ngIf="name?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="name?.errors.minlength" class="text-danger">
                  Name must be at least 4 characters long.
                </span>
                <span *ngIf="!name.errors.minlength && name?.errors?.pattern" class="text-danger">
                  Name is not valid
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" minlength=4 type="email" [pattern]="emailPattern"
                [(ngModel)]="updateAdminuser.email" placeholder="Enter Email" name="email" id="example-email-input"
                #email="ngModel" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="email?.errors.minlength" class="text-danger">
                  Email must be at least 4 characters long.
                </span>
                <span *ngIf="!email.errors.minlength && email?.errors?.pattern" class="text-danger">
                  Email is not valid
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-mobile-input" class="col-2 col-form-label">Mobile</label>
            <div class="col-10">
              <input autocomplete="off" class="form-control" [pattern]="mobilePattern" name="mobile" type="number"
                [(ngModel)]="updateAdminuser.mobile" placeholder="Enter Mobile Number" id="example-mobile-input"
                required minlength=4 #mobile="ngModel">
              <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                <span *ngIf="mobile?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="mobile?.errors.minlength" class="text-danger">
                  Mobile Number must be at least 4 characters long.
                </span>
                <span *ngIf="!mobile.errors.minlength && mobile?.errors?.pattern" class="text-danger">
                  Mobile is not valid
                </span>
              </div>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="example-display_status-input" class="col-2 col-form-label">User Status</label>
            <div class="col-10">
              <select class="form-control" name="user_status" [(ngModel)]="DisplayStatusSelected" required>
                <option selected hidden>
                  {{DisplayStatusSelected}}
                </option>
                <option *ngFor="let stat of statusOptions">
                  {{stat.value}}
                </option>
              </select>
            </div>
          </div> -->
          <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Password</label>
            <div class="col-9">
              <input autocomplete="off" class="form-control" type="{{password_type}}" name="password" [(ngModel)]="updateAdminuser.temp_password"
                placeholder="Enter Password" id="example-password-input" required #password="ngModel" minlength=8>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <span *ngIf="password?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="password?.errors.minlength" class="text-danger">
                  password must be at least 8 characters long.
                </span>
              </div>
            </div>
            <div class="col-1">
              <i class="fa fa-eye password-show-icon" *ngIf="password_type == 'text'" (click)="clickPasswordShow('password')"></i>
              <i class="fa fa-eye-slash password-show-icon" *ngIf="password_type == 'password'" (click)="clickPasswordShow('text')"></i>
            </div>
          </div>

          <!-- <div class="form-group row">
            <label for="example-token-validity-input" class="col-2 col-form-label">User Type</label>
            <div class="col-10">
              <select class="form-control" name="user_type" [(ngModel)]="UserTypeSelected">
                <option selected hidden>
                  {{UserTypeSelected}}
                </option>
                <option *ngFor="let options of UserTypeOptions">
                  {{options}}
                </option>
              </select>
              <br />
              <br />
              <div *ngIf="UserTypeSelected =='Super Admin'" class="form-group row">
                <div class="col-8">
                  <label>Super Admin Can Have All Permissions</label>
                </div>
              </div>
              <div *ngIf="UserTypeSelected =='Admin'" class="form-group row">
                <div class="form-group ">
                  <label>Permission Type:</label>
                  <ng-multiselect-dropdown name="permisson_details_ids" [placeholder]="'custom placeholder'" [data]="dropdownList"
                    [(ngModel)]="selectedItems" [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                </div>
              </div>
            </div>
          </div> -->
          <div class="form-group row">
            <label for="example-token-validity-input" class="col-2 col-form-label">User Types:</label>
            <div class="col-10">
              <angular2-multiselect (onSelect)="changeUserType()" name="user_type" [data]="user_types" [(ngModel)]="selected_user_type"
                [settings]="user_type_settings">
              </angular2-multiselect>
              <span class="default-error" *ngIf="selected_user_type.length == 0">
                Please select user type.
              </span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2">
              <label for="name">select parent:</label>
            </div>
            <div class="col-10">
              <angular2-multiselect name="parent_selection" *ngIf="!page_loading" [data]="all_admins" [(ngModel)]="selected_parent"
                [settings]="parent_select_settings">
              </angular2-multiselect>
              <span class="default-error" *ngIf="selected_parent.length == 0">
                Please select Parent.
              </span>

              <div *ngIf="selected_user_type[0] && user_permissions[selected_user_type[0]['id']]">
                <div class="form-group col-md-8">
                  <div>
                    <label for="name">Select permissions:</label>
                  </div>
                  <div (click)="open(content)" class="select-permissions">
                    <span>
                      <i style="font-size:25px;" class="fa fa-angle-down"></i>
                    </span>
                    <span class="select-permission-label" *ngIf="getValueKeys(selected_permissions, true).length > 5">
                      + {{Keys(selected_permissions).length - 5}}
                    </span>

                    <span class="select-permission-label" *ngFor="let permission of getValueKeys(selected_permissions, true).slice(0, 5)">
                      {{permission}}
                    </span>
                    <span class="select-permission-note">
                      click here to choose permissions..
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="!(selected_user_type[0] && user_permissions[selected_user_type[0]['id']])">
            <div class="col-2">
              <label for="name">select permissions:</label>
            </div>
            <div class="form-group col-md-8">
              <div>
                <label for="name"></label>
              </div>
              <div class="select-permissions">
                <span *ngIf="!(selected_user_type[0])" class="select-permission-note">
                  Select user type to get permissions.
                </span>
                <span *ngIf="selected_user_type[0] && !(user_permissions[selected_user_type[0]['id']])" class="select-permission-note">
                  No permissions found for this user type.
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="!isNew">
            <div class="text-left">
              <button class="btn btn-info col-md-4" (click)="UpdateUser()" [disabled]="regadminuserForm.invalid || selected_parent.length == 0 || selected_user_type.length == 0 ">Update</button>
            </div>
            {{message}}
          </div>
          <div *ngIf="isNew">
            <div class="text-left">
              <button class="btn btn-info col-md-3" (click)="AddadminUser()" [disabled]="regadminuserForm.invalid || selected_parent.length == 0 || selected_user_type.length == 0 ">Submit</button>
            </div>
            {{message}}
          </div>
        </form>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Permission List : </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let permission_type of Keys(user_permissions[selected_user_type[0]['id']], true)">
            <div style="cursor: pointer;">
              <input class="big-checkbox" (change)="permissionsChecking($event, permission_type, 'all'); permissionsToggle(permission_type, false, true)"
                [(ngModel)]="selected_all_permissions[permission_type]" type="checkbox" name="" id="{{permission_type}}">
              <label for="{{permission_type}}"></label>
              <span (click)="permissionsToggle(permission_type, false, null)">
                <i *ngIf="!permissions_toggle[permission_type]" style="color: #2a8331;" class="fa-plus-style fa fa-plus-square">
                </i>
                <i *ngIf="permissions_toggle[permission_type]" style="color: #982131;" class="fa-plus-style fa fa-minus-square"></i>
              </span>

              <h4 (click)="permissionsToggle(permission_type, false)" class="permission-title">{{user_permissions[selected_user_type[0]['id']][permission_type]['permissionDetails']['permission_type']}}</h4>
            </div>
            <table *ngIf="permissions_toggle[permission_type]" class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    <input (change)="permissionsChecking($event, permission_type, 'all')" [(ngModel)]="selected_all_permissions[permission_type]"
                      type="checkbox" name="" id="{{permission_type}}">
                    <label for="{{permission_type}}">Select All</label>
                  </th>
                  <th>Permission</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let permission_details of user_permissions[selected_user_type[0]['id']][permission_type]['permissions']">
                  <!-- <td>
                    <input type="checkbox"  [(ngModel)]="selected_permissions[permission_details.permission_name]" name="{{permission_details.permission_name}}"> Hello
                  </td> -->

                  <td><input (change)="permissionsChecking($event, permission_type, 'single')" [(ngModel)]="selected_permissions[permission_details.permission_name]"
                      type="checkbox" name="{{permission_details.permission_name}}" id="{{permission_details.permission_name}}">
                    <label for="{{permission_details.permission_name}}"> </label></td>
                  <td>{{permission_details.permission_name}}</td>
                  <td>{{permission_details.permission_description}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div>


      </ng-template>
    </div>
  </div>
</div>