<div class="white-box">
  <h3 class="box-title">User Payments -</h3>
  <p></p>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <!-- Mobile Filter -->
          <div class="col-md-3">
            <b>MOBILE</b>
            <div class="input-group">
              <input class="form-control" placeholder="Enter Mobile" [(ngModel)]="mobile" required>
            </div>
          </div>
          <!-- Status Filter -->
          <div class="col-md-3">
            <b>Status</b>
            <div class="input-group">
              <select class="form-control" [(ngModel)]="status">
                <option value="ALL">ALL</option>
                <option value={{stat.value}} *ngFor="let stat of statusOptions">
                  {{stat.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- DATE FILTERS -->
          <div class="col-sm-3">
            <b>From Date:</b>
            <div class="input-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="dp" [(ngModel)]="from_date"
                  (click)="b.toggle()" ngbDatepicker #b="ngbDatepicker">
              </div>
            </div>
            <!-- <ngb-timepicker [(ngModel)]="from_time" [meridian]="meridian"></ngb-timepicker> -->
          </div>
          <div class="col-sm-3">
            <b>To Date:</b>
            <div class="input-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="dp2" [(ngModel)]="to_date"
                  (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <b>&nbsp;</b>
            <div class="input-group">
              <button style="width: 100%" type="button" class="btn btn-info" (click)="onClickSubmit(1)">
                <i class="fa fa-search"> Search</i>
              </button>
            </div>
          </div>
          <div class="col-sm-2">
            <b>&nbsp;</b>
            <div class="input-group">
              <button style="width: 100%" type="button" class="btn btn-warning" (click)="onClickReset()">
                <i class="fa fa-recycle"> Reset</i>
              </button>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
    <p></p>
    <div class="table-responsive" *ngIf="isDataFound">
      <table class="table color-table inverse-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Mobile Number</th>
            <!-- <th>Payment Gateway Id</th> -->
            <th>Payment Reference Id</th>
            <th>Gateway Source</th>
            <th>Date</th>
            <th>Amount Paid</th>
            <th>Paid Status</th>
            <th *ngIf ="isSuperAdmin">Check Payment Status</th>
            <th>Payment Mode</th>
            <th>Bank Name</th>
            <th>Payment Remarks</th>
            <th>Payment Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transaction_data;let i=index" class="w3-hover-blue">
            <td> {{pageStartIndex+i+1}}</td>
            <td>{{item.userInfo[0] ? item.userInfo[0].name: '--'}}
              <br />{{item.userInfo[0] ? item.userInfo[0].email:'--'}}
              <br />{{item.userInfo[0] ? item.userInfo[0].mobile_number:'--'}}</td>
            <!-- <td> {{item.payment_gateway_id}} </td> -->
            <td> {{item.payment_ref_id}} </td>
            <td> {{item.gateway_source}} </td>
            <td> {{item.payment_initiated_date | date:'dd-MM-yyyy HH:mm:ss'}} </td>
            <td> {{item.amount_paid | number : '1.2-2'}} </td>
            <td *ngIf="item.paid_status == 0">Initiated</td>
            <td *ngIf="item.paid_status == 1">Success</td>
            <td *ngIf="item.paid_status == 2">Failure</td>
            <td *ngIf="item.paid_status == 3">Cancel</td>
            <td *ngIf="item.paid_status == 4">Refund</td>
            <td *ngIf ="isSuperAdmin">
              <button *ngIf="(item.paid_status == 2 || item.paid_status == 0) && item.payment_ref_id  " class="btn btn-info m-t-10"
                (click)="getPayment_refId(item)" data-target="#Payment_refId">Check Payment Status</button>
              <button *ngIf="(item.paid_status == 2 || item.paid_status == 0) && !item.payment_ref_id" class="btn btn-info m-t-10"
                (click)="getPayment_refId(item)" data-toggle="modal" data-target="#Payment_refId">Check Payment Status</button>
              <p *ngIf="item.paid_status != 2 && item.paid_status != 0">---</p>
            </td>
            <td> {{item.payment_mode}} </td>
            <td> {{item.bank_name}} </td>
            <td> {{(item.payment_remarks && item.payment_remarks['message']) ? item.payment_remarks['message'] : '---'
              }} </td>
            <td> {{item.payment_type}} </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
<div *ngIf="isDataFound">
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="onClickSubmit($event)"
    [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true"></ngb-pagination>
</div>
<div *ngIf="!isDataFound">
  No Payment Details Found
</div>


<div style="padding-top: 80px;" class="modal fade" id="Payment_refId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="showModal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment_reference_id</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" #close>
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="Payment_refId">Enter Payment_refId:</label>
            <input type="text" name="Payment_refId" class="form-control" placeholder="Enter Payment_refId" [(ngModel)]="Payment_refId">
            <!-- <input type="text" placeholder="Enter Payment_refId" ngModel> -->
          </div>
        </form>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button> -->
          <button class="btn btn-danger" data-dismiss="modal" (click)="Cancel()">Close</button>
          <button class="btn btn-primary" data-dismiss="modal" (click)="enteredPayment_refId()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>