.auto-complete{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-width: none;
    max-height: 200px;
    min-height: 200px;
    position: absolute;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    color: black;
    width: 100%;
    z-index: 999;
}
ul{
    padding-left: 0px;
}
.auto-complete li{
    list-style: none;
    padding-left: 20px;
    line-height: 2.5;
    cursor: pointer;
}

.auto-complete li:hover{
    background-color: #4FB23D !important;
    color: #fff !important;
}


.auto-complete .active{
    background-color: #4FB23D !important;
    color: #fff !important;
}
