<div class="white-box" style="font-family: initial;">
  <h3 class="box-title">Merchant payment cycle</h3>
  <div class="row">
    <div class="col-md-12">
      <label>Brand Name:&nbsp;&nbsp;</label>
      <input type="text" name="brand" class="form-control col-md-10" id="example-Brand-input" [(ngModel)]="b_name"
        placeholder="Enter Brand Name" autocomplete="off" (keyup)="getBrands($event,b_name)" #brand="ngModel">
      <auto-complete (close)="merchant_brand_array.length = 0" [dataSets]="merchant_brand_array" dataName="brand_name"
        type="default" (select)="selectedItem($event)" dataSplit='-'></auto-complete><br><br>
      <b>Cycle status:&nbsp;&nbsp;</b>
      <select class="form-control btn btn-dropdown col-md-2" [(ngModel)]="cycle_status">
        <option value="">Cycle status</option>
        <option value="pending">Pending</option>
        <option value="success">Success</option>
      </select>&nbsp;
      <label>From:&nbsp;&nbsp;</label>
      <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="fromDate">&nbsp;&nbsp;
      <b>To:&nbsp;&nbsp;</b>
      <input type='date' style="width: 250px;" class="form-control col-md-3" [(ngModel)]="toDate"> &nbsp;&nbsp;

      <button type="button" class="btn btn-info" (click)="search()">
        <i class="fa fa-search"> Search</i>
      </button>&nbsp;&nbsp;
      <button type="button" class="btn btn-warning" [disabled]="resetButtonShowStatus" (click)="reset()">
        <i class="fa fa-recycle"> Reset</i>
      </button>
    </div>
  </div>
  <br>
  <div class="col-md-12" style="text-align:center">
    <h3 *ngIf="cycle_status!='success'">Pending cycle payments : {{pending_cycle_count}}</h3>
  </div>
  <div class="table-responsive" *ngIf="showData">
    <table class="table table-bordered mb-0" style="text-align:center">
      <thead class="thead-dark">
        <tr>
          <th>S.No</th>
          <th>Merchant Details</th>
          <th>Brand Name</th>
          <!-- <th>Brand</th> -->
          <th>Cycle Amount</th>
          <th>Amount to be Transferred</th>
          <th>Payment Status</th>
          <th>Cycle Date</th>
          <th>Cycle Details</th>
          <th>Reference Id</th>
          <th *ngIf="isAccountant">Send Email</th>
          <!-- <th>Logo</th> -->
          <!-- <th>Accepted Date</th> -->

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedItems;let i=index" class="w3-hover-blue">
          <td> {{(currentPage-1)*10+i+1}} </td>
          <!-- {{item.logo_url}} -->
          <!-- {{item.merchant_details[0] && item.merchant_details[0].logo_url ? item.merchant_details[0].logo_url :''}} -->
          <!-- <img src="http://imgcdn.way2money.com/image/pay/35/35/{{item.merchant_details[0] && item.merchant_details[0].logo_url ? item.merchant_details[0].logo_url :''}}"
              alt=""> -->
          <td *ngIf="checkStatus">
            <table>
              <tr>{{item.name}}</tr>
              <tr>{{item.email}}</tr>
              <tr>{{item.mobile}}</tr>
              <tr>
                <ng-template #addEmailAlertdisplay let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">{{item.merchant_details&&item.merchant_details[0] &&
                      item.merchant_details[0].brand_name ? item.merchant_details[0].brand_name
                      : '---'}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table style="width:100%">
                      <tr>
                        <th>Bank Name</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].bank_name?item.merchant_details[0].bank_name:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Bank IFSC-Code:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].ifsc_code?item.merchant_details[0].ifsc_code:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Bank Branch:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].branch?item.merchant_details[0].branch:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Account Number:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].account_no?item.merchant_details[0].account_no:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Name on Bank</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].name_on_bank?item.merchant_details[0].name_on_bank:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>PanNumber:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].pan_number?item.merchant_details[0].pan_number:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>PanName:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].pan_name?item.merchant_details[0].pan_name:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>TID:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].tid?item.merchant_details[0].tid:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>TTN:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].tin?item.merchant_details[0].tin:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>commission percentage:</th>
                        <th>
                          {{item.commission_rate?item.commission_rate:'--'}}
                        </th>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>
                <button class="btn btn-secondary" (click)="open(addEmailAlertdisplay)">View Details</button>
              </tr>
              <!-- <tr>
                      <ng-template #addEmailAlertdisplay let-c="close" let-d="dismiss">
                        <div class="modal-header">
                          <h4 class="modal-title">{{temps.alert_name}}</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div [innerHTML]="temps.alert_content"></div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                        </div>
                      </ng-template>
                      <button class="btn btn-secondary" (click)="open(addEmailAlertdisplay)">View Template</button>
              </tr> -->
            </table>
          </td>
          <td *ngIf="!checkStatus">
            <table>
              <tr>{{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].name?item.merchant_details[0].name:'--'}}</tr>
              <tr>{{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].email?item.merchant_details[0].email:'--'}}</tr>
              <tr>{{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].mobile?item.merchant_details[0].mobile:'--'}}</tr>
              <tr>
                <ng-template #addEmailAlertdisplay let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title">{{item.merchant_details&&item.merchant_details[0] &&
                      item.merchant_details[0].brand_name ? item.merchant_details[0].brand_name
                      : '---'}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table style="width:100%">
                      <tr>
                        <th>Bank Name</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].bank_name?item.merchant_details[0].bank_name:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Bank IFSC-Code:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].ifsc_code?item.merchant_details[0].ifsc_code:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Bank Branch:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].branch?item.merchant_details[0].branch:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Account Number:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].account_no?item.merchant_details[0].account_no:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>Name on Bank</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].name_on_bank?item.merchant_details[0].name_on_bank:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>PanNumber:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].pan_number?item.merchant_details[0].pan_number:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>PanName:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].pan_name?item.merchant_details[0].pan_name:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>TID:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].tid?item.merchant_details[0].tid:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>TTN:</th>
                        <th>
                          {{item.merchant_details&&item.merchant_details[0]&&item.merchant_details[0].tin?item.merchant_details[0].tin:'--'}}
                        </th>
                      </tr>
                      <tr>
                        <th>commission percentage:</th>
                        <th>
                          {{item.commission_rate?item.commission_rate:'--'}}
                        </th>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                  </div>
                </ng-template>
                <button class="btn btn-secondary" (click)="open(addEmailAlertdisplay)">View Details</button>
              </tr>
            </table>
          </td>
          <td *ngIf="!checkStatus">{{item.merchant_details&&item.merchant_details[0] &&
            item.merchant_details[0].brand_name ? item.merchant_details[0].brand_name
            : '---'}}
          </td>
          <td *ngIf="checkStatus">
            {{item.brand_name}}
          </td>
          <!-- <td>{{item.brand_name != undefined ? item.brand_name  : '---'}} </td> -->
          <td> {{item.amount | number : '1.2-2'}}</td>
          <td>
            {{(item.amount)-(((item.amount)* (item.commission_rate /100))+
            (((item.amount)* (item.commission_rate /100))* (18/100)))}}<br />
            <ng-template #addEmailAlertdisplay let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table style="width:100%">
                  <tr>
                    <th> Cycle Amount:</th>
                    <th>
                      {{item.amount | number : '1.2-2'}}
                    </th>
                  </tr>
                  <tr>
                    <th> Commission Percentage:</th>
                    <th>
                      {{item.commission_rate}}
                    </th>
                  </tr>
                  <tr>
                    <th> GST:</th>
                    <th>
                      18%
                    </th>
                  </tr>
                  <tr>
                    <th>Total Amount:</th>
                    <th>
                      {{(item.amount)-(((item.amount)* (item.commission_rate /100))+
                      (((item.amount)* (item.commission_rate /100))* (18/100)))}}
                    </th>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>
            <button class="btn btn-secondary" (click)="open(addEmailAlertdisplay)">View Commission</button>
          </td>
          <td *ngIf="item.cycle_status == 'success'">
            <table>
              <tr>
                Success
              </tr>
              <tr>
                {{item.accept_date | date:'dd-MM-yyyy' }}
              </tr>
            </table>
          </td>
          <!-- {{item.cycle_status}} -->
          <td *ngIf="item.cycle_status == 'pending'">
            <table>
              <tr>
                Pending
              </tr>
              <tr>
                <button class="btn btn-info m-t-10" [disabled]="claimButton" (click)="validateProcess(item)"
                  data-toggle="modal" data-target="#ClaimModel">Validate</button>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>{{item.cycle_date | date:'dd-MM-yyyy' }}</tr>
              <tr>{{item.cycle_day}}</tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                No.of transactions:&nbsp; {{item.transactions != undefined ? item.transactions : '--'}}&nbsp;
                <a (click)="merchantTransactions(item)" data-toggle="modal" data-target="#transModel" style="text-decoration: underline; color:blue">
                  <i class="fa fa-external-link"></i>
                </a>
              </tr>
              <tr>
                {{item.start_date != undefined ? (item.start_date| date:'dd-MM-yyyy') : '--'}} &nbsp;-&nbsp;
                {{item.end_date != undefined
                ? (item.end_date| date:'dd-MM-yyyy') : '--'}}
              </tr>
            </table>
          </td>
          <td> {{item.ref_id != undefined ? item.ref_id:'--'}} </td>
          <td *ngIf="isAccountant"><button class="btn btn btn-info" (click)="SendEmail(item)">SendEmail </button></td>
          <!-- <td></td> -->

          <!-- <td *ngIf="item.claim_status == 1;else next1"> {{item.accepted_by}} </td> -->
          <!-- <ng-template #next1>
            <td> -----</td>
          </ng-template> -->
          <!-- <td *ngIf="item.claim_status == 1; else next2"> {{item.accepted_date | date:'dd-MM-yyyy HH:mm:ss' }} </td> -->
          <!-- <ng-template #next2>
            <td> -----</td>
          </ng-template> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="paginationStatus && !errMsg" class="container">
  <div class="text-center">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
        <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(convertInt(pager.currentPage))">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
<div class="white-box" *ngIf="errMsg">
  No records found
</div>
<div style="padding-top: 80px;" class="modal fade" id="ClaimModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Paying to {{brandName?brandName:'Merchant'}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="claimedStatus">
        <div class="row justify-content-md-center">
          <p>Updated</p>
        </div>
        <div class="row justify-content-md-center">
          <img src=".././../assets/images/success.gif" height="50px" width="50px" />
        </div>
      </div>
      <div class="modal-body" *ngIf="checkClaimStatus">
        <div class="form-group">
          <h4>Amount paid : {{claimAmount | number : '1.2-2' }}</h4>
        </div>
        <form>
          <div class="form-group">
            <label for="referenceId">Reference Id:</label>
            <input type="text" class="form-control" placeholder="Enter ReferenceId" [value]="claimRefId" (input)="claimRefId = $event.target.value">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" (click)="claim()" [disabled]="claimRefId==''">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding-top: 80px;" class="modal fade" id="transModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{current_brand_name?current_brand_name:'Merchant'}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="table-responsive">
          <table class="table color-table inverse-table" style="text-align:center">
            <thead>
              <tr>
                <!-- <th>Transaction id</th> -->
                <th>S.No.</th>
                <th>User name</th>
                <th>Email id</th>
                <th>Mobile number</th>
                <th>Amount</th>
                <th>Transaction date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trans of transPagedItems;let i=index" class="w3-hover-blue">
                <!-- <td>{{trans._id}}</td> -->
                <td> {{(currentTransPage-1)*10+i+1}} </td>
                <td>{{trans.user_data[0].name !=undefined ? trans.user_data[0].name :'--'}}</td>
                <td>{{trans.user_data[0].email != undefined ?trans.user_data[0].email :'--' }}</td>
                <td>{{trans.user_data[0].mobile_number!=undefined? trans.user_data[0].mobile_number:'--'}}</td>
                <td>{{trans.amount}}</td>
                <td>{{trans.transaction_date| date:'dd-MM-yyyy HH:MM:SS'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="transPaginationStatus && !transErrMsg" class="container">
          <div class="text-center">

            <ul *ngIf="transPager.pages && transPager.pages.length" class="pagination">
              <li class="page-item" [ngClass]="{disabled:transPager.currentPage === 1}">
                <a class="page-link" (click)="setTransactionPage(1)">First</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:transPager.currentPage === 1}">
                <a class="page-link" (click)="setTransactionPage(transPager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of transPager.pages" [ngClass]="{active:transPager.currentPage === page}">
                <a *ngIf="page==currentTransPage" class="page-link" (click)="setTransactionPage(page)" style="background-color:#fb9678">{{page}}</a>
                <a *ngIf="page!=currentTransPage" class="page-link" (click)="setTransactionPage(page)">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:transPager.currentPage === transPager.totalPages}">
                <a class="page-link" (click)="setTransactionPage(convertInt(pager.currentPage))">Next</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:transPager.currentPage === transPager.totalPages}">
                <a class="page-link" (click)="setTransactionPage(transPager.totalPages)">Last</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Close</button>
          <!-- <button class="btn btn-primary" (click)="claim()" [disabled]="claimRefId==''">Claim</button> -->
        </div>

      </div>
    </div>
  </div>