.form-control {
    color: #686868;
    min-height: 42px;
    display: initial;
}
.btn {
    padding: 1px 12px;
}
.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 14.666667%;
}
.btn-dropdown {
    color: #686868;
    border-color: #b1b8bb;
}
