<p>
  permission-denied works!
</p>

<div id='error-page'>
  <div id='error-inner'>
    <h1> You are not Authorized to this web page</h1>
    <div class="pesan-eror">Opps</div>
    <p class="balik-home">
      <a routerLink="/">
        <i class="icon-home icon-white"></i> Take Me Home </a>
    </p>
    <br/>
  </div>
</div>