<div class="white-box" *ngIf="!isAddAlert">
  <div class="row p-b-30">
    <h3 class="box-title col-10">Email Alerts</h3>
    <button class="btn btn-warning col-2 pull-right" (click)="redirectAddEmailAlert()">Add Email Alert</button>
  </div>
  <div class="table-responsive" style="text-align: center">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Alert Name</th>
          <th>Alert Subject</th>
          <th>Alert Route</th>
          <th>Alert Content</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngIf="!noAlerts">
        <tr *ngFor="let temps of emailAlerts ; let i = index">
          <td>{{(currentPage-1)*10+i+1}}</td>
          <td>
            <a routerLink="/settings/email-alerts/add/{{temps._id}}/{{currentPage}}">{{temps.alert_name != undefined ? temps.alert_name : '--'}}</a>
          </td>
          <td>{{temps.alert_subject}}</td>
          <td>Type:{{temps.alert_route}}
            <br>
            <span *ngIf="temps.alert_route=='api'">&nbsp;&nbsp;&nbsp;api_url:{{temps.api_url}}</span>
            <ol *ngIf="temps.alert_route == 'smtp'" style=" list-style-type: none;">
              <li>smtp_host:{{temps.smtp_host}}</li>
              <li>smtp_username:{{temps.smtp_username}}</li>
              <li>smtp_password:{{temps.smtp_password}}</li>
              <li>smtp_port:{{temps.smtp_port}}</li>
            </ol>
          </td>
          <td>
            <ng-template #addEmailAlertdisplay let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">{{temps.alert_name}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div [innerHTML]="temps.alert_content"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>
            <button class="btn btn-secondary" (click)="open(addEmailAlertdisplay)">View Template</button>
          </td>
          <td>{{temps.status}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="noAlerts">
        <td colspan="5" style="padding-top: 50px"> Email Alerts Not Found. </td>
      </tbody>
    </table>
  </div>
</div>
<!-- pager -->
<div class="container" *ngIf="paginationStatus && !isAddAlert">
  <div class="text-center">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
        <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(convertInt(pager.currentPage)+1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>

<div class="white-box" *ngIf="isAddAlert">
  <div class="row">
    <div class="col-6">
      <h3 class="box-title m-b-0">{{ editAlertId && editAlertId == 0 ? 'ADD Email ALERT' : 'EDIT Email ALERT'}}</h3>
    </div>
    <div class="col-6">
      <button class="btn btn-warning pull-right" (click)="backClicked()">Back</button>
    </div>
  </div>
  <form class="form" #addEmailForm="ngForm">
    <p class="text-muted m-b-30 font-13"> </p>
    <div class="form-group row ">
      <label class="col-2 col-form-label" for="name">Alert Name:</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="addEmailAlert.alert_name" placeholder="Enter Alert Name" required name="addEmailAlert.alert_name"
          id="alert_name">
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-2 col-form-label" for="name">Alert Subject:</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="addEmailAlert.alert_subject" placeholder="Enter Alert Subject" required
          name="addEmailAlert.alert_subject" id="alert_subject">
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-2 col-form-label" for="name">Alert Content:</label>
      <div class="col-10">
        <textarea class="form-control" rows='5' minlength="1" [(ngModel)]="addEmailAlert.alert_content" placeholder="Enter Alert Content"
          required name="addEmailAlert.alert_content" id="alert_content"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-10">
        <label class="col-2 col-form-label" for="name">Alert Route : &nbsp; &nbsp; &nbsp;</label>
        <label class="col-2 col-form-label" class="radio-inline" for="api">
          <input type="radio" name="router" id="api" [(ngModel)]="addEmailAlert.alert_route" value="api" placeholder="Enter Alert Route"
            required="" style=""> api &nbsp; &nbsp;
        </label>
        <label class="col-2 col-form-label" class="radio-inline" for="smtp">
          <input type="radio" name="router" id="smtp" [(ngModel)]="addEmailAlert.alert_route" value="smtp" placeholder="Enter Alert Route"
            required="" style="">smtp
        </label>
      </div>
    </div>
    <div *ngIf="addEmailAlert.alert_route==='api'">
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name">Api Url :</label>
        <div class="col-10">
          <input type="text" class="form-control" name="api_url" id="smtp" [(ngModel)]="api_details.api_url" value="api_url" placeholder="Enter Alert Api Url"
            required="">
        </div>
      </div>
    </div>
    <div *ngIf="addEmailAlert.alert_route === 'smtp'">
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name">Smtp host:</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="smtp_details.smtp_host" placeholder="Enter Smtp host" required name="smtp_host"
            id="smtp_host">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name">Smtp Username:</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="smtp_details.smtp_username" placeholder="Enter Smtp Username" required
            name="smtp_username" id="smtp_username">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name">Smtp Password:</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="smtp_details.smtp_password" placeholder="Enter Smtp Password" required
            name="smtp_password" id="smtp_password">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name">Smtp Port:</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)]="smtp_details.smtp_port" placeholder="Enter Smtp Port" required name="smtp_port"
            id="smtp_port">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-status-input" class="col-2 col-form-label">Status</label>
      <div class="col-10">
        <select class="form-control" name="status" [(ngModel)]="addEmailAlert.status" id="example-status-input" required>
          <option selected value="active" hidden>
            {{addEmailAlert.status}}
          </option>
          <option *ngFor="let o of options">
            {{o.name}}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf='emailTempAddErr' class='alert alert-info'>
      {{emailTempAddErr}}
    </div>
    <div class="form-group row">
      <button *ngIf="editAlertId == 0" type="button" [disabled]="alertButtonStatus" class="btn btn-info col-2" (click)="onSubmitAddAlert()">Submit</button>
      <button *ngIf="editAlertId && editAlertId != 0" type="button" class="btn btn-info col-2" (click)="onSubmitUpdateAlert()">Update</button>
      <div class="col-10">
        <p *ngIf="errAddSMSAlert" class="text-danger">{{ errAddSMSAlertMessage }} </p>
      </div>
    </div>
  </form>
</div>