<div class="white-box">
  <div class="row p-b-30">
    <h3 class="box-title col-10">Npa Details</h3>
  </div>
  <div class="rm-min-height" *ngIf="transData.length <= 0">
    <div class="table-responsive" style="text-align: center">
      <table class="table color-table inverse-table">
        <thead>
          <tr>
            <th>S.no</th>
            <th>Date</th>
            <th>Transactions Amount</th>
            <th>Paid Amount</th>
            <th>NPA Percentage %</th>
          </tr>
        </thead>
        <tbody *ngIf="data && data.length>0">
          <tr *ngFor="let item of data ; let i=index">
            <td>{{pageStartIndex+i+1}}</td>
            <!-- routerLink="/npa-details/{{item.from_date}}" -->
            <td>
              <a  routerLink="/npa-details/{{item.from_date}}/&/{{item.to_date}}" >{{item.from_date | date: 'MMMM yyyy'}}</a>
            </td>
            <td>{{item.trans_amount != undefined ? (item.trans_amount | number : '1.2-2') : 0}}</td>
            <td>
              {{item.paid_amount != undefined ? (item.paid_amount | number : '1.2-2'): 0}}
            </td>
            <td>
              {{(((item.trans_amount != undefined ? item.trans_amount : 0) - (item.paid_amount != undefined ?
              item.paid_amount : 0)) / (item.trans_amount != undefined ? item.trans_amount : 0))* 100  | number : '1.2-2': 0}}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="data && data.length <= 0">
          <td colspan="5" style="padding-top: 50px"> Data Not Found. </td>
        </tbody>
      </table>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="npaDetails($event)"
      [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true"></ngb-pagination>
  </div>
  <div class="table-responsive" *ngIf="transData.length>0">
    <div >
      <button class="btn btn-warning pull-right" (click)="backClicked()">Back</button>
    </div>
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.No--</th>
          <th>User Details</th>
          <th>Merchant Brand</th>
          <th>Transaction Amount</th>
          <th>Transaction Date</th>
          <th>Reference Id</th>
          <th>Convenience Fee
            <i class="fa fa-percent"></i>
          </th>
          <th>Merchant Fee
            <i class="fa fa-percent"></i>
          </th>
          <th>Credit Due</th>
          <th>Payment Due</th>
          <th>OS</th>
          <th>Transaction Through</th>
          <th>IP Address</th>
          <th>Transaction Status</th>
          <!-- <th>Refund</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transData;let i=index" class="w3-hover-blue">
          <td>
            {{pageStartIndex+i+1}}
          </td>
          <td>{{item.userInfo.length > 0 ? item.userInfo[0].name: '--'}}
            <br />{{item.userInfo.length > 0 ? item.userInfo[0].email: '--'}}
            <br />{{item.userInfo.length > 0 ? item.userInfo[0].mobile_number: '--'}}
          </td>
          <td>{{item.merchantInfo.length > 0 ? item.merchantInfo[0].brand_name : '---'}}</td>
          <td> {{item.amount}} </td>
          <td> {{item.transaction_date | date:'dd-MM-yyyy HH:mm:ss'}} </td>
          <td> {{item.reference_id}} </td>
          <td> {{item.con_fee | number : '1.2-2'}} </td>
          <td> {{item.merchant_commission | number : '1.2-2'}} </td>
          <td>{{ item.credit_due != undefined ? (item.credit_due | number: '1.2-2') : '---' }}</td>
          <td>{{item.payment_due != undefined ? item.payment_due : '---'}}</td>
          <!-- <td *ngIf="item.status == 'Pending' && item.status == 1">
            Success
          </td>
          <td *ngIf="item.status != 'Pending'">
            {{item.status}}
          </td> -->
          <!-- <td> {{item.transaction_for}} </td> -->
          <!-- <td> {{item.remarks}} </td> -->

          <td>{{item.os != undefined ? item.os : '--'}}</td>
          <td>{{ item.trans_through != undefined ? item.trans_through : '---' }}</td>
          <td>{{ item.ip_address != undefined ? item.ip_address : '---' }}</td>
          <td *ngIf="item.status == 0">Initiated</td>
          <td *ngIf="item.status == 1">Success</td>
          <td *ngIf="item.status == 2">Failure</td>
          <td *ngIf="item.status == 3">Canceled</td>
          <td *ngIf="item.status == 4">Refunded</td>
          <td *ngIf="item.status == 5">Paid</td>
          <!-- <td>

            <button class="btn btn-info m-t-10" data-toggle="modal" data-target="#reFundModel" [disabled]="item.status == 0 || item.status == 2 || item.status == 3 || item.status == 4" (click)="reFundProcess(item)" >Refund</button>
            <span *ngIf="item.refund_status == 2">Refund Period Exceeded</span>
          </td> -->
        </tr>
      </tbody>
    </table>

    <!-- <div class="container" >
        <div class="text-center">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
              <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(convertInt(pager.currentPage) + 1)">Next</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div> -->
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="newcollectionSize" (pageChange)="viewPendingTransactions($event)"
      [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true"></ngb-pagination>
  </div>
</div>