<!-- <div class="white-boxtotal">
  <h3>Transactions</h3>
  <div class="row white-box">
    <div class="col-sm-3">
      <i data-icon="E" class="linea-icon linea-basic"></i>
      <h5 class="text-muted vb">Total Merchants</h5>
      <h2>{{active_merchant_count}}(Total: {{merchants_count}})</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">

      <!--     <div class="row white-box">
          <div class="col-sm-3">
            <i data-icon="E" class="linea-icon linea-basic"></i>
            <h5 class="text-muted vb">Total Merchants</h5>
            <h2><a data-toggle="tooltip" title="{{active_merchant_count}} Total:{{merchants_count}}">{{active_merchant_count
                | numberFormat}}(Total:
                {{merchants_count | numberFormat}})</a></h2>
      
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:50%;">
                <span class="sr-only">48% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-users"></i>
            <h5 class="text-muted vb">Total Users</h5>
            <h2><a data-toggle="tooltip" title="{{total_users}}">{{total_users | numberFormat}}</a>
            </h2>
      
            <div class="progress">
              <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:50%;">
                <span class="sr-only">48% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-users"></i>
            <h5 class="text-muted vb">Users (Today)</h5>
            <h2>{{today_users}}</h2>

            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:50%;">
                <span class="sr-only">48% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-users"></i>
            <h5 class="text-muted vb">Users (Yesterday)</h5>
            <h2>{{yesterday_users}}</h2>
         
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:50%;">
                <span class="sr-only">48% Complete</span>
              </div>
            </div>
          </div>
        </div> -->

      <div class="row white-box">
        <div class="col-sm-3">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5 class="text-muted vb">Total Merchants</h5>
          <h2><a data-toggle="tooltip" title="{{active_merchant_count}} Total:{{merchants_count}}">{{active_merchant_count
              | numberFormat}}(Total:
              {{merchants_count | numberFormat}})</a></h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5 class="text-muted vb">Pending Payments</h5>
          <h2>{{pending_payment}}</h2>
          <!-- <div class="pull-right">48%
                  <i class="fa fa-level-up text-success"></i>
                </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Pending Amount</h5>
          <h2><a data-toggle="tooltip" title="{{pending_amount}}">{{pending_payments_amt | numberFormat}}</a></h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Paid Amount</h5>
          <h2><a data-toggle="tooltip" title="{{paid_amount}}">{{total_payments_amt | numberFormat}}</a></h2>
          <!-- <div class="pull-right">48%
                        <i class="fa fa-level-up text-success"></i>
                      </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>



      <div class="row white-box">
        <div class="col-sm-4">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5> <a style="cursor: pointer" >Transactions</a></h5>
          <!-- <h5 class="text-muted vb">Total Transactions</h5> -->
          <h2>{{total_transactions}}</h2>
          <!-- <div class="pull-right">48%
                    <i class="fa fa-level-up text-success"></i>
                  </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>

          <h5> <a [ngStyle]="{'color': 'orange'}" style="cursor: pointer">Transactions(Today)</a></h5>
          <!-- <h5 class="text-muted vb">Transactions (Today)</h5> -->
          <h2>{{today_transactions}}</h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>
          <h5><a [ngStyle]="{'color': 'orange'}" style="cursor: pointer">Transactions(Yesterday)</a></h5>
          <!-- <h5 class="text-muted vb">Transactions (Yesterday)</h5> -->
          <h2>{{yesterday_transactions}}</h2>
          <!-- <div class="pull-right">48%
                        <i class="fa fa-level-up text-success"></i>
                      </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row white-box">
        <div class="col-sm-4">
          <i data-icon="E" class="linea-icon linea-basic"></i>
          <h5 class="text-muted vb">Total Transaction amount</h5>
          <h2>
            <a href="#" data-toggle="tooltip" title="{{total_transactions_amt}}"><i class="fa fa-rupee">
                {{total_transactions_amt | numberFormat}}</i>
            </a></h2>
          <!-- <div class="pull-right">48%
                      <i class="fa fa-level-up text-success"></i>
                    </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Transactions amount (Today)</h5>
          <h2>
            <a data-toggle="tooltip" title="{{today_transactions_amt}}"><i class="fa fa-rupee">
                {{today_transactions_amt | numberFormat}}</i>

            </a> </h2>
          <!-- <div class="pull-right">48%
                        <i class="fa fa-level-up text-success"></i>
                      </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <i class="fa fa-users"></i>
          <h5 class="text-muted vb">Transactions amount (Yesterday)</h5>
          <h2>
            <i class="fa fa-rupee"> {{yesterday_transactions_amt}}</i>
          </h2>
          <!-- <div class="pull-right">48%
                          <i class="fa fa-level-up text-success"></i>
                        </div> -->
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100" style="width:50%;">
              <span class="sr-only">48% Complete</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white-boxtotal">
  <div class="filter-div">
    <div class="row">
      <div class="card-box container card-body">
        <div class="form-inline">
          <div class="form-group col-md-3">
            <select class="form-control" [(ngModel)]="user_id">
              <option value="ALL">SELECT USER</option>
              <option *ngFor="let user of usersList" value="{{user._id}}">{{user.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <div class="input-group">
              <input class="form-control" placeholder="From: yyyy-mm-dd" onkeydown="return false;" name="dp"
                [(ngModel)]="from_date" (click)="b.toggle();d.close();" ngbDatepicker #b="ngbDatepicker">
            </div>
          </div>
          <div class="form-group col-md-3">
            <div class="input-group">
              <input class="form-control" placeholder="To: yyyy-mm-dd" onkeydown="return false;" name="dp2" [(ngModel)]="to_date"
                (click)="d.toggle();b.close();" ngbDatepicker #d="ngbDatepicker">
            </div>
          </div>
          <div class="form-group col-md-3">
            <div class="input-group">
              <button class="btn btn-outline-success" (click)="onClickSubmit(1)">Submit</button>
              <button class="btn btn-outline-warning" (click)="onClickReset()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row white-box">
    <div class="container-fluid">
      <table style="width:50%">
        <tr>
          <th>Total Merchants</th>
          <th>{{table_merchants != undefined ? table_merchants : '0'}}</th>
        </tr>
        <tr>
          <th>Active Merchants</th>
          <th>{{active_merchants != undefined ?active_merchants : '0'}}</th>
        </tr>
        <tr>
          <th>Total Payments</th>
          <th>{{table_total_payments != undefined ?(table_total_payments | numberFormat): '0'}}</th>
        </tr>
        <tr>
          <th>Total Payments Amt</th>
          <th>{{table_total_payments_amt != undefined ?(table_total_payments_amt | number : '1.2-2': 0): '0'}}</th>
        </tr>
        <tr>
          <th>Pending Payments</th>
          <th>{{table_pending_payments != undefined ?(table_pending_payments |numberFormat): '0'}}</th>
        </tr>
        <tr>
          <th>Pending Payments Amt</th>
          <th>{{table_pending_payments_amt != undefined ?(table_pending_payments_amt | number : '1.2-2': 0): '0'}}</th>
        </tr>
        <tr>
          <th>Transactions</th>
          <th>{{table_transactions != undefined ?(table_transactions | numberFormat): '0'}}</th>
        </tr>
        <tr>
          <th>Transactions Amt</th>
          <th>{{table_transactions_amt != undefined ?(table_transactions_amt | number : '1.2-2': 0): '0'}}</th>
        </tr>
        <tr>
          <th>Total Tagets</th>
          <th>{{table_total_tagets != undefined ?(table_total_tagets | numberFormat): '0'}}</th>
        </tr>
        <tr>
          <th>NPA Percentage</th>
          <th>{{table_npa_percentage!= undefined? (table_npa_percentage | number : '1.2-2'):'0'}}%</th>
        </tr>
      </table>
    </div>
  </div>
</div>