<div class="white-box" *ngIf="!isOfferData">
  <div class="row p-b-30">
    <h3 class="box-title col-10">Add Offers</h3>
    <button class="btn btn-warning col-2 pull-right" (click)="redirectAddOffers()">Add Offer</button>
  </div>
  <div class="table-responsive" style="text-align: center">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Brand Name</th>
          <th>Brand</th>
          <th>Address</th>
          <th>Offer Percentage %</th>
          <th>Expiry Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngIf="!noAlerts">
        <tr *ngFor="let offer of offersList ; let i = index">
          <td>{{(currentPage-1)*10+i+1}}</td>
          <td>
            <a routerLink="/offer/view-offers/add/{{offer._id}}/{{currentPage}}" (click)= "editOffer(offer._id)">{{offer.brand_name != undefined ?
              offer.brand_name : '--'}}</a>
          </td>
          <td>{{offer.brand != undefined ? offer.brand : '--'}}</td>
          <td>{{offer.address != undefined ? offer.address : '--'}}</td>
          <td>{{offer.offer_details != undefined ? offer.offer_details : '---'}} %</td>
          <td>{{offer.expiry_date_to != undefined ? (offer.expiry_date_to | date: 'fullDate') : '---'}}</td>
          <td>
            <!-- {{offer.offers_status != undefined ? offer.offers_status : '--'}} -->
            <label class="switch">
              <input type="checkbox" [checked]="offer.offers_status == 'active'" (click)=(changeStatus($event.target.checked,offer._id))>
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="noAlerts">
        <td colspan="5" style="padding-top: 50px"> Add Offers Not Found. </td>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="paginationStatus && !isOfferData">
  <div class="text-center">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
        <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(convertInt(pager.currentPage)+1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>

<div class="white-box" *ngIf="isOfferData">
  <div class="row">
    <div class="col-6">
      <h3 class="box-title m-b-0">{{ editOfferId && editOfferId == 0 ? 'ADD Offers' : 'EDIT Offers'}}</h3>
    </div>
    <div class="col-6">
      <button class="btn btn-warning pull-right" (click)="backClicked()">Back</button>
    </div>
  </div>
  <form class="form" #addSMSForm="ngForm">
    <div class="white-box">
      <div class="form-group row">
        <div class="col-2">
          <label for="b_name">Brand Name</label>
        </div>
        <div class="col-10">
          <input type="text" name="brand" class="form-control" id="example-Brand-input" [(ngModel)]="b_name"
            placeholder="Enter Brand Name" autocomplete="off" (keyup)="getBrands($event,b_name)" #brand="ngModel">
          <auto-complete (close)="merchant_brand_array.length = 0" [dataSets]="merchant_brand_array" dataName="brand_name"
            type="default" (select)="selectedItem($event)" dataSplit='-'></auto-complete>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-2">
          <label for="brandName">Short Brand Name</label>
        </div>
        <div class="col-10">
          <input type="text" class="form-control" placeholder="Enter Short Brand Name" [value]="brandName" (input)="brandName = $event.target.value">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-2">
          <label for="offer_percentage">Offer Percentage</label>
        </div>
        <div class="col-10">
          <input type="text" class="form-control" placeholder="Enter Offer Percentage" [value]="offer_percentage"
            (input)="offer_percentage = $event.target.value">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-2">
          <label for="fromDate">From:&nbsp;&nbsp;</label>
        </div>
            <div class="col-10">
              <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="fromDate" [(ngModel)]="fromDate" (click)="d.toggle()"
                ngbDatepicker #d="ngbDatepicker">
            </div>
      </div>
      <div class="form-group row">
        <div class="col-2">
          <label for="toDate">To:&nbsp;&nbsp;</label>
        </div>
            <div class="col-10">
              <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="toDate" [(ngModel)]="toDate" (click)="b.toggle()"
                ngbDatepicker #b="ngbDatepicker">
            </div>
      </div>
      <div class="form-group row">
        <div class="col-2">
          <label>Status</label>
        </div>
        <div class="col-10">
          <div class="input-group">
            <select class="form-control" (input)="status = $event.target.value">
              <option value="active">active</option>
              <option value="inactive">inactive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <button *ngIf="editOfferId == 0" type="button" [disabled]="alertButtonStatus" class="btn btn-info col-2"
          (click)="onSubmitAddOffer()">Submit</button>
        <button *ngIf="editOfferId && editOfferId != 0" type="button" class="btn btn-info col-2" (click)="onSubmitAddOffer()">Update</button>
        <div class="col-10">
          <p *ngIf="errAddSMSAlert" class="text-danger">{{ errAddSMSAlertMessage }} </p>
        </div>
      </div>
    </div>
  </form>
</div>