<div class="page-wrapper">
  <div class="container form-padding">
    <div class="card">
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-btn">
            <select class="form-control btn btn-dropdown" [(ngModel)]="searchVariable">
              <option value="sms">SMS</option>
              <option value="email">Email</option>
              <option value="push">PushNotification</option>
            </select>
          </div>&nbsp;&nbsp;
        </div>
        <div *ngIf="searchVariable =='push'">
          <label class="col-md-6" style="padding-left: 288px;"><b><u>PushNotification Alerts</u></b></label>
          <form class="form-horizontal" style="padding-top: 20px;" role="form" name="settingForm" #settingForm="ngForm">
            <div class="form-group row">
              <label for="mobile" class="col-sm-1" style="padding-left: 22px;">Mobile</label>
              <div class="col-sm-5">
                <input class="form-control" [pattern]="mobilePattern" name="mobile" type="number" [(ngModel)]="sendPushAlerts.mobile_number"
                  placeholder="Enter Mobile Number For Send PushNotification" id="mobile" required minlength=10
                  #mobile_push="ngModel">
              </div>
              <!-- <label for="example-status-input" class="col-md-2">TYPE:</label>
              <div class="col-sm-5">
                <select class="form-control" name="type" [(ngModel)]="sendPushAlerts.type" id="example-status-input"
                  required>
                  <option selected value="pay" hidden>
                    {{sendPushAlerts.status}}
                  </option>
                  <option *ngFor="let o of options">
                    {{o.name}}
                  </option>
                </select>
              </div>
              <label for="example-status-input" class="col-2 col-form-label">LOAN TYPE:</label>
              <div class="col-sm-5">
                <select class="form-control" name="loanstype" [(ngModel)]="sendPushAlerts.loan_type" id="example-status-input"
                  required>
                  <option selected value="PERSONAL" hidden>
                    {{sendPushAlerts.status}}
                  </option>
                  <option *ngFor="let o of type_options">
                    {{o.name}}
                  </option>
                </select>
              </div> -->
              <div class="text-left col-sm-4">
                <button class="btn btn-success" (click)="SendPushNotification()" [disabled]="settingForm.invalid">Submit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-warning" [disabled]="resetButtonStatus" (click)="reset()"> <i
                    class="fa fa-recycle"> Reset</i></button>
              </div>
              <div *ngIf="mobile_push.invalid && (mobile_push.dirty || mobile_push.touched)">
                <span *ngIf="mobile_push?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="mobile_push?.errors.minlength" class="text-danger">
                  Mobile Number must 10 numbers.
                </span>
                <span *ngIf="!mobile_push.errors.minlength && mobile_push?.errors?.pattern" class="text-danger">
                  Mobile is not valid
                </span>
              </div>
            </div>
          </form>
          <p class="text-danger">{{message}}</p>
        </div>
        <div *ngIf="searchVariable =='sms'">
          <label class="col-md-6" style="padding-left: 288px;"><b><u>SMS Alerts</u></b></label>
          <form class="form-horizontal" style="padding-top: 20px;" role="form" name="settingFormSMS" #settingFormSMS="ngForm">
            <div class="form-group row">
              <label for="mobile" class="col-sm-1" style="padding-left: 22px;">Mobile</label>
              <div class="col-sm-5">
                <input class="form-control" [pattern]="mobilePattern" name="mobile" type="number" [(ngModel)]="sendsmsAlerts.mobile_number"
                  placeholder="Enter Mobile Number For Send SMS" id="mobile" required minlength=10 #mobile_sms="ngModel">
              </div>
              <div class="text-left col-sm-4">
                <button class="btn btn-success" (click)="SendPaymentlinkBySms()" [disabled]="settingFormSMS.invalid">Submit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-warning" [disabled]="resetButtonStatus" (click)="reset()"> <i
                    class="fa fa-recycle"> Reset</i></button>
              </div>
              <div *ngIf="mobile_sms.invalid && (mobile_sms.dirty || mobile_sms.touched)">
                <span *ngIf="mobile_sms?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="mobile_sms?.errors.minlength" class="text-danger">
                  Mobile Number must 10 numbers.
                </span>
                <span *ngIf="!mobile_sms.errors.minlength && mobile_sms?.errors?.pattern" class="text-danger">
                  Mobile is not valid
                </span>
              </div>
            </div>
          </form>
          <p class="text-danger">{{sms_message}}</p>
        </div>


        <div *ngIf="searchVariable =='email'">
          <label class="col-md-6" style="padding-left: 288px;"><b><u>Email Alerts</u></b></label>
          <form class="form-horizontal" style="padding-top: 20px;" role="form" name="settingFormEmail"
            #settingFormEmail="ngForm">
            <div class="form-group row">
              <label for="mobile" class="col-sm-1" style="padding-left: 22px;">Email</label>
              <div class="col-md-5">
                <input autocomplete="off" class="form-control" minlength=4 type="email" [pattern]="emailPattern"
                  [(ngModel)]="SendEmail.email" placeholder="Enter Email" name="email" id="example-email-input" #email="ngModel"
                  required>
              </div>
              <div class="text-left col-sm-4">
                <button class="btn btn-success" (click)="SendEmailAlert()" [disabled]="settingFormEmail.invalid">Submit</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-warning" [disabled]="resetButtonStatus" (click)="reset()"> <i
                    class="fa fa-recycle"> Reset</i></button>
              </div>
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email?.errors.required" class="text-danger">
                  *required.
                </span>
                <span *ngIf="email?.errors.minlength" class="text-danger">
                  Email must be at least 4 characters long.
                </span>
                <span *ngIf="!email.errors.minlength && email?.errors?.pattern" class="text-danger">
                  Email is not valid
                </span>
              </div>
            </div>
          </form>
          <p class="text-danger">{{email_message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>