.btn-dropdown, .btn-dropdown.disabled {
    background: #ffffff;
    border: 1px solid #010202;
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    transition: 0.2s ease-in;
}
.page-wrapper {
    background: #ffffff !important;
    margin-left: 5px !important;
    min-height: 500px !important;
}