<div class="white-box">
  <div class="row">
    <table class="table table-bordered mb-0">
      <thead class="thead-dark">
        <tr>
          <th>S.No</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>User Type</th>
          <th>Set Target</th>
          <th>Target List</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of adminusers; let i = index">
          <td>{{i+1}}</td>
          <td> <a routerLink="/admin-users/add-users/{{user._id}}">{{user.name != undefined ? user.name : '--'}}</a></td>
          <td>{{user.email != undefined ? user.email : '--'}}</td>
          <td>{{user.mobile !=undefined ? user.mobile: '--'}}</td>
          <td>{{user.user_type != undefined ? user.user_type: '--'}}</td>

          <td>
            <ng-template #settargetdata let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Add-Target</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div class="form-group">
                    <div class="input-group datepicker-input">
                      <label for="example-acno-input" class="col-4 col-form-label">Date From :</label>
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="settarget.from_date"
                        ngbDatepicker #d="ngbDatepicker">
                      <button class="input-group-addon" (click)="d.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                  &nbsp; &nbsp;
                  <div class="form-group">
                    <div class="input-group datepicker-input">
                      <label for="example-acno-input" class="col-4 col-form-label"> Date To :</label>
                      <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="settarget.to_date"
                        ngbDatepicker #b="ngbDatepicker">
                      <button class="input-group-addon" (click)="b.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <form class="form-horizontal" role="form" name="settingForm" #settingForm="ngForm">
                  <div class="form-group ">
                    <div class="form-group row">
                      <label for="example-acno-input" class="col-4 col-form-label">Target Number</label>
                      <div class="col-7">
                        <input class="form-control" type="text" name="targetNumber" [(ngModel)]="settarget.target_no"
                          placeholder="Enter Target Number" id="example-acno-input" #targetNumber="ngModel">
                      </div>
                    </div>
                  </div>
                  <div class="text-left">
                    <button class="btn btn-info col-md-3" (click)="SetTarget()" [disabled]="settingForm.invalid ">Submit</button>
                  </div>
                  {{message}}
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
              </div>
            </ng-template>
            <button class="btn btn btn-info" (click)="TemplateEdit(settargetdata,user)">Set Target</button>
          </td>
          <td>
            <a (click)="getTargrtData(user)" data-toggle="modal" data-target="#transModel" style="text-decoration: underline; color:blue">
              <i class="fa fa-external-link"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div style="padding-top: 80px;" class="modal fade" id="transModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Target List</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf=dataFound>
          <div class="table-responsive">
            <div class="card">
              <div class="card-body">
                <table class="table table-bordered mb-0">
                  <thead class="thead-dark">
                    <tr>
                      <th>S.No</th>
                      <th>Target Number</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let target of target_details; let i=index">
                      <td>{{pageStartIndex+i+1}}</td>
                      <td>{{target.target_number}}</td>
                      <td>{{target.target_date_from != undefined ? (target.target_date_from | date: 'fullDate') :
                        '---'}}
                        -
                        {{target.target_date_to != undefined ? (target.target_date_to | date: 'fullDate') : '---'}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="onClickSubmit('pagination',$event )"
            [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
            [directionLinks]="true"></ngb-pagination>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Close</button>
          </div>
        </div>
        <div *ngIf=!dataFound>
          Target data Not-Found
        </div>
      </div>
    </div>
  </div>