<!-- PushAlerts Starts -->



<div class="white-box" *ngIf="!isAddAlert">
  <div class="row p-b-30">
    <h3 class="box-title col-10">Push ALERTS</h3>
    <button class="btn btn-warning col-2 pull-right" (click)="redirectAddPushAlert()">Add Push Alert</button>
  </div>
  <div class="table-responsive" style="text-align: center">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Alert Name</th>
          <th>Alert Content</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody *ngIf="!noAlerts">
        <tr *ngFor="let alert of pushAlerts ; let i = index">
          <td>{{(currentPage-1)*10+i+1}}</td>
          <td>
            <a routerLink="/settings/push-alerts/add/{{alert._id}}/{{currentPage}}">{{alert.alert_name != undefined ? alert.alert_name : '--'}}</a>
          </td>
          <td>{{alert.alert_content != undefined ? alert.alert_content : '--'}}</td>
          <td>{{alert.status != undefined ? alert.status : '--'}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="noAlerts">
        <td colspan="5" style="padding-top: 50px"> SMS Alerts Not Found. </td>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="paginationStatus && !isAddAlert">
  <div class="text-center">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
        <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(convertInt(pager.currentPage)+1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>

<div class="white-box" *ngIf="isAddAlert">
  <div class="row">
    <div class="col-6">
      <h3 class="box-title m-b-0">{{ editAlertId && editAlertId == 0 ? 'ADD PUSH ALERT' : 'EDIT PUSH ALERT'}}</h3>
    </div>
    <div class="col-6">
      <button class="btn btn-warning pull-right" (click)="backPushClicked()">Back</button>
    </div>
  </div>
  <form class="form" #addPushForm="ngForm">
    <p class="text-muted m-b-30 font-13"> </p>
    <div class="form-group row">
      <label for="alert-name" class="col-2 col-form-label">Alert Name</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="addPushAlert.alert_name" placeholder="Enter Alert name" id="alert-name"
          name="alert_name" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-alert-content-input" class="col-2 col-form-label">Alert Content</label>
      <div class="col-10">
        <textarea class="form-control" name="alert_content" type="text" [(ngModel)]="addPushAlert.alert_content" placeholder="Enter Alert Content"
          id="example-alert-content-input" required></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-status-input" class="col-2 col-form-label">Status</label>
      <div class="col-10">
        <select class="form-control" name="status" [(ngModel)]="addPushAlert.status" id="example-status-input" required>
          <option selected value="active" hidden>
            {{addPushAlert.status}}
          </option>
          <option *ngFor="let o of options">
            {{o.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <button *ngIf="editAlertId == 0" type="button" [disabled]="alertButtonStatus" class="btn btn-info col-2" (click)="onSubmitAddPushAlert()">Submit</button>
      <button *ngIf="editAlertId && editAlertId != 0" type="button" class="btn btn-info col-2" (click)="onSubmitUpdatePushAlert()">Update</button>
      <div class="col-10">
        <p *ngIf="erraddPushAlert" class="text-danger">{{ erraddPushAlertMessage }} </p>
      </div>
    </div>
  </form>
</div>