<div class="white-box">
  <h3 class="box-title">Claim Requests</h3>
  <p></p>
  <div class="col-md-12">
    <div class="input-group">
      <div class="input-group-btn">
        <select class="form-control btn btn-default" (input)="searchVariable = $event.target.value">
          <option value="mobile">Mobile No</option>
          <option value="brand">Brand Name</option>
        </select>
      </div>&nbsp;&nbsp;
      <div>
        <input type="text" class="form-control" [value]="searchString" name="searchString" placeholder="Type to search..." (input)="searchString = $event.target.value">
      </div>
      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-info" [disabled]="responseStatus" (click)="search()">
        <i class="fa fa-search"> Search</i>
      </button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-warning" [disabled]="resetButtonShowStatus" (click)="reset()">
        <i class="fa fa-recycle"> Reset</i>
      </button>
    </div>
  </div>
  <p></p>
  <div class="table-responsive" *ngIf="showData">
    <table class="table color-table inverse-table" style="text-align:center">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Mobile No</th>
          <th>Merchant Brand</th>
          <th>Claimed Amount</th>
          <th>Pending Amount</th>
          <th>Approved Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedItems;let i=index" class="w3-hover-blue">
          <td> {{(currentPage-1)*10+i+1}}</td>
          <td> {{item.mobile != undefined ? item.mobile  : '---'}}</td>
          <td> {{item.brand_name != undefined ? item.brand_name  : '---'}}</td>
          <td> {{item.claimed_amt != undefined ? (item.claimed_amt | number : '1.2-2') : '---'}} </td>
          <td> {{item.pending_amt != undefined ? (item.pending_amt | number : '1.2-2') : '---'}} </td>
          <td> {{item.approved_amt != undefined ? (item.approved_amt | number : '1.2-2') : '---'}} </td>
          <td>
            <button *ngIf="item.approved_amt>0" class="btn btn-info m-t-10" [disabled]="claimButton" (click)="claimProcess(item._id,item.approved_amt,item.brand_name)" data-toggle="modal"
              data-target="#ClaimModel">Accept</button>
              <span *ngIf="item.approved_amt<=0">---</span>
              <span *ngIf="item.approved_amt==undefined">---</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div *ngIf="paginationStatus && !errMsg" class="container">
  <div class="text-center">

    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
        <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(convertInt(pager.currentPage))">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="errMsg">
  No Claim Requests Found
</div>
<div style="padding-top: 80px;" class="modal fade" id="ClaimModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Paying to {{brandName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="claimedStatus">
        <div class="row justify-content-md-center">
          <p>claimed</p>
        </div>
        <div class="row justify-content-md-center">
          <img src=".././../assets/images/success.gif" height="50px" width="50px" />
        </div>
      </div>
      <div class="modal-body" *ngIf="checkClaimStatus">
        <div class="form-group">
          <h4>Amount paid : {{claimAmount | number : '1.2-2' }}</h4>
        </div>
        <form>
          <div class="form-group">
            <label for="referenceId">Reference Id:</label>
            <input type="text" class="form-control" placeholder="Enter ReferenceId" [value]="claimRefId" (input)="claimRefId = $event.target.value">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()" >Cancel</button>
          <button class="btn btn-primary" (click)="claim()" [disabled]="claimRefId==''">Claim</button>
        </div>
      </div>
    </div>
  </div>
</div>