<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="white-box">
        <form>
          <div class="form-group row">
            <div class="col-2">
              <label for="b_name" class="col-2 col-form-label">Brand Name</label>
            </div>
            <div class="col-10">
              <input type="text" name="brand" class="form-control" id="example-Brand-input" [(ngModel)]="b_name" placeholder="Enter Brand Name"
                autocomplete="off" (keyup)="getBrands($event,b_name)" #brand="ngModel">
              <auto-complete (close)="merchant_brand_array.length = 0" [dataSets]="merchant_brand_array" dataName="brand_name" type="default"
                (select)="selectedItem($event)" dataSplit='-'></auto-complete>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2">
              <label for="address">Address</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" placeholder="Enter Address" [value]="address" (input)="address = $event.target.value">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2">
              <label for="brandName">Short Brand Name</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" placeholder="Enter Short Brand Name" [value]="brandName" (input)="brandName = $event.target.value">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2">
              <label for="offer_percentage">Offer Percentage</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" placeholder="Enter Offer Percentage" [value]="offer_percentage" (input)="offer_percentage = $event.target.value">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2">
              <label for="fromDate">From:&nbsp;&nbsp;</label>
            </div>
            <div class="col-10">
              <input type='date' style="width: 250px;" class="form-control col-md-3" (input)="fromDate = $event.target.value">&nbsp;&nbsp;

            </div>
          </div>
          <div class="form-group row">
            <div class="col-2">
              <label for="toDate">To:&nbsp;&nbsp;</label>
            </div>
            <div class="col-10">
              <input type='date' style="width: 250px;" class="form-control col-md-3" (input)="toDate = $event.target.value"> &nbsp;&nbsp;
            </div>
          </div>

        </form>
        <div class="form-group row">
          <div class="col-2">
            <label>Status</label>
          </div>
          <div class="col-10">
            <div class="input-group">
              <select class="form-control" (input)="status = $event.target.value">
                <option value="active">active</option>
                <option value="inactive">inactive</option>
              </select>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" data-dismiss="modal" (click)="addOffer()">Update</button>

      </div>
    </div>
  </div>
</div>