<div>
  <button class="btn btn-info m-t-10 pull-right" (click)="addCredits()" data-toggle="modal" data-target="#addCredits">Add</button>
  <br>
  <br>
  <div class="table-responsive card" *ngIf="isDataFound" style="padding-top: 10px;">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Brand</th>
          <th>Credit Limit</th>
          <th>Os Name</th>
          <th>Status</th>
          <th>edit</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data;let i=index" class="w3-hover-blue">
          <td>{{i+1}}</td>
          <td>
            {{item.brand}}
          </td>
          <td>
            {{item.creditLimit}}
          </td>
          <td>{{item.osName}}</td>
          <!-- <td>
            <label class="switch">
              <input type="checkbox" [checked]="item.status?'active':'inactive'">
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
          </td> -->
          <td>{{item.status}}</td>
          <td>
            <i class="fa fa-edit" (click)="edit(item)" data-toggle="modal" data-target="#addCredits">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="padding-top: 80px;" class="modal fade" id="addCredits" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add user Credits</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" #close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="newMobile">Mobile Brand</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enter Mobile Brand" [value]="mobileBrand" (input)="mobileBrand = $event.target.value">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="newMobile">Credit limit</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Enter credit limit" [value]="creditLimit" (input)="creditLimit = $event.target.value">
              </div>
            </div>
          </form>
          <div class="form-group row">
            <div class="col-md-4">
              <label>Os Name</label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <select class="form-control" [(ngModel)]="Os">
                  <option value="" selected disabled hidden>android</option>
                  <option value="android">android</option>
                  <option value="ios">ios</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label>Status</label>
            </div>
            <div class="col-md-8">
              <div class="input-group">
                <select class="form-control" [(ngModel)]="status">
                  <option value="" selected disabled hidden>active</option>
                  <option value="active" selected>active</option>
                  <option value="inactive">inactive</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
            <button *ngIf="addButton" class="btn btn-primary" data-dismiss="modal" (click)="add(close)" [disabled]="mobileBrand=='' ">Save</button>
            <button *ngIf="editButton" class="btn btn-primary" data-dismiss="modal" (click)="Update()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
