<div class="white-box" *ngIf="!transactionId">
  <h3 *ngIf="!transactionId" class="box-title">User Transactions</h3>
  <p></p>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Mobile Filter -->
        <div class="col-md-3">
          <b>MOBILE</b>
          <div class="input-group">
            <input class="form-control" placeholder="Enter Mobile" [(ngModel)]="mobile" required>
          </div>
        </div>
        <!-- Brand Name Filter -->
        <div class="col-md-3">
          <b>Brand Name</b>
          <!--<input type="text" class="form-control" (selectItem)="selectedItem($event)" name="b_name" placeholder="Brand Name to search..." [(ngModel)]="b_name" (keyup)="getBrands($event, b_name)" [ngbTypeahead]="InputAutoFill">-->
          <input type="text" name="brand" class="form-control" id="example-Brand-input" [(ngModel)]="b_name"
            placeholder="Enter Brand Name" autocomplete="off" (keyup)="getBrands($event,b_name)" #ifsc="ngModel">
          <auto-complete (close)="merchant_brand_array.length = 0" [dataSets]="merchant_brand_array" dataName="brand_name"
            type="default" (select)="selectedItem($event)" dataSplit='-'></auto-complete>
        </div>
        <!-- Status Filter -->
        <div class="col-md-3">
          <b>Status</b>
          <div class="input-group">
            <select class="form-control" [(ngModel)]="status">
              <option value="ALL">ALL</option>
              <option value={{stat.value}} *ngFor="let stat of statusOptions">
                {{stat.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">

        <!-- DATE FILTERS -->
        <div class="col-sm-3">
          <b>From Date:</b>
          <div class="input-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="dp" [(ngModel)]="from_date"
                (click)="b.toggle()" ngbDatepicker #b="ngbDatepicker">
            </div>
          </div>
          <!-- <ngb-timepicker [(ngModel)]="from_time" [meridian]="meridian"></ngb-timepicker> -->
        </div>
        <div class="col-sm-3">
          <b>To Date:</b>
          <div class="input-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" onkeydown="return false;" name="dp2" [(ngModel)]="to_date"
                (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <b>&nbsp;</b>
          <div class="input-group">
            <button style="width: 100%" type="button" class="btn btn-info" [disabled]="responseStatus" (click)="onClickSubmit(1)">
              <i class="fa fa-search"> Search</i>
            </button>
          </div>
        </div>
        <div class="col-sm-2">
          <b>&nbsp;</b>
          <div class="input-group">
            <button style="width: 100%" type="button" class="btn btn-warning" [disabled]="resetButtonShowStatus"
              (click)="onClickReset()">
              <i class="fa fa-recycle"> Reset</i>
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
  <p></p>
  <div class="table-responsive" *ngIf="isDataFound">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.No--</th>
          <th>User Details</th>
          <th>Merchant Brand</th>
          <th>Transaction Amount</th>
          <th>Transaction Date</th>
          <th>Reference Id</th>
          <th>Convenience Fee
            <i class="fa fa-percent"></i>
          </th>
          <th>Merchant Fee
            <i class="fa fa-percent"></i>
          </th>
          <th>Credit Due</th>
          <th>Payment Due</th>
          <th>OS</th>
          <th>Transaction Through</th>
          <th>IP Address</th>
          <th>Transaction Status</th>
          <th *ngIf='isSuperAdmin'>Refund</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of transaction_data;let i=index" class="w3-hover-blue">
          <td>
            <!-- <a routerLink="/user/transactions/{{item._id}}/{{currentPage}}">{{pageStartIndex+i+1}}</a> -->
            <a>{{pageStartIndex+i+1}}</a>
          </td>
          <td>{{item.userInfo.length > 0 ? item.userInfo[0].name: '--'}}
            <br />{{item.userInfo.length > 0 ? item.userInfo[0].email: '--'}}
            <br />{{item.userInfo.length > 0 ? item.userInfo[0].mobile_number: '--'}}
          </td>
          <td>{{item.merchantInfo.length > 0 ? item.merchantInfo[0].brand_name : '---'}}</td>
          <td> {{item.amount}} </td>
          <td> {{item.transaction_date | date:'dd-MM-yyyy HH:mm:ss'}} </td>
          <td> {{item.reference_id}} </td>
          <td> {{item.con_fee | number : '1.2-2'}} </td>
          <td> {{item.merchant_commission | number : '1.2-2'}} </td>
          <td>{{ item.credit_due != undefined ? (item.credit_due | number: '1.2-2') : '---' }}</td>
          <td>{{item.payment_due != undefined ? item.payment_due : '---'}}</td>
          <!-- <td *ngIf="item.status == 'Pending' && item.status == 1">
            Success
          </td>
          <td *ngIf="item.status != 'Pending'">
            {{item.status}}
          </td> -->
          <!-- <td> {{item.transaction_for}} </td> -->
          <!-- <td> {{item.remarks}} </td> -->

          <td>{{item.os != undefined ? item.os : '--'}}</td>
          <td>{{ item.trans_through != undefined ? item.trans_through : '---' }}</td>
          <td>{{ item.ip_address != undefined ? item.ip_address : '---' }}</td>
          <td *ngIf="item.status == 0">Initiated</td>
          <td *ngIf="item.status == 1">Success</td>
          <td *ngIf="item.status == 2">Failure</td>
          <td *ngIf="item.status == 3">Canceled</td>
          <td *ngIf="item.status == 4">Refunded</td>
          <td *ngIf="item.status == 5">Paid</td>
          <td *ngIf='isSuperAdmin'>
            <button class="btn btn-info m-t-10" data-toggle="modal" data-target="#reFundModel" [disabled]="item.status == 0 || item.status == 2 || item.status == 3 || item.status == 4"
              (click)="reFundProcess(item)">Refund</button>
            <span *ngIf="item.refund_status == 2">Refund Period Exceeded</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" *ngIf="!isDataFound">
    <h6 class="text-center" style="
    color: red;
    font-size: 18px;">No Data Found</h6>
  </div>
</div>

<div *ngIf="isDataFound">
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" (pageChange)="onClickSubmit($event)"
    [maxSize]="maxSize" [rotate]="true" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true" [directionLinks]="true"></ngb-pagination>
</div>
<div class="modal fade" *ngIf="showModel" id="reFundModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Refund Amount</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" *ngIf="checkRefundStatus && refundStatus == 0">
            <h4>Transaction Amount : {{checkRefund.transaction_amount}}</h4>
            <br>
            <table class="table">
              <tr>
                <th>Name</th>
                <th>Percentage</th>
                <th>Percentage Amount</th>
                <th>Refund Amount</th>
              </tr>
              <!-- <tr>
                <td>
                  <p class="col-form-label">Merchant Commission</p>
                </td>
                <td>
                  <i class="fa fa-percent" aria-hidden="true"></i>
                  <b> {{checkRefund.commission_percentage | number : '1.2-2'}} %</b>
                </td>
                <td>
                  <i class="fa fa-inr" aria-hidden="true"></i>
                  <b> {{checkRefund.commission_percentage_amount | number : '1.2-2'}}</b>
                </td>
                <td>
                  <i class="fa fa-minus text-danger" aria-hidden="true"></i>&nbsp;
                  <b>
                    <i class="fa fa-inr text-danger" aria-hidden="true"> {{checkRefund.commission_amount | number :
                      '1.2-2'}}</i>
                  </b>
                </td>
              </tr> -->
              <tr>
                <td>
                  <p class="col-form-label">User Conveneince fee</p>
                </td>
                <td>
                  <!-- <i class="fa fa-percent" aria-hidden="true"></i> -->
                  <b> {{checkRefund.convenience_percentage | number : '1.2-2'}} %</b>
                </td>
                <td>
                  <i class="fa fa-inr" aria-hidden="true"></i>
                  <b> {{checkRefund.convenience_percentage_amount | number : '1.2-2'}}</b>
                </td>
                <td>
                  <i class="fa fa-plus text-success" aria-hidden="true"></i>&nbsp;
                  <b>
                    <i class="fa fa-inr text-success" aria-hidden="true"> {{checkRefund.convenience_amount | number :
                      '1.2-2'}}
                    </i>
                  </b>
                </td>
              </tr>
            </table>
          </div>
          <div *ngIf="refundStatus == 1">
            <div class="row justify-content-md-center">
              <p>Refunded</p>
            </div>
            <div class="row justify-content-md-center">
              <img src="./../../../assets/images/success.gif" height="50px" width="50px" />
            </div>
          </div>
          <div *ngIf="refundStatus == 2">
            {{refundRemarks|json}}
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="checkRefundStatus">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="refund()">Refund</button>
      </div>
    </div>
  </div>
</div>

<div class="white-box" *ngIf="transactionId">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <div class="row">
            <div class="col-6">
              <h3 class="box-title m-b-0"> EDIT TRANSACTION </h3>
            </div>
            <div class="col-6">
              <button *ngIf="transactionId" class="btn btn-warning pull-right" (click)="backClicked()">Back</button>
            </div>
          </div>
          <p class="text-muted m-b-30 font-13"> </p>
          <div class="form-group row">
            <label for="example-merchant-name-input" class="col-2 col-form-label">Merchant Name</label>
            <div class="col-10">
              <input [readonly]="transactionId" class="form-control" type="text" [(ngModel)]="merchantObj.name"
                placeholder="Enter Merchant Name" id="example-merchant-name-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-merchant-secret-input" class="col-2 col-form-label">Merchant Secret Key</label>
            <div class="col-10">
              <input [readonly]="transactionId" class="form-control" type="text" [(ngModel)]="merchantObj.secret_key"
                placeholder="Enter Merchant Name" id="example-merchant-secret-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-mobile-input" class="col-2 col-form-label">Mobile</label>
            <div class="col-10">
              <input [readonly]="transactionId" class="form-control" type="text" [(ngModel)]="transactionObj.mobile_no"
                placeholder="Enter Mobile Number" id="example-mobile-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-amount-input" class="col-2 col-form-label">Amount</label>
            <div class="col-10">
              <input class="form-control" type="number" [(ngModel)]="transactionObj.amount" placeholder="Enter Amount"
                id="example-amount-input" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-mcommission-input" class="col-2 col-form-label">Merchant Commission</label>
            <div class="col-10">
              <input class="form-control" type="number" [(ngModel)]="transactionObj.merchant_commission" placeholder="Enter Merchant Commission"
                id="example-mcommission-input" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-status-input" class="col-2 col-form-label">Status</label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)]="transactionObj.status" placeholder="Enter Status" id="example-status-input"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-transaction-status-input" class="col-2 col-form-label">Transaction Status</label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)]="transactionObj.transaction_status" placeholder="Enter Transaction Status"
                id="example-transaction-status-input" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-con-fee-input" class="col-2 col-form-label">Convenience Fee </label>
            <div class="col-10">
              <input class="form-control" type="Number" [(ngModel)]="transactionObj.con_fee" placeholder="Enter Convenience Fee"
                id="example-con-fee-input" required>
            </div>
          </div>
          <div class="form-group row">
            <button type="button" class="btn btn-info col-2" (click)="onUpdateTransaction()">Update</button>
            <div class="col-10">
              <p *ngIf="!updateTransactionResponse.success" class="text-danger">{{ updateTransactionResponse.message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>