<div class="white-boxtotal">
  <h3>Transactions</h3>
  <div class="row white-box">
    <div class="col-sm-4">
      <i data-icon="E" class="linea-icon linea-basic"></i>
      <h5> <a [ngStyle]="{'color': 'orange'}">Transactions</a></h5>
      <h2>{{total_transactions}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users"></i>
      <h5> <a [ngStyle]="{'color': 'orange'}">Transactions(Today)</a></h5>
      <h2>{{today_transactions}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users"></i>
      <h5><a [ngStyle]="{'color': 'orange'}">Transactions(Yesterday)</a></h5>
      <h2>{{yesterday_transactions}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row white-box">
    <div class="col-sm-4">
      <i data-icon="E" class="linea-icon linea-basic"></i>
      <h5 class="text-muted vb">Total Transaction amount</h5>
      <h2>
        <i class="fa fa-rupee"> {{total_transactions_amt | numberFormat}}</i>
      </h2>
      <!-- <div class="pull-right">48%
                <i class="fa fa-level-up text-success"></i>
              </div> -->
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users"></i>
      <h5 class="text-muted vb">Transactions amount (Today)</h5>
      <h2>
        <i class="fa fa-rupee"> {{today_transactions_amt | numberFormat}}</i>
      </h2>
      <!-- <div class="pull-right">48%
                  <i class="fa fa-level-up text-success"></i>
                </div> -->
      <div class="progress">
        <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-users"></i>
      <h5 class="text-muted vb">Transactions amount (Yesterday)</h5>
      <h2>
        <i class="fa fa-rupee"> {{yesterday_transactions_amt}}</i>
      </h2>
      <!-- <div class="pull-right">48%
                    <i class="fa fa-level-up text-success"></i>
                  </div> -->
      <div class="progress">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="white-boxtotal">
  <h3>Payments</h3>
  <div class="row white-box">
    <div class="col-sm-3">
      <i data-icon="E" class="linea-icon linea-basic"></i>
      <h5 class="text-muted vb">Pending Payments</h5>
      <h2>{{pending_payments}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-users"></i>
      <h5 class="text-muted vb">Pending Payments(>20)</h5>
      <h2>{{above_due_details ? above_due_details: '0'}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-users"></i>
      <h5 class="text-muted vb">Pending Amount</h5>
      <h2>{{pending_amount| numberFormat}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <i class="fa fa-users"></i>
      <h5 class="text-muted vb">Paid Amount</h5>
      <h2>{{paid_amount | numberFormat}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row white-box">
    <div>
      <form class="form-inline mb-3">
        <div class="form-group">
          <div class="input-group datepicker-input">
            <label>
              <b>From : </b>&nbsp; </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="from_date" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
        &nbsp; &nbsp;
        <div class="form-group">
          <div class="input-group datepicker-input">
            <label>
              <b>To :</b>&nbsp; </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="to_date" ngbDatepicker #b="ngbDatepicker">
            <button class="input-group-addon" (click)="b.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
          &nbsp; &nbsp;
          <button type="button" class="btn btn-success" (click)="onClickSubmit(1)">Submit</button>
          &nbsp; &nbsp;
          <button type="button" class="btn btn-danger" (click)="onClickReset()">Reset</button>
        </div>
      </form>
    </div> 
    <br /> <br /> <br />
    <div class="col-sm-3">
      <i data-icon="E" class="linea-icon linea-basic"></i>
      <h5 class="text-muted vb">Payments</h5>
      <h2>{{yesterday_payments ? yesterday_payments : '0'}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <i data-icon="E" class="linea-icon linea-basic"></i>
      <h5 class="text-muted vb">Paid Amount</h5>
      <h2>{{(yesterday_amount_paid ? yesterday_amount_paid : '0' )| numberFormat}}</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100" style="width:50%;">
          <span class="sr-only">48% Complete</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>