<div class="white-box">
  <h3 class="box-title">Merchants</h3>
  <!-- <p class="text-muted">Add class <code>.color-table .success-table</code></p> -->
  <div class="col-md-12">
    <div class="input-group">
      <div class="input-group-btn">
        <select class="form-control btn btn-default" (change)="reset()" [(ngModel)]="searchVariable">
          <!-- <option value="" selected>Brand Name</option> -->
          <option value="brand_name">Brand Name</option>
          <option value="mobile">Mobile Number</option>
          <option value="name">Name</option>
          <option value="email">Email</option>
          <option value="_id">Merchant Id</option>
          <option value="merchant_status">Merchant Status</option>
        </select>
      </div>&nbsp;&nbsp;
      <input *ngIf="searchVariable!='brand_name' && searchVariable != 'merchant_status'" type="text" class="form-control col-md-4"
        name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
      <!--<input *ngIf="searchVariable=='mobile'" type="text" class="form-control col-md-4" name="searchString" placeholder="Type to search..."
        [(ngModel)]="searchString" [ngbTypeahead]="InputAuotfill">-->
      <!-- <input *ngIf="searchVariable=='merchant_status'" type="text" class="form-control col-md-4" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString"> -->
      <!-- <div class="col-md-4" *ngIf="searchVariable=='merchant_status'">
      <select class="form-control" name="merchant_status" [(ngModel)]="defaultMStatusMsg">
        <option selected value="active" hidden>
          {{defaultMStatusMsg}}
        </option>
        <option *ngFor="let obj of statusOptions">
          {{obj.value}}
        </option>
      </select>
    </div> -->
      <div *ngIf="searchVariable=='merchant_status'">
        <select class="form-control" name="merchant_status" (input)="searchString = $event.target.value">
          <option selected value="active" hidden>
            {{'--Select Status--'}}</option>
          <option *ngFor="let stat of statusOptions">
            {{stat.value}}</option>
        </select>
      </div>
      &nbsp;&nbsp;&nbsp;
      <div *ngIf="searchVariable=='brand_name'">
        <input type="text" name="brand" class="form-control" id="example-Brand-input" [(ngModel)]="b_name" placeholder="Enter Brand Name"
          autocomplete="off" (keyup)="getBrands($event,b_name)" #brand="ngModel">
        <auto-complete (close)="merchant_brand_array.length = 0" [dataSets]="merchant_brand_array" dataName="brand_name"
          type="default" (select)="selectedItem($event)" dataSplit='-'></auto-complete>
      </div>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-info" [disabled]="searchMerchantStatus" (click)="search()">
        <i class="fa fa-search"> Search</i>
      </button>&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-warning" [disabled]="resetButtonStatus" (click)="reset()">
        <i class="fa fa-recycle"> Reset</i>
      </button>
      <span *ngIf="setStatusErrMessage" class="text-danger">
        &nbsp;&nbsp;&nbsp;&nbsp;{{ setStatusErrMessage }}
      </span>
    </div>
  </div>
  <br />
  <div *ngIf="!findStatus">
    No data found
  </div>
  <div class="table-responsive" style="text-align: center" *ngIf="findStatus">
    <table class="table color-table inverse-table">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Name & Email</th>

          <th>Mobile No</th>
          <!-- <th>Change Mobile No</th> -->
          <th>Brand name</th>
          <!-- <th>Company</th> -->
          <!-- <th>Merchant category</th> -->
          <th>NPA Percentage</th>
          <th>Add Sub_merchant</th>
          <div *ngIf="user_type === 'super_admin'">
            <th>View Claims</th>
          </div>
          <!-- <th>Transactions</th>
          <th>Amount </th> -->
          <!-- <br>
            <tr>
          <th>Claimed Amount</th>
        <th>Pending Amount</th>
      <th>Approved Amount
        </th>
      </tr> -->


          <th>Register date</th>
          <th>On Borad date</th>
          <th>Merchant status</th>
          <th>Display Status</th>
          <th>Old mobiles</th>
          <th>Sub merchants</th>
          <th>QR Code</th>
          <th *ngIf="user_type == 'super_admin'">Assian_to</th>
          <!-- <th>Edit</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchants of pagedItems ; let i = index">
          <td>
            <a routerLink="/merchant/add-merchant/{{merchants.merchant._id}}/{{currentPage}}">{{(currentPage-1)*10+i+1}}</a>
          </td>
          <td>
            {{merchants.merchant.name != undefined ? merchants.merchant.name : '--'}}
            <br>{{merchants.merchant.email != undefined ? merchants.merchant.email : '--'}}
          </td>
          <!-- <td>{{merchant.email != undefined ? merchant.email : '--'}}</td> -->
          <td>{{merchants.merchant.mobile != undefined ? merchants.merchant.mobile : '--'}}
            <a style="color:blue">
              <sup>
                <i class="fa fa-edit" (click)="changeMobileNo(merchants.merchant._id,merchants.merchant.mobile)"
                  data-toggle="modal" data-target="#MobileChangeModel">
                </i>
              </sup>
            </a>
          </td>
          <td>{{merchants.merchant.brand_name != undefined ? merchants.merchant.brand_name : '--'}}</td>
          <td>
            <div class="row">
              <div class="col-sm-6">
                <p style="text-align: left">
                  <strong>Transactions:</strong>
                </p>
              </div>
              <div class="col-sm-6">
                <p style="text-align: right">{{merchants.npa.transactions != undefined ? merchants.npa.transactions
                  :'--' }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p style="text-align: left">
                  <strong>Transaction Amount:</strong>
                </p>
              </div>
              <div class="col-sm-6">
                <p style="text-align: right">{{merchants.npa.trans_amount != undefined ? merchants.npa.trans_amount
                  :'--' }}</p>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p style="text-align: left">
                  <strong>Paid Amount:</strong>
                </p>
              </div>
              <div class="col-sm-6">
                <p style="text-align: right">{{merchants.npa.paid_amount != undefined ? merchants.npa.paid_amount :'--'
                  }}</p>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p style="text-align: left">
                  <strong>Npa Percentage:</strong>
                </p>
              </div>
              <div class="col-sm-6">
                <p style="text-align: right">{{merchants.npa.npa_percentage != undefined ? merchants.npa.npa_percentage
                  :'--' }}</p>

              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-info m-t-10" (click)="changeMobileNo(merchants.merchant._id,merchants.merchant.mobile)"
              data-toggle="modal" data-target="#submerchantMobile">Add</button>
          </td>
          <!-- <td>{{merchant.company != undefined ? merchant.company : '--'}}</td>
          <td>{{merchant.merchant_category != undefined ? merchant.merchant_category : '--'}}</td> -->
          <!-- <div *ngIf="user_type === 'sales_team'">
            <td><button class="btn btn-info m-t-10" [disabled]="user_type === 'sales_team'">View</button></td>
          </div>
          <div *ngIf="user_type === 'regional_head'">
            <td><button class="btn btn-info m-t-10" [disabled]="user_type === 'regional_head'">View</button></td>
          </div> -->
          <div *ngIf="user_type === 'super_admin'">
            <td><button class="btn btn-info m-t-10" (click)="redirect(merchant._id)">View</button></td>
          </div>
          <!-- <td>{{merchant.transactions != undefined ? merchant.transactions : '--'}}</td>
          <td>
            <strong>Claimed:</strong>{{merchant.claimed_amt != undefined ? ( merchant.claimed_amt | thousandSuff ):
            '--'}}
            <br>
            <strong>Pending:</strong>{{merchant.pending_amt != undefined ? ( merchant.pending_amt |
            thousandSuff):'--'}}
            <br>
            <strong>Approved:</strong>{{merchant.approved_amt != undefined ? ( merchant.approved_amt | thousandSuff ):
            0}}
          </td> -->
          <td>{{merchants.merchant.register_date != undefined ? (merchants.merchant.register_date |date: 'dd-MM-yyyy')
            : "--"}}</td>
            <td>{{merchants.merchant.onboard_date != undefined ? (merchants.merchant.onboard_date |date: 'dd-MM-yyyy')
                : "--"}}</td>
          <td>
            <!-- <label class="switch" *ngIf="merchants.merchant.merchant_status != undefined && merchants.merchant.merchant_status != 0">
              <input type="checkbox" checked (change)="merchantStatusVerify(merchants.merchant._id,merchants.merchant.merchant_status)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
            <label class="switch" *ngIf="merchants.merchant.merchant_status == undefined || merchants.merchant.merchant_status == 0">
              <input type="checkbox" (change)="merchantStatusVerify(merchants.merchant._id,merchants.merchant.merchant_status)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label> -->
            <label class="switch">
              <input type="checkbox" [checked]="merchants.merchant.merchant_status == 1 || merchants.merchant.merchant_status == 2"
                (change)="merchantStatusVerify(merchants.merchant._id,merchants.merchant.merchant_status)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label>

          </td>
          <!-- <td>{{merchant.token_validity != undefined ? merchant.token_validity : '--'}}</td> -->
          <td>
            <!-- <label class="switch" *ngIf="merchants.merchant.display_status != undefined && merchants.merchant.display_status == 'Active'">
              <input type="checkbox" checked (change)="merchantDisplayStatusVerify(merchants.merchant._id,merchants.merchant.display_status)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
            <label class="switch" *ngIf="merchants.merchant.display_status == undefined || merchants.merchant.display_status == 'Inactive'">
              <input type="checkbox" (change)="merchantDisplayStatusVerify(merchants.merchant._id,merchants.merchant.display_status)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label> -->
            <label class="switch">
              <input type="checkbox" [checked]="merchants.merchant.display_status == 'Active'" (change)="merchantDisplayStatusVerify(merchants.merchant._id,merchants.merchant.display_status)">
              <span class="slider" style="border-radius: 14px;"></span>
            </label>
          </td>

          <td>
            <table>
              <tr *ngFor="let mobile of merchants.merchant.old_mobiles;let ind = index ">
                {{mobile}}
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr *ngFor="let mobile of merchants.merchant.sub_merchant_mobile;let ind = index ">
                {{mobile}}
              </tr>
            </table>
          </td>
          <td>
            <a href="{{qr_download}}api/merchant-download-qrcode/{{merchants.merchant._id}}">
              <i class="fa fa-download"> </i>
            </a>
          </td>
          <td *ngIf="user_type == 'super_admin'">
            <div *ngIf="!merchants.merchant.assigned_status">
              <select style="width:100px" #selectedCategory class="form-control" [(ngModel)]="merchants.created_by"
                (change)="MyMethod(merchants.merchant._id, selectedCategory.value)">
                <option *ngIf="users_data_found" value="all_users">Select a user</option>
                <option *ngIf="!users_data_found" value="no_users">--NO USERS--</option>
                <option *ngFor="let users of usersList" value="{{users._id}}">{{users.name}}
                </option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container" *ngIf="paginationStatus">
  <div class="text-center">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
        <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
        <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(convertInt(pager.currentPage) + 1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>
<div style="padding-top: 80px;" class="modal fade" id="MobileChangeModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="showModal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Your Mobile Number</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" #close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h4>Current Mobile Number : {{currentMobileNo }}</h4>
        </div>
        <form>
          <div class="form-group">
            <label for="newMobile">New Mobile No:</label>
            <input type="text" class="form-control" placeholder="Enter mobile Number" [value]="newMobile" (input)="newMobile = $event.target.value">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" [disabled]="changeButton" (click)="change(close)" [disabled]="newMobile==''">Change</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top: 80px;" class="modal fade" id="submerchantMobile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="showModal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Sub merchant mobile number</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()" #close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h4>Merchant Mobile Number : {{currentMobileNo }}</h4>
        </div>
        <form>
          <div class="form-group">
            <label for="newMobile">Sub merchant Mobile No:</label>
            <input type="text" class="form-control" placeholder="Enter mobile Number" [value]="newMobile" (input)="newMobile = $event.target.value">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary" [disabled]="changeButton" (click)="addSubmerchant(close)" (mouseover)="checkMobileNumber()"
            [disabled]="newMobile==''">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>